.audio-playlist {
	position: absolute;
	top: 0;
	right: 0;
    padding: 0;
	width: 320px;
	height: 100%;
	overflow: hidden;
	background: rgba(35, 34, 34, 0.8);

	.playlist-title {
		color: white;
		font-size: 24px;
		font-family: 'din-medium', sans-serif;
		text-align: center;
		letter-spacing: 1px;
		padding: 10px;
	}

	.audio-it {

		audio {
			width: 100%;
		}
	}

	.equalizer {
		position: relative;
		margin: 0 auto;
	}

	.equalizer_bar {
		float: left;
	}

	.equalizer_bar_component {
		float: left;
		width: 100%;
	}

	.plyr--audio .plyr__controls {
		padding: 5px;
		color: white;
		border: none;
		border-top: 1px solid #fff;
		background: rgba(35, 34, 34, 0.8);
	} 
}

@include breakpoint(mobile) {

	.audio-playlist {
		width: 100%;
		position: relative;

		.playlist-title {
		}

		.equalizer {
		}

		.equalizer_bar {
		}

		.equalizer_bar_component {
		}

		.plyr--audio .plyr__controls {
		}
	}
}