.form {

	text-align: center;

	&.login {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		padding: 40px 0;
	}
}
	
	.form__title {
		color: #000;
		font-size: 30px;
		font-family: 'din-condensed-bold', sans-serif;
		text-align: center;
		margin-bottom: 20px;

		span {
			color: #911A1D;
		}

		&.title-img {
			margin-bottom: 40px;

			img {
				display: block;
				max-width: 100%;
				margin: 0 auto;
			}
		}
	}

	.form__text {
		color: #2D2E2D;
		font-size: 24px;
		font-family: 'din-condensed-bold', sans-serif;
		margin-bottom: 10px;
		line-height: 1.3;
	}

	.form-group {
		position: relative;
		margin-bottom: 10px;
	}

		label {
			position: relative;
			display: block;
			color: #2D2E2D;	
			font-size: 16px;
			text-align: left;
			padding: 4px 0;

			&.cb-dummy {
				display: inline-block;
				padding-left: 19px;
				cursor: pointer;

				&:before {
					content: " ";
					position: absolute;
					top: 50%;
					left: 0;
					width: 14px;
					height: 14px;
					margin-top: -7px;
					background: url('../img/cb-rb.png') no-repeat;
					background-position: 0 0;
				}
			}

			&.rb-dummy {
				display: inline-block;
				padding-left: 19px;
				cursor: pointer;

				&:before {
					content: " ";
					position: absolute;
					top: 50%;
					left: 0;
					width: 14px;
					height: 14px;
					margin-top: -7px;
					background: url('../img/cb-rb.png') no-repeat;
					background-position: 0 -30px;
				}
			}

			&.small {
				font-size: 12px;
			}

			span {
				color: #931A1D;
			}
		}

		.form-control {
			display: block;
			width: 100%;
			height: 38px;
			padding: 2px 10px;
			color: #2D2E2D;	
			font-size: 16px;
			border: 1px solid #911A1D;
			border-radius: 0;
			background: white;

			&#password {

				+ .fa {
					position: absolute;
					bottom: 12px;
					right: 10px;
					cursor: pointer;
				   pointer-events: all;
				}
			}

		}

		.cb, .rb {
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
			width: 0;
			height: 0;
			visibility: hidden;
		}

		.cb {

			&:checked + label.cb-dummy:before {
				background-position: 0 -15px;				
			}
		}

		.rb {

			&:checked + label.rb-dummy:before {
				background-position: 0 -45px;				
			}
		}

		.select__block {
			position: relative;
			text-align: left;

			select {
				display: block;
				width: 100%;
				padding: 5px;
				color: #2D2E2D;	
				font-size: 16px;
				border: 1px solid #911A1D;
				background: white;
				cursor: pointer;
			}

			&:before {
				content: " ";
				position: absolute;
				top: 50%;
				right: 10px;
				margin-top: -2px;
				border-right: 4px solid transparent;
				border-left: 4px solid transparent;
				border-top: 4px solid #2d2d2d;
				pointer-events: none;
			}
		}

		.textarea {
			display: block;
			width: 100%;
			height: 75px;
			padding: 10px;
			color: #2D2E2D;	
			font-size: 16px;
			border: 1px solid #911A1D;
			background: white;
		}

	.form__link {
		color: #930005;
		font-size: 16px;
		font-family: 'din-condensed-bold', sans-serif;

		&:hover {
			color: #930005;
		}
	}

	.form__button-block {
		margin-bottom: 20px;

		.button {
			display: inline-block;
			min-width: 180px;
			padding: 6px 30px;
			margin: 0 auto;
			color: white;
			font-size: 20px;
			font-family: 'din-condensed-bold', sans-serif;
			text-align: center;
			letter-spacing: 1px;
		    text-transform: uppercase;
		    border: 2px solid #911A1D;
		    background: #911A1D;
		    cursor: pointer;
		}

		.button.type2 {
			border: 2px solid white;
			background: none;
		}
	}
	
	.form__text-small {
		font-size: 16px;
		font-family: 'din-regular', sans-serif;
		margin-bottom: 30px;

		a {
			color: #930005;

		}
	}

	.form__social-block {
		text-align: center;
	
		.social-link {
			display: inline-block;
			width: 35px;
			height: 35px;
			margin: 0 20px;
			background: url('../img/icons.png') no-repeat;
			background-position: 0 -150px;
		}
		.social-link.tw {
			background-position: 0 -186px;
		}
		.social-link.gp {
			background-position: 0 -320px;
		}
	}

	.share-link {
		position: relative;
		margin-bottom: 20px;
		padding-right: 80px;
		font-family: 'din-regular', sans-serif;
		text-align: left;
		

		span {
			position: relative;
			display: block;
			width: 100%;
			padding: 4px 10px 4px 24px;
			background: #C0BFBF;

			&:before {
				content: " ";
				position: absolute;
				width: 12px;
				height: 16px;
				top: 50%;
				left: 5px;
				margin-top: -8px;
				background: url('../img/icons.png') no-repeat;
				background-position: 0 -356px;
			}
		}

		a {
			position: absolute;
			top: 0;
			right: 0;
			color: #fff;
			font-size: 12px;
			font-family: 'din-condensed-bold', sans-serif;
			text-transform: uppercase;
		    padding: 5px 10px;
		    letter-spacing: 1px;
			background: #930005;
		}
	}

.form__member {

}

@include breakpoint(desktop) {
	.form {
	
	}
		
		.form__title {

		}

		.form__text {

		}

		.form__block {

		}

			.label {
			
			}
			.label.small {

			}

			.input {

			}

			.cb, .rb {

			}

			.cb {

			}

			.rb {

			}

			.select__block {

				select {

				}
			}

		.form__button-block {

			.button {
			}

			.button.type2 {
			}
		}
		
		.form__text-small {

		}

		.form__social-block {
		
			.social {

			}
			.social.tw {

			}
			.social.gp {

			}
		}

	.form__member {

	}
}

@include breakpoint(tablet) {
	.form {
	
	}
		
		.form__title {

		}

		.form__text {

		}

		.form__block {

		}

			.label {
			
			}
			.label.small {

			}

			.input {

			}

			.cb, .rb {

			}

			.cb {

			}

			.rb {

			}

			.select__block {

				select {

				}
			}

		.form__button-block {

			.button {
			}

			.button.type2 {
			}
		}
		
		.form__text-small {

		}

		.form__social-block {
		
			.social {

			}
			.social.tw {

			}
			.social.gp {

			}
		}

	.form__member {

	}
}

@include breakpoint(mobile) {
	.form {
	
	}
		
		.form__title {

		}

		.form__text {

		}

		.form__block {

		}

			.label {
			
			}
			.label.small {

			}

			.input {

			}

			.cb, .rb {

			}

			.cb {

			}

			.rb {

			}

			.select__block {

				select {

				}
			}

		.form__button-block {

			.button {
				margin-bottom: 20px;
			}

			.button.type2 {
			}
		}
		
		.form__text-small {

		}

		.form__social-block {
		
			.social {

			}
			.social.tw {

			}
			.social.gp {

			}
		}

	.form__member {

	}
}