/* MODAL =========================================*/
/*================================================*/
	body.modal-open {
	}
	
	.modal {
		padding: 0 !important;

		&.fade {
		}

		.modal-dialog {
			border-top: 3px solid #931B1E;
			max-width: 450px;
			background: url('../img/modal-bg.jpg') no-repeat;
			background-size: cover;
			background-position: center;

			.modal-content {
				border-radius: 0;
				background: none;

				.modal-header {
					border: none;
					position: relative;

					.close {
						position: absolute;
						float: none;
						top: 10px;
						left: 20px;
					}

					.modal-title {
						margin-bottom: 0;

						&.title-img {
							margin-bottom: 20px;

							img {
								display: block;
								max-width: 100%;
								margin: 0 auto;
							}
						}
					}

					.modal-step {
						position: absolute;
						top: 10px;
						right: 20px;
						color: #7C7C7C;
						font-size: 18px;
						font-family: 'din-condensed-bold', sans-serif;
						letter-spacing: 2px;

						span {
							color: #931A1D;
						}
					}
				}

				.modal-body {
					padding: 0 40px;

					.modal-text {
						font-size: 28px;
						font-family: 'din-pro-bold', sans-serif;
						text-align: center;
						line-height: 1.3;
						margin-bottom: 30px;

						span {
							font-size: 18px;
						}
					}

					p {

					}

					.form__button-block {

						&.form-button {

							.button {
								min-width: 80px;
								margin: 0 20px;
							}

							.button.type2 {
								border: 2px solid #931A1D;
								color: #931A1D;
							}
						}
					}
				}

				.modal-footer {
					border: none;

					button {

					}
				}
			}
		}

		&.smtv-offline {
			
			.modal-dialog {
				.modal-header {

					.smtv-offline-img {

						img {
							display: block;
							max-width: 100%;
							margin: 0 auto;
						}
					}
				}

				.modal-body {
					padding: 0 20px;

					.modal-text {
						font-size: 18px;
						font-family: 'din-alternate-bold', sans-serif;
						text-align: center;
					}
				}	
			}		
		}
	}

	.modal.modal-contact {
		background: rgba(0,0,0,0.7);

		.modal-dialog {
			width: 100%;
		    max-width: 800px;
			background: transparent;
			border: none;

			.modal-content {
				box-shadow: none;
				border: none;

				.modal-header {
					padding-top: 40px;
					margin-bottom: 60px;

					.close {
						left: auto;
						right: 20px;
						color: #fff;
						font-size: 30px;
						font-family: 'din-light', sans-serif;
						opacity: 1;
					}

					.modal-title {
						color: #930005;
						font-size: 50px;
						font-family: 'din-condensed-bold', sans-serif;
						letter-spacing: 2px;
						text-align: center;
						line-height: 1;

						span {
							display: block;
							color: #fff;
							font-size: 18px;
							font-family: 'din-pro-regular', sans-serif;
							letter-spacing: 0;
							margin-bottom: 10px;
						}												
					}
				}

				.modal-body {
					padding: 0 20px;

					.contact-card {
						padding: 20px 30px;
						background: #fff;
						margin-bottom: 30px;

						.card-name {
							color: #000;
							font-size: 24px;
							font-family: 'din-pro-bold', sans-serif;

							span {
								display: block;
								color: #919090;
								font-size: 14px;
								font-family: 'din-pro-regular', sans-serif;
							}
						}

						.card-text {
							color: #930005;
							font-family: DIN-Medium, sans-serif;
							margin-bottom: 5px;

							i {
								margin-right: 10px;
							}

							span {
								word-wrap: break-word;
								background: rgba(147, 0, 5, 0.2);
							}
						}
					}
					
				}
			}
		}
	}

@include breakpoint(mobile) {
	.modal.modal-contact {

		.modal-dialog {
			margin: 0;

			.modal-content {

				.modal-header {
					margin-bottom: 10px;
				}
			}
		}
	}
}