.pagination__block {
	text-align: center;
}

.pagination {
	border-radius: 0;

	> li {
		
		> a {
			color: inherit;
			font-family: 'din-regular', sans-serif;
			border: none !important;

			&:hover, &:focus {
				color: white;
				background-color: #911A1D !important;
			}

			&:first-child, 
			&:last-child {
				border-radius: 0;
			}
		}
	}

	> li.active {

		> a {
			background-color: #911A1D;
		}
	}	
}