/* PLYR */
.plyr--video .plyr__controls {
	padding: 20px 10px;
	background: #000;
}

@include breakpoint(mobile) {
	.plyr--video .plyr__controls {
		padding: 20px 10px;
		background: #000;
		top: 100%;
		bottom: auto;
	}
}