.search-bar {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 102;

	.search-form {
		width: 100%;
		height: 60px;

		.search-input {
		    height: 100%;
		    width: 100%;
		    border: none;
		    padding: 10px 100px;
		    font-size: 24px;
		}

		.search-close {
			position: absolute;
			top: 50%;
			right: 50px;
			font-size: 24px;
			transform: translateY(-50%);
			-webkit0transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			z-index: 1;
			cursor: pointer;
		}
	}
}

.search-button-mobile {
	display: none;
}

.search-mobile {
	display: none;
}

@include breakpoint(wide) {
	.search-bar {

		.search-form {
			height: 120px;

			.search-input {
			}

			.search-close {
			}
		}
	}
}

@include breakpoint(mobile) {
	.search-button {

	}
	.search-bar {

		.search-form {
			height: 60px;

			.search-input {
			    padding: 10px 50px 10px 20px;
			}

			.search-close {
				right: 15px;
			}
		}
	}

	.nav .menu-link.search {
		display: none;
	}

	.search-button-mobile {
	    display: block;
	    position: relative;
	    float: right;
	    color: white;
	    margin-right: 30px;
	    font-size: 20px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    cursor: pointer;
	}
}