.home-video-block{padding:30px 20px 20px;background:url("../img/home-video-bg.jpg") no-repeat;-moz-background-size:cover;background-size:cover}.home-video-block .boxstory{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border:none}.home-video-block .boxstory .boxstory__content{background:transparent}.home-video-block .boxstory .boxstory__content .boxstory__title{color:white}.home-video-block .boxstory .boxstory__content .boxstory__date{color:white}.home-video-block .boxstory .boxstory__content .boxstory__text{color:white}.home-video-block .boxstory .boxstory__content .boxstory__link{color:white}

/*# sourceMappingURL=../maps/pages/homepage.css.map */
