<!-- SECTION -->
<section class="block">
    <div class="block__title"><h2>Newest</h2></div>

    <div class="block__inner"></div>

    <!-- SIDEBAR -->
    <div class="sidebar float-right">
    	<!-- IMAGE -->
		<div class="sidebar__block"></div>

    	<!-- VIDEO -->
    	<div class="sidebar__block"></div>

    	<!-- ADS -->
    	<div class="sidebar__block"></div>
    	

    	<!-- SIDEBAR LIST -->
    	<div class="sidebar__block">
    		<div class="sidebar__list-block">
    			<div class="sidebar__block-head"><h2>Latest News</h2></div>

    			<ul class="sidebar__list">
    				<li>
    					<div class="sidebar__list-it">
    						<div class="sidebar__list-num">1</div>
    						
    						<div class="sidebar__list-content">
	    						<h3 class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</h3>

	    						<div class="sidebar__list-text">
	    							<p>1. Images and Worlds...</p>
	    						</div>
    						</div>
    					</div>
    				</li>
    			</ul>   			
    		</div>
    	</div>

    	<!-- SIDEBAR TWEET -->
    	<div class="sidebar__block">
    		<div class="sidebar__block-head">Latest News</div>

    		<div class="sidebar__tweet"></div>
    	</div>
    </div>
</section>	

<!-- BOXSTORY -->
<div class="boxstory">
	<div class="boxstory__img">
	    <img src="" alt="">
	    <div class="boxstory__label"></div>
	    <div class="boxstory__icon"><img src="assets/img/icon_hot.png" alt=""><span>Hot</span></div>
	</div>

	<div class="boxstory__content">
	    <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	    <time class="boxstory__date">11:07 - Agustus 2017</time>

	    <div class="boxstory__text">
	        <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	    </div>

	    <a href="#" class="boxstory__link">Selengkapnya</a>
	</div>
</div>

<!-- BOXSTORY VIDEO -->
<div class="boxstory">
	<div class="boxstory__img">
	    <img src="" alt="">
	    <div class="boxstory__icon play"></div>
	</div>

	<div class="boxstory__content">
	    <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	    <time class="boxstory__date">11:07 - Agustus 2017</time>

	    <div class="boxstory__text">
	        <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	    </div>

	    <a href="#" class="boxstory__link">Selengkapnya</a>
	</div>
</div>

<!-- COMMENTBOX -->
<div class="comment">
	<div class="container">
		<div class="comment__head clearfix">
			<div class="button__block">
				<a href="#" class="button">Log In to Comment</a>
			</div>

			<div class="comment__head-title">666 COMMENTS</div>

			<div class="comment__head-name">Jonathan Doe</div>
		</div>

		<div class="comment__body">
			<div class="comment__area">
				<div class="select__block">
					<select name="" id="">
						<option value="">Sort by</option>
						<option value="">Newest</option>
						<option value="">Oldest</option>
					</select>
				</div>
				<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

				<form action="">
					<div class="form__block no-margin">
						<textarea class="textarea" name="" id="" cols="30" rows="10"></textarea>
					</div>

					<div class="form__button-block">
						<button class="button">Post as John Doe</button>
					</div>
				</form>
			</div>
			<ul class="comment__list">
				<li>
					<div class="comment__it">
						<div class="comment__img"><img src="" alt=""></div>

						<div class="comment__content">
							<div class="comment__name">
								Budi Ojan
								<time>5 hours ago</time>
							</div>

							<div class="comment__text">
								<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- PHOTO SLIDER -->
<section class="block">
	<div class="container">
		<div class="article__section-title"><h2>Photo Gallery</h2></div>
	</div>

	<div class="gallery">
		<div class="gallery__slider-cont">
			<div class="photo-slider">
				<div class="photo-slider-it">
					<div class="photo-slider-img"><img src="http://via.placeholder.com/300x250" alt=""></div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- VIDEO SLIDER -->
<section class="block">
	<div class="container">
		<div class="article__section-title"><h2>Video Gallery</h2></div>
	
		<div class="gallery">
			<div class="gallery__slider-cont">
				<div class="video-slider">
					<div class="video-slider-it">
						<div class="video-slider-iframe">
							<iframe class="youtube" width="100%" height="360" src="https://www.youtube.com/embed/tKxQQ_EqgQg" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ADS -->
<div class="ads__block">
	<img src="" alt="">
</div>

<!-- FORM -->
<form class="form" action="">
	<div class="form__title"></div>

	<div class="form__text"></div>

	<div class="form__block">
		<label for="" class="label"></label>
		<input type="text" class="input">
	</div>

	<div class="form__button-block">
		<button class="button"></button>
		<button class="button type2"></button>
	</div>

	<div class="form__text-small"></div>

	<div class="form__social-block">
		<a href="#" class="social">Facebook</a>
		<a href="#" class="social tw">Twitter</a>
		<a href="#" class="social gp">Google+</a>
	</div>

	<div class="form__block">
		<input type="checkbox" class="cb">
		<label for="" class="label small"></label>
	</div>

	<div class="form__block">
		<input type="radio" class="rb">
		<label for="" class="label small"></label>
	</div>

	<div class="form__block">
		<div class="select__block">
			<select name="" id="">
				<option value=""></option>
			</select>
		</div>
	</div>
</form>

<!-- MEMBER -->
<div class="member">
	<div class="member__sidebar">
		<div class="member__sidebar-head">
			<div class="member__photo">
				<img src="" alt="">

				<div class="member__photo-icon"><img src="" alt=""></div>
			</div>

			<div class="member__name"></div>

			<div class="member__loc"></div>
		</div>

		<div class="member__sidebar-body">
			<div class="member__menu">
				<ul class="member__menu-list">
					<li><a href="#" class="member__menu-link"></a></li>
				</ul>
			</div>

			<div class="member__social">
				<a href="#" class="social">Facebook</a>
				<a href="#" class="social tw">Twitter</a>
				<a href="#" class="social ig">Instagram</a>
			</div>
		</div>		
	</div>

	<div class="member__main">
		<!-- POINT -->
		<div class="member__point-block">
			<div class="member__point">
				1571
				<span>Point</span>
			</div>

			<div class="member__point-button"><a href="#" class="button"></a></div>

			<div class="member__point-text">Exp date 17 - 12 - 2018</div>						
		</div>
		
		<!-- EDIT -->
		<form action="" class="form form__member">
			<div class="form__block">
				<label for="" class="label"></label>
				<input type="text" class="input">
				<div class="form__member-text"></div>
				<div class="form__member-edit"></div>
			</div>

			<div class="form__button-block">
				<button class="button"></button>
				<button class="button type2"></button>
			</div>
		</form>

		<!-- LIBRARY -->
		<section class="block">
			<div class="library">
				<div class="library__title"><h2>Watch offline videos</h2></div>

				<div class="library__slider-cont">
					<div class="library__slider">
						<div class="library__it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">The Trip - Kelompok Penerbang Roket Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <div class="boxstory__text">
								        <p>2500 point</p>
								    </div>

								    <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
								</div>
							</div>
						</div>

						<!-- REDEEM -->
						<div class="library__it">
							<div class="boxstory redeem">
								<div class="boxstory__img">
								    <img src="" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon_hot.png" alt=""></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <div class="boxstory__text">
								        <p>2500 point</p>
								    </div>

								    <a href="#" class="boxstory__link">Selengkapnya</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<!-- WRITERS PAGE -->
<section class="block writer">
	<div class="writer__img"><img src="http://via.placeholder.com/1170x320" alt=""></div>

	<div class="writer__block">
		<div class="writer__photo"><img src="http://via.placeholder.com/180x180" alt=""></div>

		<div class="writer__desc">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet volutpat velit, at suscipit tellus. Cras ac urna sed leo semper gravida. Quisque cursus urna mi, quis ultricies ligula ornare sed. In eget lectus tempor, euismod felis ac, facilisis turpis. Sed porttitor nisl tincidunt mi ornare blandit. In tempor nec nisl nec dictum. Vivamus sit amet leo purus. In et ex purus.</p>
		</div>
	</div>
</section>

<!-- TV -->
<div class="tv">
	<div class="tv__banner">
		<div class="tv__banner-img"><img src="http://via.placeholder.com/1170x500" alt=""></div>

		<div class="tv__banner-content">
			<div class="tv__banner-logo"><img src="assets/img/logo-trip.png" alt=""></div>

			<h2 class="tv__banner-title">SCALLER - Eps 3</h2>

			<div class="tv__banner-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra.</div>

			<div class="tv__banner-button form__button-block"><a href="#" class="button type2">Watch the Trip</a></div>
		</div>
	</div>

	<!-- TV PLAYER -->
	<div class="tv__player">
		<div class="tv__player-video">
			<iframe src="" frameborder="0"></iframe>
		</div>

		<div class="tv__player-body">
			<div class="tv__player-content">
				<h1 class="tv__player-title">THE TRIP - SCALLER - Eps 3</h1>

				<ul class="tv__player-desc">
					<li>11.07 - Agustus 2017</li>
					<li>666 Views</li>
					<li>666 Likes</li>
				</ul>
			</div>

			<div class="share">
				<a href="#" class="share-button">Like</a>
				<a href="#" class="share-button fb">Share</a>
				<a href="#" class="share-button tw">Share</a>
			</div>
		</div>
	</div>

	<div class="tv__label">
		<div class="row">
			<div class="col-sm-3">
				<div class="tv__label-title">The Trip Playlist</div>					
			</div>

			<div class="col-sm-9">
				<ul class="tv__label-list">
					<li>
						<a href="#" class="tv__label-link">Newest</a>
					</li>
					<li>
						<a href="#" class="tv__label-link">Favorites</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="tv__slider-cont">
		<div class="tv__slider">
			<div class="tv__slider-it">
				<div class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></div>

				<div class="tv__slider-title">Kelompok Penerbang Roket - Eps. 3</div>
			</div>
		</div>
	</div>
</div>

<!-- TRIGGER MODAL WITH BUTTON -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- MODAL -->
<div id="myModal" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <!-- MODAL CONTENT-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>