
@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper" class="additional fof">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
            <section class="block no-margin">
                <div class="fof__img"><img src="assets/img/404-bg.jpg" alt=""></div>
                <div class="fof__text"><p>The page you were looking for doesn’t exist.</p></div>
                <div class="form__button-block"><a href="#" class="button">Back To Home</a></div>
            </section>


@@include('../Shared/footer.html', {
       
})