@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper" class="additional">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			<section class="block no-margin">
				<div class="additional__media">
					<img src="http://via.placeholder.com/1900x400" alt="">
				</div>
				<div class="container">
					<h1 class="title">About Us</h1>

					<div class="article__main">
						<h1>Neque porro quisquam est qui dolorem</h1>

						<h2>Neque porro quisquam est qui dolorem</h2>

						<h3>Neque porro quisquam est qui dolorem</h3>

						<h4>Neque porro quisquam est qui dolorem</h4>

						<h5>Neque porro quisquam est qui dolorem</h5>

						<h6>Neque porro quisquam est qui dolorem</h6>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor. Maecenas luctus ante odio, et consectetur tortor rutrum in. Sed tincidunt, leo in maximus efficitur, justo nisi eleifend enim, in elementum ex tellus et lacus. Morbi sodales placerat nibh sed condimentum. Praesent ornare at urna ac ultrices. Aenean ac tempor eros. Cras placerat massa eget feugiat blandit. Quisque malesuada diam elementum nisl fringilla, porttitor laoreet nibh fermentum. Mauris sit amet imperdiet neque, et ultrices lacus.</p>

						<ul>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
						</ul>

						<ol>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
						</ol>

						<blockquote>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</blockquote>

						<p>Neque porro quisquam <a href="#">est qui dolorem ipsum quia</a> dolor sit amet</p>

						<div class="media">
							<img src="http://via.placeholder.com/600x400" alt="">
							<div class="caption">Photo caption</div>
						</div>

						<div class="media">
							<iframe class="youtube" width="100%" height="360" src="https://www.youtube.com/embed/tKxQQ_EqgQg" frameborder="0" allowfullscreen></iframe>
						</div>

						<table>
							<thead>
								<tr>
									<th>Lorem Ipsum</th>
									<th>Lorem Ipsum</th>
									<th>Lorem Ipsum</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>Neque porro quisquam est qui</td>
									<td>Neque porro quisquam est qui</td>
									<td>Neque porro quisquam est qui</td>
								</tr>
								<tr>
									<td>Neque porro quisquam est qui</td>
									<td>Neque porro quisquam est qui</td>
									<td>Neque porro quisquam est qui</td>
								</tr>
								<tr>
									<td>Neque porro quisquam est qui</td>
									<td>Neque porro quisquam est qui</td>
									<td>Neque porro quisquam est qui</td>
								</tr>
							</tbody>
						</table>

						<div class="tags">
							<div class="tags__title">TAGS:</div>

							<ul class="tags__list">
								<li><a href="#" class="tags__link">Lorem Ipsum</a></li>
								<li><a href="#" class="tags__link">Lorem Ipsum</a></li>
								<li><a href="#" class="tags__link">Lorem Ipsum</a></li>
								<li><a href="#" class="tags__link">Lorem Ipsum</a></li>
								<li><a href="#" class="tags__link">Lorem Ipsum</a></li>
							</ul>
						</div>
					</div>

					<div class="form__button-block text-center padding-top-20 no-margin">
						<a href="#" class="button">Back to Home</a>
					</div>
				</div>
			</section>

@@include('../Shared/footer.html', {
       
})