
@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper" class="additional contact">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			<div class="container">
				<section class="block no-margin padding-top-40 padding-bottom-40">
					<h1 class="contact__title">Get In Touch</h1>

					<div class="row">
						<div class="col-sm-6">
							<div class="contact__map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44873.777136417804!2d106.84082325150412!3d-6.221598530641227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f46c25499983%3A0x865de36846fb5edb!2sMonument+of+the+Proclamation!5e0!3m2!1sen!2sid!4v1508696337737" frameborder="0" style="border:0" allowfullscreen></iframe>							
							</div>

							<div class="contact__subtitle">
								<i class="fa fa-building"></i> <span>PT. Djarum</span>
							</div>

							<div class="contact__text">
								<span>Jl. Ks. Tubun 2C No.57, RT.3/RW.1,</span>
							</div> 

							<div class="contact__text">
								<span>Slipi, Palmerah, Kota Jakarta Barat,</span>
							</div>

							<div class="contact__text">
								<span>Daerah Khusus Ibukota Jakarta 11410, Indonesia</span>
							</div>

							<br>

							<div class="contact__text">
								<i class="fa fa-phone"></i> <span>+62 21 5346901</span>
							</div>

							<br>

							<div class="contact__text">
								<i class="fa fa-envelope"></i> <span>Info@djarum.com</span>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="contact__subtitle margin-bottom-30"><span>Leave us a message</span></div>

							<form action="" class="form contact__form">
								<div class="form-group">
									<label for="">Name</label>
									<input type="text" class="form-control">
								</div>
								<div class="form-group">
									<label for="">Email</label>
									<input type="email" class="form-control">
								</div>
								<div class="form-group">
									<label for="">Phone Number</label>
									<input type="phone" class="form-control">
								</div>
								<div class="form-group">
									<label for="">Your Message</label>
									<textarea name="" id="" class="textarea"></textarea>
								</div>
								<div class="form__button-block">
									<button class="button">Send</button>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>

@@include('../Shared/footer.html', {
       
})