@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
        <!-- HEADER -->
        @@include('../Shared/header.html', {
       
        })
        <!-- HEADER -->

        <div id="content">

<div class="home-slider-block">
    <div class="home__slider">
        <div class="home__slider-it">
            <div class="home__slider-img"><img src="http://via.placeholder.com/2000x600" alt=""></div>

            <div class="home__slider-content">
                <h1 class="home__slider-title">
                    SUPERGLAD RILIS SINGLE TERBARU, UMUMKAN ‘PENGGANTI’ BULUK
                </h1>
                <a class="home__slider-button button">Cek Disini</a>
            </div>
        </div>

        <div class="home__slider-it">
            <div class="home__slider-img"><img src="http://via.placeholder.com/2000x600" alt=""></div>

            <div class="home__slider-content">
                <h1 class="home__slider-title">
                    SUPERGLAD RILIS SINGLE TERBARU, UMUMKAN ‘PENGGANTI’ BULUK
                </h1>
                <a class="home__slider-button button">Cek Disini</a>
            </div>
        </div>

        <div class="home__slider-it">
            <div class="home__slider-img"><img src="http://via.placeholder.com/2000x600" alt=""></div>

            <div class="home__slider-content">
                <h1 class="home__slider-title">
                    SUPERGLAD RILIS SINGLE TERBARU, UMUMKAN ‘PENGGANTI’ BULUK
                </h1>
                <a class="home__slider-button button">Cek Disini</a>
            </div>
        </div>
    </div>

    <div class="home-slider-dots"></div>
</div>

<div class="container home">    
    <section class="block">
        <div class="block__title"><h2>Newest</h2></div>

        <div class="row">
            <div class="col-sm-4">
                <div class="boxstory">
                    <div class="boxstory__img">
                        <img src="http://via.placeholder.com/400x400" alt="">
                        <div class="boxstory__label">Super Buzz</div>
                        <div class="boxstory__icon"><i class="fa fa-fire" style="display: block;"></i><span style="display: none">Hot</span></div>
                    </div>

                    <div class="boxstory__content">
                        <a href="#"><h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3></a>

                        <time class="boxstory__date">11:07 - Agustus 2017</time>

                        <div class="boxstory__text">
                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                        </div>

                        <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                    </div>
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="boxstory">
                    <div class="boxstory__img">
                        <img src="http://via.placeholder.com/400x400" alt="">
                        <div class="boxstory__label">Super Buzz</div>
                        <div class="boxstory__icon"><i class="fa fa-fire"></i><span>Hot</span></div>
                    </div>

                    <div class="boxstory__content">
                        <a href="#"><h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3></a>

                        <time class="boxstory__date">11:07 - Agustus 2017</time>

                        <div class="boxstory__text">
                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                        </div>

                        <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                    </div>
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="boxstory">
                    <div class="boxstory__img">
                        <img src="http://via.placeholder.com/400x400" alt="">
                        <div class="boxstory__label">Super Buzz</div>
                        <div class="boxstory__icon"><i class="fa fa-fire"></i><span>Hot</span></div>
                    </div>

                    <div class="boxstory__content">
                        <a href="#"><h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3></a>

                        <time class="boxstory__date">11:07 - Agustus 2017</time>

                        <div class="boxstory__text">
                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                        </div>

                        <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="boxstory">
                    <div class="boxstory__img">
                        <img src="http://via.placeholder.com/400x400" alt="">
                        <div class="boxstory__label">Super Buzz</div>
                        <div class="boxstory__icon"><i class="fa fa-fire"></i><span>Hot</span></div>
                    </div>

                    <div class="boxstory__content">
                        <a href="#"><h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3></a>

                        <time class="boxstory__date">11:07 - Agustus 2017</time>

                        <div class="boxstory__text">
                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                        </div>

                        <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                    </div>
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="boxstory">
                    <div class="boxstory__img">
                        <img src="http://via.placeholder.com/400x400" alt="">
                        <div class="boxstory__label">Super Buzz</div>
                        <div class="boxstory__icon"><i class="fa fa-fire"></i><span>Hot</span></div>
                    </div>

                    <div class="boxstory__content">
                        <a href="#"><h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3></a>

                        <time class="boxstory__date">11:07 - Agustus 2017</time>

                        <div class="boxstory__text">
                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                        </div>

                        <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                    </div>
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="boxstory">
                    <div class="boxstory__img">
                        <img src="http://via.placeholder.com/400x400" alt="">
                        <div class="boxstory__label">Super Buzz</div>
                        <div class="boxstory__icon"><i class="fa fa-fire"></i><span>Hot</span></div>
                    </div>

                    <div class="boxstory__content">
                        <a href="#"><h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3></a>

                        <time class="boxstory__date">11:07 - Agustus 2017</time>

                        <div class="boxstory__text">
                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                        </div>

                        <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                    </div>
                </div>
            </div>           
        </div>
    </section>
</div>

<section class="block">
    <div class="container">
        <div class="block__title"><h2>Supermusic TV</h2></div>
    </div>

    <div class="home-video-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="boxstory">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/400x400" alt="">
                            <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
                        </div>

                        <div class="boxstory__content">
                            <a href="#"><h3 class="boxstory__title">THE TRIP - SCALLER Eps.3</h3></a>

                            <time class="boxstory__date">11:07 - Agustus 2017</time>

                            <div class="boxstory__text">
                                <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                            </div>

                            <a href="#" class="boxstory__link">&lt;Nonton sekarang&gt;</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="boxstory">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/400x400" alt="">
                            <div class="boxstory__icon play"><img src="assets/img/play.png" alt=""></div>
                        </div>

                        <div class="boxstory__content">
                            <h3 class="boxstory__title">Class Of Rock - Andy Rif</h3>

                            <time class="boxstory__date">11:07 - Agustus 2017</time>

                            <div class="boxstory__text">
                                <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                            </div>

                            <a href="#" class="boxstory__link">&lt;Nonton sekarang&gt;</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="boxstory">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/400x400" alt="">
                            <div class="boxstory__icon play"><img src="assets/img/play.png" alt=""></div>
                        </div>

                        <div class="boxstory__content">
                            <h3 class="boxstory__title">FACTOID - Gho$$</h3>

                            <time class="boxstory__date">11:07 - Agustus 2017</time>

                            <div class="boxstory__text">
                                <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                            </div>

                            <a href="#" class="boxstory__link">&lt;Nonton sekarang&gt;</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 form__button-block" style="text-align: center;"><a href="#" class="button type2">Watch Supermusic TV</a></div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section class="block">
        <div class="block__title"><h2>Most View</h2></div>
        <div class="clearfix">
            <div class="block__inner float-left">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="boxstory">
                            <div class="boxstory__img">
                                <img src="http://via.placeholder.com/400x400" alt="">
                                <div class="boxstory__label">Super Buzz</div>
                                <div class="boxstory__icon view"><i class="fa fa-eye"></i><span>666 views</span></div>
                            </div>

                            <div class="boxstory__content">
                                <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                                <time class="boxstory__date">11:07 - Agustus 2017</time>

                                <div class="boxstory__text">
                                    <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                                </div>

                                <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="boxstory">
                            <div class="boxstory__img">
                                <img src="http://via.placeholder.com/400x400" alt="">
                                <div class="boxstory__label">Super Buzz</div>
                                <div class="boxstory__icon view"><i class="fa fa-eye"></i><span>666 views</span></div>
                            </div>

                            <div class="boxstory__content">
                                <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                                <time class="boxstory__date">11:07 - Agustus 2017</time>

                                <div class="boxstory__text">
                                    <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                                </div>

                                <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ads__block">
                    <img src="http://via.placeholder.com/728x90" alt="">
                </div>
            </div>

            <div id="sidebar" class="sidebar float-right">
                <!-- IMAGE -->
                <div class="sidebar__block">
                    <img src="http://via.placeholder.com/300x250" alt="">
                </div>

                <!-- VIDEO -->
                <div class="sidebar__block">
                    <img src="http://via.placeholder.com/300x250" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="block">
        <div class="row">
            <div class="col-sm-4">
                <div class="boxstory">
                    <div class="boxstory__img">
                        <img src="http://via.placeholder.com/400x400" alt="">
                        <div class="boxstory__label">Super Icon</div>
                        <div class="boxstory__icon view"><i class="fa fa-eye"></i><span>666 views</span></div>
                    </div>

                    <div class="boxstory__content">
                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                        <time class="boxstory__date">11:07 - Agustus 2017</time>

                        <div class="boxstory__text">
                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                        </div>

                        <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                    </div>
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="boxstory">
                    <div class="boxstory__img">
                        <img src="http://via.placeholder.com/400x400" alt="">
                        <div class="boxstory__label">Super Icon</div>
                        <div class="boxstory__icon view"><i class="fa fa-eye"></i><span>666 views</span></div>
                    </div>

                    <div class="boxstory__content">
                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                        <time class="boxstory__date">11:07 - Agustus 2017</time>

                        <div class="boxstory__text">
                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                        </div>

                        <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                    </div>
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="boxstory">
                    <div class="boxstory__img">
                        <img src="http://via.placeholder.com/400x400" alt="">
                        <div class="boxstory__label">Super Show</div>
                        <div class="boxstory__icon view"><i class="fa fa-eye"></i><span>666 views</span></div>
                    </div>

                    <div class="boxstory__content">
                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                        <time class="boxstory__date">11:07 - Agustus 2017</time>

                        <div class="boxstory__text">
                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                        </div>

                        <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="boxstory">
                    <div class="boxstory__img">
                        <img src="http://via.placeholder.com/400x400" alt="">
                        <div class="boxstory__label">Super Show</div>
                        <div class="boxstory__icon view"><i class="fa fa-eye"></i><span>666 views</span></div>
                    </div>

                    <div class="boxstory__content">
                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                        <time class="boxstory__date">11:07 - Agustus 2017</time>

                        <div class="boxstory__text">
                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                        </div>

                        <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                    </div>
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="boxstory">
                    <div class="boxstory__img">
                        <img src="http://via.placeholder.com/400x400" alt="">
                        <div class="boxstory__label">Super Gears</div>
                        <div class="boxstory__icon view"><i class="fa fa-eye"></i><span>666 views</span></div>
                    </div>

                    <div class="boxstory__content">
                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                        <time class="boxstory__date">11:07 - Agustus 2017</time>

                        <div class="boxstory__text">
                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                        </div>

                        <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                    </div>
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="boxstory">
                    <div class="boxstory__img">
                        <img src="http://via.placeholder.com/400x400" alt="">
                        <div class="boxstory__label">Super Buzz</div>
                        <div class="boxstory__icon view"><i class="fa fa-eye"></i><span>666 views</span></div>
                    </div>

                    <div class="boxstory__content">
                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                        <time class="boxstory__date">11:07 - Agustus 2017</time>

                        <div class="boxstory__text">
                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                        </div>

                        <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
                    </div>
                </div>
            </div>           
        </div>
    </section>

    <section class="block">
        <div class="load-more">
            <a href="#">
                Load More
                <i class="fa fa-angle-double-down"></i> 
            </a>
        </div>
    </section>
</div>

<button onclick="topFunction()" id="scrollTop" title="Go to top"><i class="fa fa-angle-double-up"></i></button>
@@include('../Shared/footer.html', {
        
})