
@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper" class="additional">
        <!-- HEADER -->
        @@include('../Shared/header.html', {
       
        })
        <!-- HEADER -->

        <div id="content">
            
    		<div class="container">
    			<section>
    				<form action="" class="form login">
    					<h1 class="form__title">Log in to <span>SUPERMUSIC.ID</span></h1>

                        <div class="form__text">Daftar jadi member SuperMusic.id, dan dapatkan banyak keuntungan</div>
                        
                        <div class="form-group">
                            <label for="">Email</label>

                            <input type="email" class="form-control">
                        </div>

                         <div class="margin-bottom-5 has-feedback">
                            <label for="">Password</label>

                            <input type="password" id="password" name="password" class="form-control">

                            <i class="fa fa-eye"></i>
                        </div>

                        <div class="form-group clearfix">
                            <input id="remember" type="checkbox" class="cb">

                            <label for="remember" class="small cb-dummy float-left">Remember me</label>

                            <a href="#" class="form__link float-right">Lupa password?</a>
                        </div>

                        <div class="form__button-block form-button">
                            <button class="button">Log In</button>
                        </div>

                        <div class="form__text-small">
                        	Belum menjadi member? <a href="#">Daftar sekarang</a>
                        	<br>
                        	Atau log in melalui
                        </div>

                        <div class="form__social-block">
                            <a href="#" class="social-link"></a>
                            <a href="#" class="social-link tw"></a>
                            <a href="#" class="social-link gp"></a>
                        </div>
                    </form>  
    			</section>
    		</div>

@@include('../Shared/footer.html', {
       
})