@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper" class="additional maintenance">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			
			<section class="block no-margin">
				<div class="maintenance__img">
					<img src="assets/img/maintenance-bg.jpg" alt="">
				</div>

				<div class="maintenance__img mobile-only">
					<img src="assets/img/maintenance-bg-mobile.jpg" alt="">
				</div>
				<div class="form__button-block"><a href="#" class="button">Back To Home</a></div>
			</section>

@@include('../Shared/footer.html', {
       
})