@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			
	<div class="member clearfix">
		<div class="member-toggle"><i class="fa fa-bars"></i> Profile</div>
		<div class="member__sidebar float-left">
			<div class="member__sidebar-head">
				<div class="member__sidebar-close"><i class="fa fa-close"></i></div>
				<div class="member__photo">
					<img src="http://via.placeholder.com/160x160" alt="">
				</div>
			</div>

			<div class="member__sidebar-body">
				<div class="member__menu">
					<ul class="member__menu-list">
						<li><a href="#" class="member__menu-link">Profile</a></li>
						<li><a href="#" class="member__menu-link">History</a></li>
						<li><a href="#" class="member__menu-link">My Library</a></li>
						<li><a href="#" class="member__menu-link">Redeem Point</a></li>
					</ul>
				</div>

				<div class="member__social">
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
				</div>
			</div>		
		</div>

		<div class="member__main block__inner float-right padding-top-30">
			<!-- POINT -->
			<div class="member__point-block">
				<div class="member__point">
					1571
					<span>Point</span>
				</div>
			</div>
			<div class="member__table">
				<div class="member__table-title">Last Transaction</div>
				<div class="table-cont margin-bottom-30">
					<table>
						<thead>
							<tr>
								<th>Date</th>
								<th>Description</th>
								<th>Type</th>
								<th>Points</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>2017-10-07</td>
								<td>Purchase at Sprot Station</td>
								<td>Earn</td>
								<td>900</td>
							</tr>
							<tr>
								<td>2017-10-07</td>
								<td>Purchase at Sprot Station</td>
								<td>Earn</td>
								<td>900</td>
							</tr>
							<tr>
								<td>2017-10-07</td>
								<td>Purchase at Sprot Station</td>
								<td>Earn</td>
								<td>900</td>
							</tr>
							<tr>
								<td>2017-10-07</td>
								<td>Purchase at Sprot Station</td>
								<td>Earn</td>
								<td>900</td>
							</tr>
						</tbody>
					</table>
				</div>

				<form action="">
					<div class="form__block">
		                <label for="" class="label margin-bottom-10">Transaction history by month</label>

		                <div class="row">
		                    <div class="col-sm-4 col-xs-6">
		                        <div class="select__block">
		                            <select name="" id="">
		                                <option value="">October</option>
		                                <option value="">November</option>
		                                <option value="">Desember</option>
		                            </select>
		                        </div>
		                    </div>

		                    <div class="col-sm-3 col-xs-6">
		                        <div class="select__block">
		                            <select name="" id="">
		                                <option value="">2017</option>
		                                <option value="">2018</option>
		                                <option value="">2019</option>
		                            </select>
		                        </div>
		                    </div>

		                    <div class="col-sm-3 col-xs-12">
		                    	<div class="form__button-block">
		                    		<button class="button">View</button>
		                    	</div>		                        
		                    </div>
		                </div>
		            </div>
		        </form>
			</div>
		</div>
	</div>

@@include('../Shared/footer.html', {
       
})