@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			
	<div class="member clearfix">
		<div class="member-toggle"><i class="fa fa-bars"></i> Profile</div>
		<div class="member__sidebar float-left">
			<div class="member__sidebar-head">
				<div class="member__sidebar-close"><i class="fa fa-close"></i></div>
				<div class="member__photo">
					<img src="http://via.placeholder.com/160x160" alt="">
				</div>
			</div>

			<div class="member__sidebar-body">
				<div class="member__menu">
					<ul class="member__menu-list">
						<li><a href="#" class="member__menu-link">Profile</a></li>
						<li><a href="#" class="member__menu-link">History</a></li>
						<li><a href="#" class="member__menu-link">My Library</a></li>
						<li><a href="#" class="member__menu-link">Redeem Point</a></li>
					</ul>
				</div>

				<div class="member__social">
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
				</div>
			</div>		
		</div>

		<div class="member__main block__inner float-right">
			<div class="member__others-head">
				<div class="others__head-content">
					<div class="name">Muklis</div>
					<div class="text1">Member since July 2017</div>
					<div class="text2">Social media url : https://www.facebook.com/kulitmacan.1</div>
				</div>
				<div class="others__head-point">
					571
					<span>Point</span>
				</div>					
			</div>

			<div class="member__others-body">
				<ul class="others__profile">
					<li>
						<div class="others__profile-it clearfix">
							<div class="others__profile-label">Jenis kelamin: </div>

							<div class="others__profile-text">Male</div>
						</div>
					</li>

					<li>
						<div class="others__profile-it clearfix">
							<div class="others__profile-label">Kota: </div>

							<div class="others__profile-text">Jakarta</div>
						</div>
					</li>
					<li>
						<div class="others__profile-it clearfix">
							<div class="others__profile-label">Nomor Identitas: </div>

							<div class="others__profile-text">************</div>
						</div>
					</li>

					<li>
						<div class="others__profile-it clearfix">
							<div class="others__profile-label">No handphone: </div>

							<div class="others__profile-text">0856*******</div>
						</div>
					</li>

					<li>
						<div class="others__profile-it clearfix">
							<div class="others__profile-label">Email: </div>

							<div class="others__profile-text">muklis@gmail.com</div>
						</div>
					</li>
				</ul>				
			</div>
		</div>
	</div>

@@include('../Shared/footer.html', {
       
})