@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			
	<div class="member clearfix">
		<div class="member-toggle"><i class="fa fa-bars"></i> Profile</div>
		<div class="member__sidebar float-left">
			<div class="member__sidebar-head">
				<div class="member__sidebar-close"><i class="fa fa-close"></i></div>
				<div class="member__photo">
					<img src="http://via.placeholder.com/160x160" alt="">
				</div>
			</div>

			<div class="member__sidebar-body">
				<div class="member__menu">
					<ul class="member__menu-list">
						<li><a href="#" class="member__menu-link">Profile</a></li>
						<li><a href="#" class="member__menu-link">History</a></li>
						<li><a href="#" class="member__menu-link">My Library</a></li>
						<li><a href="#" class="member__menu-link">Redeem Point</a></li>
					</ul>
				</div>

				<div class="member__social">
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
				</div>
			</div>		
		</div>

		<div class="member__main block__inner float-right">
			<section class="block">
				<div class="library">
					<div class="library__title"><h2>Watch offline videos</h2></div>

					<div class="library__slider-cont">
						<div class="library__slider library-watch">
							<div class="library__it">
								<div class="boxstory">
									<div class="boxstory__img">
									    <img src="http://via.placeholder.com/265x180" alt="">
									    <div class="boxstory__icon"><img src="assets/img/icon-watch.png" alt=""></div>
									</div>

									<div class="boxstory__content">
									    <h3 class="boxstory__title">The Trip - Kelompok Penerbang Roket Eps 3</h3>

									    <time class="boxstory__date">11:07 - Agustus 2017</time>

									    <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
									</div>
								</div>
							</div>

							<div class="library__it">
								<div class="boxstory">
									<div class="boxstory__img">
									    <img src="http://via.placeholder.com/265x180" alt="">
									    <div class="boxstory__icon"><img src="assets/img/icon-watch.png" alt=""></div>
									</div>

									<div class="boxstory__content">
									    <h3 class="boxstory__title">The Trip - Kelompok Penerbang Roket Eps 3</h3>

									    <time class="boxstory__date">11:07 - Agustus 2017</time>

									    <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
									</div>
								</div>
							</div>

							<div class="library__it">
								<div class="boxstory">
									<div class="boxstory__img">
									    <img src="http://via.placeholder.com/265x180" alt="">
									    <div class="boxstory__icon"><img src="assets/img/icon-watch.png" alt=""></div>
									</div>

									<div class="boxstory__content">
									    <h3 class="boxstory__title">The Trip - Kelompok Penerbang Roket Eps 3</h3>

									    <time class="boxstory__date">11:07 - Agustus 2017</time>

									    <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
									</div>
								</div>
							</div>

							<div class="library__it">
								<div class="boxstory">
									<div class="boxstory__img">
									    <img src="http://via.placeholder.com/265x180" alt="">
									    <div class="boxstory__icon"><img src="assets/img/icon-watch.png" alt=""></div>
									</div>

									<div class="boxstory__content">
									    <h3 class="boxstory__title">The Trip - Kelompok Penerbang Roket Eps 3</h3>

									    <time class="boxstory__date">11:07 - Agustus 2017</time>

									    <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
									</div>
								</div>
							</div>

							<div class="library__it">
								<div class="boxstory">
									<div class="boxstory__img">
									    <img src="http://via.placeholder.com/265x180" alt="">
									    <div class="boxstory__icon"><img src="assets/img/icon-watch.png" alt=""></div>
									</div>

									<div class="boxstory__content">
									    <h3 class="boxstory__title">The Trip - Kelompok Penerbang Roket Eps 3</h3>

									    <time class="boxstory__date">11:07 - Agustus 2017</time>

									    <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
									</div>
								</div>
							</div>
						</div>

						<div class="gallery-slider-arrow">
							<a href="#" class="library-watch-prev"></a>
							<a href="#" class="library-watch-next"></a>
						</div>
					</div>
				</div>
			</section>

			<section class="block">
				<div class="library">
					<div class="library__title"><h2>Bookmark videos</h2></div>

					<div class="library__slider-cont">
						<div class="library__slider library-bmark">
							<div class="library__it">
								<div class="boxstory">
									<div class="boxstory__img">
									    <img src="http://via.placeholder.com/265x180" alt="">
									    <div class="boxstory__icon"><img src="assets/img/icon-star.png" alt=""></div>
									</div>

									<div class="boxstory__content">
									    <h3 class="boxstory__title">The Trip - Kelompok Penerbang Roket Eps 3</h3>

									    <time class="boxstory__date">11:07 - Agustus 2017</time>

									    <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
									</div>
								</div>
							</div>

							<div class="library__it">
								<div class="boxstory">
									<div class="boxstory__img">
									    <img src="http://via.placeholder.com/265x180" alt="">
									    <div class="boxstory__icon"><img src="assets/img/icon-star.png" alt=""></div>
									</div>

									<div class="boxstory__content">
									    <h3 class="boxstory__title">The Trip - Kelompok Penerbang Roket Eps 3</h3>

									    <time class="boxstory__date">11:07 - Agustus 2017</time>

									    <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
									</div>
								</div>
							</div>

							<div class="library__it">
								<div class="boxstory">
									<div class="boxstory__img">
									    <img src="http://via.placeholder.com/265x180" alt="">
									    <div class="boxstory__icon"><img src="assets/img/icon-star.png" alt=""></div>
									</div>

									<div class="boxstory__content">
									    <h3 class="boxstory__title">The Trip - Kelompok Penerbang Roket Eps 3</h3>

									    <time class="boxstory__date">11:07 - Agustus 2017</time>

									    <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
									</div>
								</div>
							</div>

							<div class="library__it">
								<div class="boxstory">
									<div class="boxstory__img">
									    <img src="http://via.placeholder.com/265x180" alt="">
									    <div class="boxstory__icon"><img src="assets/img/icon-star.png" alt=""></div>
									</div>

									<div class="boxstory__content">
									    <h3 class="boxstory__title">The Trip - Kelompok Penerbang Roket Eps 3</h3>

									    <time class="boxstory__date">11:07 - Agustus 2017</time>

									    <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
									</div>
								</div>
							</div>

							<div class="library__it">
								<div class="boxstory">
									<div class="boxstory__img">
									    <img src="http://via.placeholder.com/265x180" alt="">
									    <div class="boxstory__icon"><img src="assets/img/icon-star.png" alt=""></div>
									</div>

									<div class="boxstory__content">
									    <h3 class="boxstory__title">The Trip - Kelompok Penerbang Roket Eps 3</h3>

									    <time class="boxstory__date">11:07 - Agustus 2017</time>

									    <a href="#" class="boxstory__link">&lt;Selengkapnya&gt;</a>
									</div>
								</div>
							</div>
						</div>

						<div class="gallery-slider-arrow">
							<a href="#" class="library-bmark-prev"></a>
							<a href="#" class="library-bmark-next"></a>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

@@include('../Shared/footer.html', {
       
})