@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			
	<div class="member clearfix">
		<div class="member-toggle"><i class="fa fa-bars"></i> Profile</div>
		<div class="member__sidebar float-left">
			<div class="member__sidebar-head">
				<div class="member__sidebar-close"><i class="fa fa-close"></i></div>
				<div class="member__setting"><a href="#"><i class="fa fa-gear"></i></a></div>
				<div class="member__photo">
					<img src="http://via.placeholder.com/160x160" alt="">

					<div class="member__photo-icon"><a href="#"><i class="fa fa-camera"></i></a></div>
				</div>

				<div class="member__name">Jonathan Doe, 23 Yo </div>

				<div class="member__loc">Jakarta, Indonesia</div>
			</div>

			<div class="member__sidebar-body">
				<div class="member__menu">
					<ul class="member__menu-list">
						<li><a href="#" class="member__menu-link">Profile</a></li>
						<li><a href="#" class="member__menu-link">History</a></li>
						<li><a href="#" class="member__menu-link">My Library</a></li>
						<li><a href="#" class="member__menu-link">Redeem Point</a></li>
						<li><a href="#" class="member__menu-link">Logout</a></li>
					</ul>
				</div>

				<div class="member__social">
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
				</div>
			</div>		
		</div>

		<div class="member__main block__inner float-right">
			<section>
				<form action="" class="form__member form login">
					<h1 class="form__title">Registration to <span>SUPERMUSIC.ID</span></h1>

                    <div class="form__text">Daftar jadi member SuperMusic.id, dan dapatkan banyak keuntungan</div>
                    
                    <div class="form-group">
                        <label for="">Nama lengkap <span>*</span></label>

                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="">Email <span>*</span></label>

                        <input type="email" class="form-control">
                    </div>

                    <div class="form-group clearfix">
                        <label for="">Jenis Kelamin <span>*</span></label>

                        <input id="pria" type="radio" class="rb" name="gender">

                        <label for="pria" class="small rb-dummy float-left margin-right-20">Pria</label>

                        <input id="wanita" type="radio" class="rb" name="gender">

                        <label for="wanita" class="small rb-dummy float-left">Wanita</label>
                    </div>

                    <div class="form-group">
                        <label for="">Tanggal lahir <span>*</span></label>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="select__block">
                                    <select name="" id="">
                                        <option value="">Year</option>
                                        <option value="">1990</option>
                                        <option value="">1991</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-5">
                                <div class="select__block">
                                    <select name="" id="">
                                        <option value="">Month</option>
                                        <option value="">September</option>
                                        <option value="">Oktober</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="select__block">
                                    <select name="" id="">
                                        <option value="">Day</option>
                                        <option value="">23</option>
                                        <option value="">24</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Kota <span>*</span></label>

                        <div class="select__block">
                            <select name="" id="">
                                <option value="">--------</option>
                                <option value="">Jakarta</option>
                                <option value="">Bandung</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Nomor handphone <span>*</span></label>

                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="">Password <span>*</span></label>

                        <input type="password" id="password" name="password" class="form-control">

                        <i class="fa fa-eye"></i>
                    </div>

                    <div class="form-group">
                        <label for="">Confirm Password <span>*</span></label>

                        <input type="password" id="password" name="password" class="form-control">

                        <i class="fa fa-eye"></i>
                    </div>

                    <div class="form-group">
                        <label for="">Music Genre</label>

                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group clearfix">
                        <input id="terms" type="checkbox" class="cb" name="gender">

                        <label for="terms" class="small cb-dummy float-left margin-right-20">I agree to the <a href="#" class="form__link" style="color:
                        #2D2D2D; text-decoration: underline;">Term and Conditions*</a></label>

                        <input id="robot" type="checkbox" class="cb" name="gender">

                        <label for="robot" class="small cb-dummy float-left">I’m not a Robot</label>
                    </div>

                    <div class="form__button-block form-button">
                        <button class="button" data-toggle="modal" data-target="#modalRegis-success">Submit</button>
                    </div>
                </form> 
			</section>
		</div>
	</div>

@@include('../Shared/footer.html', {
       
})