@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			
	<div class="member clearfix">
		<div class="member-toggle"><i class="fa fa-bars"></i> Profile</div>
		<div class="member__sidebar float-left">
			<div class="member__sidebar-head">
				<div class="member__sidebar-close"><i class="fa fa-close"></i></div>
				<div class="member__setting"><a href="#"><i class="fa fa-gear"></i></a></div>
				<div class="member__photo">
					<img src="http://via.placeholder.com/160x160" alt="">

					<div class="member__photo-icon"><a href="#"><i class="fa fa-camera"></i></a></div>
				</div>

				<div class="member__name">Jonathan Doe, 23 Yo </div>

				<div class="member__loc">Jakarta, Indonesia</div>
			</div>

			<div class="member__sidebar-body">
				<div class="member__menu">
					<ul class="member__menu-list">
						<li><a href="#" class="member__menu-link">Profile</a></li>
						<li><a href="#" class="member__menu-link">History</a></li>
						<li><a href="#" class="member__menu-link">My Library</a></li>
						<li><a href="#" class="member__menu-link">Redeem Point</a></li>
						<li><a href="#" class="member__menu-link">Logout</a></li>
					</ul>
				</div>

				<div class="member__social">
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
				</div>
			</div>		
		</div>

		<div class="member__main block__inner float-right padding-top-30">
			<section class="block">
				<div class="library">
					<div class="library__redeem-head clearfix">
						<div class="redeem__point float-left">
							Your Point : <span>3500 pt</span>
						</div>

						<div class="redeem__sort float-right">
							<div class="select__block">
								<select name="" id="">
									<option value="">Sort by</option>
									<option value="">Name</option>
									<option value="">Point</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4 col-xs-6">
							<div class="boxstory redeem">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/265x180" alt="">
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">Gibson Les Paul</h3>

								    <time class="boxstory__date">Exp 07 - Agustus 2017</time>

								    <div class="boxstory__text">
								        <p>2500 point</p>
								    </div>

								    <a href="#" class="boxstory__link">Redeem Now</a>
								</div>
							</div>
						</div>

						<div class="col-sm-4 col-xs-6">
							<div class="boxstory redeem">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/265x180" alt="">
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">Gibson Les Paul</h3>

								    <time class="boxstory__date">Exp 07 - Agustus 2017</time>

								    <div class="boxstory__text">
								        <p>2500 point</p>
								    </div>

								    <a href="#" class="boxstory__link">Redeem Now</a>
								</div>
							</div>
						</div>

						<div class="col-sm-4 col-xs-6">
							<div class="boxstory redeem">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/265x180" alt="">
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">Gibson Les Paul</h3>

								    <time class="boxstory__date">Exp 07 - Agustus 2017</time>

								    <div class="boxstory__text">
								        <p>2500 point</p>
								    </div>

								    <a href="#" class="boxstory__link">Redeem Now</a>
								</div>
							</div>
						</div>

						<div class="col-sm-4 col-xs-6">
							<div class="boxstory redeem">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/265x180" alt="">
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">Gibson Les Paul</h3>

								    <time class="boxstory__date">Exp 07 - Agustus 2017</time>

								    <div class="boxstory__text">
								        <p>2500 point</p>
								    </div>

								    <a href="#" class="boxstory__link">Redeem Now</a>
								</div>
							</div>
						</div>

						<div class="col-sm-4 col-xs-6">
							<div class="boxstory redeem">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/265x180" alt="">
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">Gibson Les Paul</h3>

								    <time class="boxstory__date">Exp 07 - Agustus 2017</time>

								    <div class="boxstory__text">
								        <p>2500 point</p>
								    </div>

								    <a href="#" class="boxstory__link">Redeem Now</a>
								</div>
							</div>
						</div>

						<div class="col-sm-4 col-xs-6">
							<div class="boxstory redeem">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/265x180" alt="">
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">Gibson Les Paul</h3>

								    <time class="boxstory__date">Exp 07 - Agustus 2017</time>

								    <div class="boxstory__text">
								        <p>2500 point</p>
								    </div>

								    <a href="#" class="boxstory__link">Redeem Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

@@include('../Shared/footer.html', {
       
})