@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			
	<div class="member clearfix">
		<div class="member-toggle"><i class="fa fa-bars"></i> Profile</div>
		<div class="member__sidebar float-left">
			<div class="member__sidebar-head">
				<div class="member__sidebar-close"><i class="fa fa-close"></i></div>
				<div class="member__setting"><a href="#"><i class="fa fa-gear"></i></a></div>
				<div class="member__photo">
					<img src="http://via.placeholder.com/160x160" alt="">

					<div class="member__photo-icon"><a href="#"><i class="fa fa-camera"></i></a></div>
				</div>

				<div class="member__name">Jonathan Doe, 23 Yo </div>

				<div class="member__loc">Jakarta, Indonesia</div>
			</div>

			<div class="member__sidebar-body">
				<div class="member__menu">
					<ul class="member__menu-list">
						<li><a href="#" class="member__menu-link">Profile</a></li>
						<li><a href="#" class="member__menu-link">History</a></li>
						<li><a href="#" class="member__menu-link">My Library</a></li>
						<li><a href="#" class="member__menu-link">Redeem Point</a></li>
						<li><a href="#" class="member__menu-link">Logout</a></li>
					</ul>
				</div>

				<div class="member__social">
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
				</div>
			</div>		
		</div>

		<div class="member__main block__inner float-right">
			<!-- POINT -->
			<div class="member__point-block">
				<div class="member__point">
					1571
					<span>Point</span>
				</div>

				<div class="member__point-button form__button-block"><a href="#" class="button">How to Get More</a></div>

				<div class="member__point-text">Exp date 17 - 12 - 2018</div>						
			</div>

			<form action="" class="form form__member">
				<div class="row">
					<div class="col-md-6">
						<div class="form__block clearfix">
							<label for="" class="label float-left">Nama Lengkap:</label>
							<div class="form__member-text float-right">Jonathan Doe</div>
						</div>

						<div class="form__block clearfix">
							<label for="" class="label float-left">Jenis Kelamin:</label>
							<div class="form__member-text float-right">Pria</div>
						</div>

						<div class="form__block clearfix">
							<label for="" class="label float-left">Kota:</label>
							<div class="form__member-text float-right">Jakarta</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form__block clearfix">
							<label for="" class="label float-left">No Handphone:</label>
							<div class="form__member-text float-right">08098****</div>
						</div>

						<div class="form__block clearfix">
							<label for="" class="label float-left">Email:</label>
							<div class="form__member-text float-right">Jojo@gmail.com</div>
						</div>

						<div class="form__block clearfix">
							<label for="" class="label float-left">Password:</label>
							<div class="form__member-text float-right">*********</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

@@include('../Shared/footer.html', {
       
})