@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			
	<div class="member clearfix">
		<div class="member-toggle"><i class="fa fa-bars"></i> Profile</div>
		<div class="member__sidebar float-left">
			<div class="member__sidebar-head">
				<div class="member__sidebar-close"><i class="fa fa-close"></i></div>
				<div class="member__photo">
					<img src="http://via.placeholder.com/160x160" alt="">
				</div>
			</div>

			<div class="member__sidebar-body">
				<div class="member__menu">
					<ul class="member__menu-list">
						<li><a href="#" class="member__menu-link">Profile</a></li>
						<li><a href="#" class="member__menu-link">History</a></li>
						<li><a href="#" class="member__menu-link">My Library</a></li>
						<li><a href="#" class="member__menu-link">Redeem Point</a></li>
					</ul>
				</div>

				<div class="member__social">
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
					<a href="#" class="social">
						<span class="fa-stack">
	                        <i class="fa fa-circle fa-stack-2x"></i>
	                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	                    </span>
					</a>
				</div>
			</div>		
		</div>

		<div class="member__main block__inner float-right padding-top-30">
			<div class="timeline">
				<div class="timeline__head">
					<div class="select__block">
						<select name="" id="">
							<option value="">Sort by</option>
							<option value="">Name</option>
							<option value="">Point</option>
						</select>
					</div>
				</div>

				<div class="timeline__body">
					<div class="timeline__it clearfix">
						<div class="timeline__icon"><img src="assets/img/timeline-like.png" alt=""></div>

						<div class="timeline__date">
							<time>11:07 - Agustus 2017</time>
						</div>

						<div class="timeline__content">
							<div class="title">You likes Super Buzz Article</div>

							<div class="text">Napalm Death dikabarkan telah memulai proses rekaman album terbaru bersama produser Russ Russel (The Haunted, Dimmu Borgir) di Parlour Studios, Northamptonshire, Inggris. </div>
						</div>	
					</div>

					<div class="timeline__it clearfix">
						<div class="timeline__icon"><img src="assets/img/timeline-share.png" alt=""></div>

						<div class="timeline__date">
							<time>06:07 - Agustus 2017 </time>
						</div>

						<div class="timeline__content">
							<div class="title">You Share Super Noize Article</div>

							<div class="text">Berawal dari sebuah percakapan di suatu senja, tahun 2000-an. Di sebuah rumah kost di wilayah Suryodiningratan, Jogja antara aku, Bandiz, dan Memet (eks manajer Shaggydog).</div>
						</div>	
					</div>

					<div class="timeline__it clearfix">
						<div class="timeline__icon"><img src="assets/img/timeline-point.png" alt=""></div>

						<div class="timeline__date">
							<time>22:07 - July 2017 </time>
						</div>

						<div class="timeline__content">
							<div class="title">You Get 10 Point from SMTV</div>

							<div class="text"><a href="#">Check Point</a></div>
						</div>	
					</div>

					<div class="timeline__it clearfix">
						<div class="timeline__icon"><img src="assets/img/timeline-share.png" alt=""></div>

						<div class="timeline__date">
							<time>11:07 - Agustus 2017</time>
						</div>

						<div class="timeline__content">
							<div class="title">You Share Super Noize Article</div>

							<div class="text">Berawal dari sebuah percakapan di suatu senja, tahun 2000-an. Di sebuah rumah kost di wilayah Suryodiningratan, Jogja antara aku, Bandiz, dan Memet (eks manajer Shaggydog).</div>
						</div>	
					</div>
				</div>
				<div class="load-more">
		            <a href="#">
		                Load More
		                <i class="fa fa-angle-double-down"></i> 
		            </a>
		        </div>
			</div>
		</div>
	</div>

@@include('../Shared/footer.html', {
       
})