@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper" class="additional">
        <!-- HEADER -->
        @@include('../Shared/header.html', {
       
        })
        <!-- HEADER -->

        <div id="content">
            
		<div class="container">
			<section>
				<form action="" class="form login">
					<h1 class="form__title">Registration to <span>SUPERMUSIC.ID</span></h1>

                    <div class="form__text">Daftar jadi member SuperMusic.id, dan dapatkan banyak keuntungan</div>
                    
                    <div class="form-group">
                        <label for="">Nama lengkap <span>*</span></label>

                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="">Email <span>*</span></label>

                        <input type="email" class="form-control">
                    </div>

                    <div class="form-group clearfix">
                        <label for="">Jenis Kelamin <span>*</span></label>

                        <input id="pria" type="radio" class="rb" name="gender">

                        <label for="pria" class="small rb-dummy float-left margin-right-20">Pria</label>

                        <input id="wanita" type="radio" class="rb" name="gender">

                        <label for="wanita" class="small rb-dummy float-left">Wanita</label>
                    </div>

                    <div class="form-group">
                        <label for="">Tanggal lahir <span>*</span></label>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="select__block">
                                    <select name="" id="">
                                        <option value="">Year</option>
                                        <option value="">1990</option>
                                        <option value="">1991</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-5">
                                <div class="select__block">
                                    <select name="" id="">
                                        <option value="">Month</option>
                                        <option value="">September</option>
                                        <option value="">Oktober</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="select__block">
                                    <select name="" id="">
                                        <option value="">Day</option>
                                        <option value="">23</option>
                                        <option value="">24</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Kota <span>*</span></label>

                        <div class="select__block">
                            <select name="" id="">
                                <option value="">--------</option>
                                <option value="">Jakarta</option>
                                <option value="">Bandung</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Nomor handphone <span>*</span></label>

                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="">Password <span>*</span></label>

                        <input type="password" id="password" name="password" class="form-control">

                        <i class="fa fa-eye"></i>
                    </div>

                    <div class="form-group">
                        <label for="">Confirm Password <span>*</span></label>

                        <input type="password" id="password" name="password" class="form-control">

                        <i class="fa fa-eye"></i>
                    </div>

                    <div class="form-group">
                        <label for="">Music Genre</label>

                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group clearfix">
                        <input id="terms" type="checkbox" class="cb" name="gender">

                        <label for="terms" class="small cb-dummy float-left margin-right-20">I agree to the <a href="#" class="form__link" style="color:
                        #2D2D2D; text-decoration: underline;">Term and Conditions*</a></label>

                        <input id="robot" type="checkbox" class="cb" name="gender">

                        <label for="robot" class="small cb-dummy float-left">I’m not a Robot</label>
                    </div>

                    <div class="form__button-block form-button">
                        <button class="button" data-toggle="modal" data-target="#modalRegis-success">Submit</button>
                    </div>
                </form>  
			</section>
		</div>

	<div id="modalRegis-success" class="modal fade" role="dialog">

        <div class="modal-dialog">

            <!-- MODAL CONTENT-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title form__title">Hi, John Doe...</h4>
                </div>
                <div class="modal-body">
                    <form action="" class="form">
                        <div class="form__text">Terima kasih dolor sit amet, cek profil kamu, sed diam nonummy nibh euismod tincidunt ut</div>

                        <div class="form-group">
                            <label for="" class="label text-center">Share this link to <span style="color: #090909; font-family: DIN-Medium, sans-serif;">get 100 point</span></label>

                            <div class="share-link">
                                <span>https://Supermusic.id.link</span>
                                <a href="#">Copy link</a>
                            </div>
                        </div>

                        <div class="form__button-block form-button">
                            <button class="button">Check Profile</button>
                        </div>
                    </form>              
                </div>
            </div>
        </div>
    </div>

@@include('../Shared/footer.html', {
       
})