@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
        <!-- HEADER -->
        @@include('../Shared/header.html', {
       
        })
        <!-- HEADER -->

        <div id="content">
            
	<div class="additional sales">
		<div class="container">
			<section>
				<form action="" class="form login">
					<h1 class="form__title title-img"><img src="assets/img/logo-big.png" alt=""></h1>

                    <div class="form__text">Daftar jadi member SuperMusic.id, dan dapatkan banyak keuntungan</div>
                    
                    <div class="sales__img">
                        <div class="sales__img-it">
                            <img src="assets/img/sales-product.png" alt="">
                        </div><div class="sales__img-it">
                            <img src="assets/img/sales-poin-active.png" alt="">
                        </div>
                    </div>
                    <div class="form__block">
                        <label for="" class="label">Email</label>

                        <input type="email" class="input">
                    </div>
                    <div class="form__block">
                        <label for="" class="label">Password</label>

                        <input type="password" class="input">
                    </div>

                    <div class="form__button-block form-button">
                        <button class="button">Cek Poin</button>
                    </div>
                </form>  
			</section>
		</div>
	</div>

@@include('../Shared/footer.html', {
       
})