@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
        <!-- HEADER -->
        @@include('../Shared/header.html', {
       
        })
        <!-- HEADER -->

        <div id="content">
            
	<div class="additional sales">
		<div class="container">
			<section>
				<form action="" class="form login">
					<h1 class="form__title title-img"><img src="assets/img/logo-big.png" alt=""></h1>

                    <div class="form__text">Daftar jadi member SuperMusic.id, dan dapatkan banyak keuntungan</div>
                    
                    <div class="sales__img">
                        <div class="sales__img-it">
                            <img src="assets/img/sales-product.png" alt="">
                        </div><div class="sales__img-it">
                            <img src="assets/img/sales-poin-active.png" alt="">
                        </div>
                    </div>
                    
                    <div class="sales__detail">
                        <div class="head">
                            <div class="photo"><img src="http://via.placeholder.com/300x300" alt=""></div>
                            <div class="point">571 Point</div>
                        </div>  
                    
                        <div class="body">
                            <div class="name">Muklis</div>
                            <div class="loc">Jakarta Indonesia</div>
                            <div class="text">Member since July 2017</div>
                            <div class="text2">Social media url : https://www.facebook.com/kulitmacan.1</div>
                        </div>
                    </div>
                </form>  
			</section>
		</div>
	</div>

@@include('../Shared/footer.html', {
       
})