@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
        <!-- HEADER -->
        @@include('../Shared/header.html', {
       
        })
        <!-- HEADER -->

        <div id="content">
            
	<div class="additional sales">
		<div class="container">
			<section>
				<form action="" class="form login">
					<h1 class="form__title title-img"><img src="assets/img/logo-big.png" alt=""></h1>

                    <div class="form__text">Daftar jadi member SuperMusic.id, dan dapatkan banyak keuntungan</div>
                    
                    <div class="sales__img">
                        <div class="sales__img-it">
                            <img src="assets/img/sales-product-active.png" alt="">
                        </div><div class="sales__img-it">
                            <img src="assets/img/sales-poin.png" alt="">
                        </div>
                    </div>
                    <div class="form__block">
                        <label for="" class="label">Email</label>

                        <input type="email" class="input">
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="select__block">
                                <select name="" id="">
                                    <option value="">Jumlah</option>
                                    <option value="">10</option>
                                    <option value="">20</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form__button-block form-button">
                                <a class="button" data-toggle="modal" data-target="#modalProduct">Process</a>
                            </div>
                        </div>
                    </div>
                </form>  
			</section>
		</div>
	</div>

    <!-- MODAL PRODUCT -->
    <div id="modalProduct" class="modal fade" role="dialog">

        <div class="modal-dialog">

            <!-- MODAL CONTENT-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-title title-img"><img src="assets/img/congrats.png" alt=""></div>
                </div>
                <div class="modal-body">
                    <div class="modal-text">
                        Selamat<br><span>Anda mendapatkan 100 poin!</span>
                    </div>
                    <div class="form__button-block text-center">
                        <a href="#" class="button">Cek Poin</a>
                    </div>             
                </div>
            </div>
        </div>
    </div>

@@include('../Shared/footer.html', {
       
})