@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
        <!-- HEADER -->
        @@include('../Shared/header.html', {
       
        })
        <!-- HEADER -->

        <div id="content">
            
	<div class="additional">
		<div class="container">
			<section>
				<form action="" class="form login">
					<h1 class="form__title title-img"><img src="assets/img/logo-big.png" alt=""></h1>

                    <div class="form__text">Daftar jadi member SuperMusic.id, dan dapatkan banyak keuntungan</div>
                    
                    <div class="form__block">
                        <label for="" class="label">Sales name</label>

                        <input type="text" class="input">
                    </div>

                     <div class="form__block">
                        <label for="" class="label">Password</label>

                        <input type="password" id="password" name="password" class="input">

                        <i class="fa fa-eye"></i>
                    </div>

                    <div class="form__button-block form-button">
                        <button class="button">Log In</button>
                    </div>
                </form>  
			</section>
		</div>
	</div>

@@include('../Shared/footer.html', {
       
})