@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			
	<div class="container">
		<div class="tv">
			<div class="tv__banner">
				<div class="tv__banner-img"><img src="http://via.placeholder.com/1170x500/503342/333333" alt=""></div>

				<div class="tv__banner-content">
					<div class="tv__banner-logo"><img src="assets/img/logo-factoid.png" alt=""></div>

					<h2 class="tv__banner-title">GHO$$</h2>

					<div class="tv__banner-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra.</div>

					<div class="tv__banner-title form__button-block"><a href="#" class="button type2">Watch Factoid</a></div>
				</div>
			</div>

			<div class="tv__label">
				<div class="row">
					<div class="col-sm-3">
						<div class="tv__label-title">Factoid Playlist</div>					
					</div>

					<div class="col-sm-9">
						<ul class="tv__label-list">
							<li>
								<a href="#" class="tv__label-link active">Newest</a>
							</li>
							<li>
								<a href="#" class="tv__label-link active">Video</a>
							</li>
							<li>
								<a href="#" class="tv__label-link">Favorites</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="tv__slider-cont">
				<div class="tv__slider">
					<div class="tv__slider-it">
						<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

						<div class="tv__slider-title">4 Hal yang wajib kamu ketahui dari Hurt'em</div>
					</div>

					<div class="tv__slider-it">
						<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

						<div class="tv__slider-title">4 Hal yang wajib kamu ketahui dari Hurt'em</div>
					</div>
					<div class="tv__slider-it">
						<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

						<div class="tv__slider-title">4 Hal yang wajib kamu ketahui dari Hurt'em</div>
					</div>
					<div class="tv__slider-it">
						<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

						<div class="tv__slider-title">4 Hal yang wajib kamu ketahui dari Hurt'em</div>
					</div>
					<div class="tv__slider-it">
						<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

						<div class="tv__slider-title">4 Hal yang wajib kamu ketahui dari Hurt'em</div>
					</div>
				</div>

				<div class="gallery-slider-arrow">
					<a href="#" class="tv-slider-prev"></a>
					<a href="#" class="tv-slider-next"></a>
				</div>
			</div>

			<!-- COMMENTBOX -->
			<div class="comment">
				<div class="container">
					<div class="comment__head">
						<div class="button__block">
							<a href="#" class="button">Log In to Comment</a>
						</div>

						<div class="comment__head-title">666 COMMENTS</div>
					</div>

					<div class="comment__body">
						<ul class="comment__list">
							<li>
								<div class="comment__it">
									<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

									<div class="comment__content">
										<div class="comment__name">
											Budi Ojan
											<time>5 hours ago</time>
										</div>

										<div class="comment__text">
											<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
										</div>
									</div>
								</div>
							</li>

							<li>
								<div class="comment__it">
									<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

									<div class="comment__content">
										<div class="comment__name">
											Budi Ojan
											<time>5 hours ago</time>
										</div>

										<div class="comment__text">
											<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

@@include('../Shared/footer.html', {
       
})