@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			
		<div class="tv">
			<div class="tv__banner">
				<div class="tv__banner-img"><img src="http://via.placeholder.com/1170x500/503342/333333" alt=""></div>

				<div class="tv__banner-content">
					<div class="tv__banner-logo"><img src="assets/img/logo-trip.png" alt=""></div>

					<h2 class="tv__banner-title">SCALLER - Eps 3</h2>

					<div class="tv__banner-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra.</div>

					<div class="tv__banner-title form__button-block"><a href="#" class="button type2">Watch the Trip</a></div>
				</div>
			</div>

			<div class="tv__label">
				<div class="row">
					<div class="col-sm-3">
						<div class="tv__label-title">The Trip Playlist</div>					
					</div>

					<div class="col-sm-9">
						<ul class="tv__label-list">
							<li>
								<a href="#" class="tv__label-link">Newest</a>
							</li>
							<li>
								<a href="#" class="tv__label-link active">Video</a>
							</li>
							<li>
								<a href="#" class="tv__label-link">Favorites</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="tv__slider-cont">
				<div class="tv__slider-video row">
					<div class="col-sm-4">
						<div class="tv__slider-it">
							<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

							<div class="tv__slider-title">Kelompok Penerbang Roket - Eps. 3</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="tv__slider-it">
							<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

							<div class="tv__slider-title">Kelompok Penerbang Roket - Eps. 3</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="tv__slider-it">
							<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

							<div class="tv__slider-title">Kelompok Penerbang Roket - Eps. 3</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="tv__slider-it">
							<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

							<div class="tv__slider-title">Kelompok Penerbang Roket - Eps. 3</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="tv__slider-it">
							<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

							<div class="tv__slider-title">Kelompok Penerbang Roket - Eps. 3</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="tv__slider-it">
							<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

							<div class="tv__slider-title">Kelompok Penerbang Roket - Eps. 3</div>
						</div>
					</div>
				</div>

				<div class="load-more">
		            <a href="#">
		                Load More
		                <i class="fa fa-angle-double-down"></i> 
		            </a>
		        </div>
			</div>

			<!-- COMMENTBOX -->
			<div class="comment">
				<div class="comment__head">
					<div class="button__block">
						<a href="#" class="button">Log In to Comment</a>
					</div>

					<div class="comment__head-title">666 COMMENTS</div>
				</div>

				<div class="comment__body">
					<ul class="comment__list">
						<li>
							<div class="comment__it">
								<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

								<div class="comment__content">
									<div class="comment__name">
										Budi Ojan
										<time>5 hours ago</time>
									</div>

									<div class="comment__text">
										<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
									</div>
								</div>
							</div>
						</li>

						<li>
							<div class="comment__it">
								<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

								<div class="comment__content">
									<div class="comment__name">
										Budi Ojan
										<time>5 hours ago</time>
									</div>

									<div class="comment__text">
										<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

@@include('../Shared/footer.html', {
       
})