@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			
	<div class="container">
		<div class="tv">
			<!-- TV PLAYER -->
			<div class="tv__player">
				<div class="tv__player-video">
					<div data-type="youtube" data-video-id="adDD43CvrUc"></div>
				</div>

				<div class="tv__player-body">
					<div class="tv__player-content">
						<h1 class="tv__player-title">CLASS OF ROCK - ANDY RIF</h1>

						<ul class="tv__player-desc">
							<li>11.07 - Agustus 2017</li>
							<li>666 Views</li>
							<li>666 Likes</li>
						</ul>
					</div>

					<div class="share">
						<a href="#" class="share-button">Like</a>
						<a href="#" class="share-button fb">Share</a>
						<a href="#" class="share-button tw">Share</a>
					</div>
				</div>
			</div>

			<div class="tv__label">
				<div class="row">
					<div class="col-sm-3">
						<div class="tv__label-title">Class of Rock Playlist</div>					
					</div>

					<div class="col-sm-9">
						<ul class="tv__label-list">
							<li>
								<a href="#" class="tv__label-link active">Newest</a>
							</li>
							<li>
								<a href="#" class="tv__label-link">Favorites</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="tv__slider-cont">
				<div class="tv__slider">
					<div class="tv__slider-it">
						<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

						<div class="tv__slider-title">Andi Rif Eps 3</div>
					</div>

					<div class="tv__slider-it">
						<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

						<div class="tv__slider-title">Andi Rif Eps 3</div>
					</div>
					<div class="tv__slider-it">
						<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

						<div class="tv__slider-title">Andi Rif Eps 3</div>
					</div>
					<div class="tv__slider-it">
						<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

						<div class="tv__slider-title">Andi Rif Eps 3</div>
					</div>
					<div class="tv__slider-it">
						<a href="#" class="tv__slider-thumb"><img src="http://via.placeholder.com/250x170" alt=""></a>

						<div class="tv__slider-title">Andi Rif Eps 3</div>
					</div>
				</div>

				<div class="gallery-slider-arrow">
					<a href="#" class="tv-slider-prev"></a>
					<a href="#" class="tv-slider-next"></a>
				</div>
			</div>

			<!-- COMMENTBOX -->
			<div class="comment">
				<div class="container">
					<div class="comment__head">
						<div class="button__block">
							<a href="#" class="button">Log In to Comment</a>
						</div>

						<div class="comment__head-title">666 COMMENTS</div>
					</div>

					<div class="comment__body">
						<ul class="comment__list">
							<li>
								<div class="comment__it">
									<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

									<div class="comment__content">
										<div class="comment__name">
											Budi Ojan
											<time>5 hours ago</time>
										</div>

										<div class="comment__text">
											<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
										</div>
									</div>
								</div>
							</li>

							<li>
								<div class="comment__it">
									<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

									<div class="comment__content">
										<div class="comment__name">
											Budi Ojan
											<time>5 hours ago</time>
										</div>

										<div class="comment__text">
											<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

@@include('../Shared/footer.html', {
       
})