
@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			
	<div class="container tv">
		<!-- TV PLAYER -->
		<div class="tv__player clearfix">
			<div class="block__inner float-left">
				<div class="tv__player-video">
					<div data-type="youtube" data-video-id="adDD43CvrUc"></div>
				</div>

				<div class="tv__player-body">
					<div class="tv__player-content">
						<h1 class="tv__player-title">THE TRIP - SCALLER - Eps 3</h1>

						<ul class="tv__player-desc">
							<li>11.07 - Agustus 2017</li>
							<li>666 Views</li>
							<li>666 Likes</li>
						</ul>

						<div class="tv__player-misc">
							<div class="tv__player-misc-button">
								<a href="#">
									<span class="fa-stack">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
									</span> Watch later
								</a>
							</div>

							<div class="tv__player-misc-button">
								<a href="#">
									<span class="fa-stack">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-star fa-stack-1x fa-inverse"></i>
									</span> Bookmark
								</a>
							</div>
						</div>
					</div>

					<div class="share">
						<a href="#" class="share-button">Like</a>
						<a href="#" class="share-button fb">Share</a>
						<a href="#" class="share-button tw">Share</a>
					</div>
				</div>

				<div class="tv__player-subcontent">
					<div class="tv__player-subcontent-title">
						SUPERMUSICTV - <span>THETRIP</span>
					</div>
					<div class="tv__player-subcontent-subtitle">
						Descriptions
					</div>
					<div class="tv__player-subcontent-text">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
					</div>
				</div>
			</div>

			<!-- SIDEBAR -->
		    <div class="sidebar float-right">	    	
		    	<!-- SIDEBAR LIST -->
		    	<div class="sidebar__block">
	    			<div class="sidebar__block-head"><h2>Next Watch</h2></div>

	    			<ul class="sidebar__list-video">
	    				<li>
	    					<div class="sidebar__list-video-it">
		    					<div class="sidebar__list-video-img"><img src="http://via.placeholder.com/100x100" alt=""></div>
		    					<div class="sidebar__list-video-content">
		    						<div class="sidebar__list-video-title">THE TRIP SCALLER - Eps 2 THE TRIP SCALLER - Eps 2</div>

		    						<div class="sidebar__list-video-text">Lorem ipsum dolor Scaller Lorem ipsum dolor Scaller</div>
		    					</div>
	    					</div>
	    				</li>

	    				<li>
	    					<div class="sidebar__list-video-it">
		    					<div class="sidebar__list-video-img"><img src="http://via.placeholder.com/100x100" alt=""></div>
		    					<div class="sidebar__list-video-content">
		    						<div class="sidebar__list-video-title">THE TRIP SCALLER - Eps 2 THE TRIP SCALLER - Eps 2</div>

		    						<div class="sidebar__list-video-text">Lorem ipsum dolor Scaller Lorem ipsum dolor Scaller</div>
		    					</div>
	    					</div>
	    				</li>

	    				<li>
	    					<div class="sidebar__list-video-it">
		    					<div class="sidebar__list-video-img"><img src="http://via.placeholder.com/100x100" alt=""></div>
		    					<div class="sidebar__list-video-content">
		    						<div class="sidebar__list-video-title">THE TRIP SCALLER - Eps 2 THE TRIP SCALLER - Eps 2</div>

		    						<div class="sidebar__list-video-text">Lorem ipsum dolor Scaller Lorem ipsum dolor Scaller</div>
		    					</div>
	    					</div>
	    				</li>

	    				<li>
	    					<div class="sidebar__list-video-it">
		    					<div class="sidebar__list-video-img"><img src="http://via.placeholder.com/100x100" alt=""></div>
		    					<div class="sidebar__list-video-content">
		    						<div class="sidebar__list-video-title">THE TRIP SCALLER - Eps 2 THE TRIP SCALLER - Eps 2</div>

		    						<div class="sidebar__list-video-text">Lorem ipsum dolor Scaller Lorem ipsum dolor Scaller</div>
		    					</div>
	    					</div>
	    				</li>

	    				<li>
	    					<div class="sidebar__list-video-it">
		    					<div class="sidebar__list-video-img"><img src="http://via.placeholder.com/100x100" alt=""></div>
		    					<div class="sidebar__list-video-content">
		    						<div class="sidebar__list-video-title">THE TRIP SCALLER - Eps 2 THE TRIP SCALLER - Eps 2</div>

		    						<div class="sidebar__list-video-text">Lorem ipsum dolor Scaller Lorem ipsum dolor Scaller</div>
		    					</div>
	    					</div>
	    				</li>
	    			</ul>	
		    	</div>

		    	<!-- SIDEBAR LIST -->
		    	<div class="sidebar__block">
	    			<div class="sidebar__block-head"><h2>Must Watch</h2></div>

	    			<ul class="sidebar__list-video">
	    				<li>
	    					<div class="sidebar__list-video-it type2">
		    					<div class="sidebar__list-video-img type2">
		    						<img src="http://via.placeholder.com/120x120" alt="">
		    						<div class="sidebar__list-video-icon"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
		    					</div>
		    					<div class="sidebar__list-video-content">
		    						<div class="sidebar__list-video-title">THE TRIP</div>

		    						<div class="sidebar__list-video-text">Lorem ipsum dolor Scaller Lorem ipsum dolor Scaller</div>

		    						<div class="sidebar__list-video-small">
		    							11:07 - Agustus 2017
		    							<span>666K Views</span>
		    						</div>
		    					</div>
	    					</div>
	    				</li>

	    				<li>
	    					<div class="sidebar__list-video-it type2">
		    					<div class="sidebar__list-video-img type2">
		    						<img src="http://via.placeholder.com/120x120" alt="">
		    						<div class="sidebar__list-video-icon"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
		    					</div>
		    					<div class="sidebar__list-video-content">
		    						<div class="sidebar__list-video-title">THE TRIP</div>

		    						<div class="sidebar__list-video-text">Lorem ipsum dolor Scaller Lorem ipsum dolor Scaller</div>

		    						<div class="sidebar__list-video-small">
		    							11:07 - Agustus 2017
		    							<span>666K Views</span>
		    						</div>
		    					</div>
	    					</div>
	    				</li>
	    			</ul>	
		    	</div>
		    </div>
		</div>

		<!-- COMMENTBOX -->
		<div class="comment">
			<div class="comment__head">
				<div class="button__block">
					<a href="#" class="button">Log In to Comment</a>
				</div>

				<div class="comment__head-title">666 COMMENTS</div>
			</div>

			<div class="comment__body">
				<ul class="comment__list">
					<li>
						<div class="comment__it">
							<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

							<div class="comment__content">
								<div class="comment__name">
									Budi Ojan
									<time>5 hours ago</time>
								</div>

								<div class="comment__text">
									<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="comment__it">
							<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

							<div class="comment__content">
								<div class="comment__name">
									Budi Ojan
									<time>5 hours ago</time>
								</div>

								<div class="comment__text">
									<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

<button onclick="topFunction()" id="scrollTop" title="Go to top"><i class="fa fa-angle-double-up"></i></button>
@@include('../Shared/footer.html', {
       
})