@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">

	<div class="inner-slider-block">
		<div class="inner__slider">
			<div class="inner__slider-it smtv">
				<div class="inner__slider-img">
					<img src="http://via.placeholder.com/1900x315" alt="">
				</div>

				<div class="inner__slider-content">
					<div class="inner__slider-icon"><img src="assets/img/logo-trip.png" alt=""></div>
					<div class="inner__slider-title">The Trip merupakan sit amet, consectetuer adipiscing elit, sed diam magna aliquam erat volutpat. Ut.</div>
				</div>
			</div>

			<div class="inner__slider-it smtv">
				<div class="inner__slider-img">
					<img src="http://via.placeholder.com/1900x315" alt="">
				</div>

				<div class="inner__slider-content">
					<div class="inner__slider-icon"><img src="assets/img/logo-cor.png" alt=""></div>
					<div class="inner__slider-title">Class of Rock merupakan sit amet, consectetuer adipiscing elit, sed diam magna aliquam erat volutpat. Ut.</div>
				</div>
			</div>

			<div class="inner__slider-it smtv">
				<div class="inner__slider-img">
					<img src="http://via.placeholder.com/1900x315" alt="">
				</div>

				<div class="inner__slider-content">
					<div class="inner__slider-icon"><img src="assets/img/logo-factoid.png" alt=""></div>
					<div class="inner__slider-title">Factoid merupakan sit amet, consectetuer adipiscing elit, sed diam magna aliquam erat volutpat. Ut.</div>
				</div>
			</div>
		</div>

		<div class="inner-slider-dots"></div>
	</div>
			
	<div class="container">
		<div class="tv">
			

			<section class="block">
				<div class="block__title"><h2>The Trip</h2></div>
				<div class="tv__main-gallery-cont">
					<div class="tv__main-gallery tv__main-trip">
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
					</div>

					<div class="gallery-slider-arrow">
						<a href="#" class="tv-slider-trip-prev"></a>
						<a href="#" class="tv-slider-trip-next"></a>
					</div>
				</div>
			</section>

			<section class="block">
				<div class="block__title"><h2>Class of Rock</h2></div>
				<div class="tv__main-gallery-cont">
					<div class="tv__main-gallery tv__main-cor">
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
					</div>

					<div class="gallery-slider-arrow">
						<a href="#" class="tv-slider-cor-prev"></a>
						<a href="#" class="tv-slider-cor-next"></a>
					</div>
				</div>
			</section>

			<section class="block">
				<div class="block__title"><h2>Factoid</h2></div>
				<div class="tv__main-gallery-cont">
					<div class="tv__main-gallery tv__main-factoid">
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
						<div class="tv__main-gallery-it">
							<div class="boxstory">
								<div class="boxstory__img">
								    <img src="http://via.placeholder.com/374x253" alt="">
								    <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
								    <div class="boxstory__icon play"><a href="#"><img src="assets/img/play.png" alt=""></a></div>
								</div>

								<div class="boxstory__content">
								    <h3 class="boxstory__title">THE TRIP<br>SCALLER - Eps 3</h3>

								    <time class="boxstory__date">11:07 - Agustus 2017</time>

								    <a href="#" class="boxstory__link">Tonton Sekarang</a>
								</div>
							</div>
						</div>
					</div>

					<div class="gallery-slider-arrow">
						<a href="#" class="tv-slider-factoid-prev"></a>
						<a href="#" class="tv-slider-factoid-next"></a>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- MODAL SMTV OFFLINE -->
    <div id="modalSmtvOffline" class="modal fade smtv-offline" role="dialog">

        <div class="modal-dialog modal-sm">

            <!-- MODAL CONTENT-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <div class="smtv-offline-img"><img src="assets/img/smtv-offline.png" alt=""></div>
                </div>
                <div class="modal-body">
                	<div class="modal-text">
                		Nikmati fitur menonton secara offline dengan menjadi member SuperMusic.ID
                	</div>
                </div>

                <div class="modal-footer">
                    <div class="form__button-block text-center">
                    	<a href="#" class="button">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

@@include('../Shared/footer.html', {
       
})