@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
	
	<div class="article__media">
		<img src="http://via.placeholder.com/1170x320" alt="">
	</div>

	<div class="article container">
		<article>
			<div class="article__head">
				<h1 class="article__title">SUPER RAWK FEST 2017: WADAH UNJUK GIGI TALENTA MUDA JAWA BARAT</h1>

				<div class="share">
					<a href="#" class="share-button like">Like</a>
					<a href="#" class="share-button">
						<span class="fa-stack">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
						Share
					</a>
					<a href="#" class="share-button">
						<span class="fa-stack">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
						Share
					</a>
				</div>

				<div class="breadcrumbs">
					<a href="#" class="breadcrumbs__link">Home</a>
					<a href="#" class="breadcrumbs__link">Supernews</a>
					<a href="#" class="breadcrumbs__link active">Super Buzz</a>
				</div>

				<div class="article__misc">
					<ul class="article__misc-list">
						<li>By: NTP</li>
						<li>11:07 - Agustus 2017</li>
						<li>666 View</li>
						<li>666 Likes</li>
					</ul>
				</div>
			</div>

			<div class="article__body">
				<div class="clearfix">
					<div class="article__main float-left">
						<h1>Neque porro quisquam est qui dolorem</h1>

						<h2>Neque porro quisquam est qui dolorem</h2>

						<h3>Neque porro quisquam est qui dolorem</h3>

						<h4>Neque porro quisquam est qui dolorem</h4>

						<h5>Neque porro quisquam est qui dolorem</h5>

						<h6>Neque porro quisquam est qui dolorem</h6>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor. Maecenas luctus ante odio, et consectetur tortor rutrum in. Sed tincidunt, leo in maximus efficitur, justo nisi eleifend enim, in elementum ex tellus et lacus. Morbi sodales placerat nibh sed condimentum. Praesent ornare at urna ac ultrices. Aenean ac tempor eros. Cras placerat massa eget feugiat blandit. Quisque malesuada diam elementum nisl fringilla, porttitor laoreet nibh fermentum. Mauris sit amet imperdiet neque, et ultrices lacus.</p>

						<div class="article__more">
							<div class="article__more-content">
								<div class="article__more-tag">Baca Juga</div>

								<div class="article__more-title">DREAM Collaboration:<br>5 Kolaborasi Impian Reney "Scaller" Karamoy</div>

								<div class="article__more-img"><img src="http://via.placeholder.com/160x160" alt=""></div>
							</div>
						</div>

						<ul>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
						</ul>

						<ol>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
						</ol>

						<blockquote>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</blockquote>

						<p>Neque porro quisquam <a href="#">est qui dolorem ipsum quia</a> dolor sit amet</p>

						<div class="media">
							<img src="http://via.placeholder.com/600x400" alt="">
							<div class="caption">Photo caption</div>
						</div>

						<div class="media">
							<iframe class="youtube" width="100%" height="360" src="https://www.youtube.com/embed/tKxQQ_EqgQg" frameborder="0" allowfullscreen></iframe>
						</div>

						<table>
							<thead>
								<tr>
									<th>Lorem Ipsum</th>
									<th>Lorem Ipsum</th>
									<th>Lorem Ipsum</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>Neque porro quisquam est qui</td>
									<td>Neque porro quisquam est qui</td>
									<td>Neque porro quisquam est qui</td>
								</tr>
								<tr>
									<td>Neque porro quisquam est qui</td>
									<td>Neque porro quisquam est qui</td>
									<td>Neque porro quisquam est qui</td>
								</tr>
								<tr>
									<td>Neque porro quisquam est qui</td>
									<td>Neque porro quisquam est qui</td>
									<td>Neque porro quisquam est qui</td>
								</tr>
							</tbody>
						</table>

						<div class="tags">
							<div class="tags__title">TAGS:</div>

							<ul class="tags__list">
								<li><a href="#" class="tags__link">Lorem Ipsum</a></li>
								<li><a href="#" class="tags__link">Lorem Ipsum</a></li>
								<li><a href="#" class="tags__link">Lorem Ipsum</a></li>
								<li><a href="#" class="tags__link">Lorem Ipsum</a></li>
								<li><a href="#" class="tags__link">Lorem Ipsum</a></li>
							</ul>
						</div>
					</div>

					<!-- SIDEBAR -->
				    <div id="sidebar" class="sidebar float-right">
				    	<!-- IMAGE -->
						<div class="sidebar__block"><img src="http://via.placeholder.com/300x250" alt=""></div>

				    	<!-- VIDEO -->
				    	<div class="sidebar__block"><img src="http://via.placeholder.com/300x250" alt=""></div>

				    	<!-- ADS -->
				    	<div class="sidebar__block"><img src="http://via.placeholder.com/300x90" alt=""></div>

				    	<!-- SIDEBAR LIST -->
				    	<div class="sidebar__block">
				    		<div class="sidebar__list-block">
				    			<ul class="sidebar__list">
				    				<li>
				    					<div class="sidebar__block-head"><h2>Latest News</h2></div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">1</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds...</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">2</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds adadsad adas dada ad.asdadada</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">3</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds...</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">4</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds...</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">5</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds...</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    			</ul>   			
				    		</div>
				    	</div>

				    	<!-- SIDEBAR TWEET -->
				    	<div class="sidebar__block">
				    		<div class="sidebar__block-head"><h2>Latest Tweet</h2></div>

				    		<div class="sidebar__tweet"></div>
				    	</div>
				    </div>
			    </div>
			</div>
		</article>
	</div>
	
	<!-- COMMENTBOX -->
	<div class="comment">
		<div class="container">
			<div class="comment__head clearfix">
				<!--<div class="button__block">
					<a href="#" class="button">Log In to Comment</a>
				</div>-->

				<div class="comment__head-title">666 COMMENTS</div>

				<div class="comment__head-name">Jonathan Doe</div>
			</div>

			<div class="comment__body">
				<div class="comment__area">
					<div class="select__block">
						<select name="" id="">
							<option value="">Sort by</option>
							<option value="">Newest</option>
							<option value="">Oldest</option>
						</select>
					</div>
					<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

					<form action="">
						<div class="form__block no-margin">
							<textarea class="textarea" name="" id="" cols="30" rows="10"></textarea>
						</div>

						<div class="form__button-block">
							<button class="button">Post as John Doe</button>
						</div>
					</form>
				</div>

				<ul class="comment__list">
					<li>
						<div class="comment__it">
							<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

							<div class="comment__content">
								<div class="comment__name">
									Budi Ojan
									<time>5 hours ago</time>
								</div>

								<div class="comment__text">
									<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="comment__it">
							<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

							<div class="comment__content">
								<div class="comment__name">
									Ningsih
									<time>5 hours ago</time>
								</div>

								<div class="comment__text">
									<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="pagination__block">
				<ul class="pagination">
				    <li class="active"><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- SECTION -->
	<section class="block">
		<div class="container">
		    <div class="block__title"><h2>Related News</h2></div>

		    <div class="row">
		    	<div class="col-sm-4">
	                <div class="boxstory">
	                    <div class="boxstory__img">
	                        <img src="http://via.placeholder.com/350x250" alt="">
	                        <div class="boxstory__label">Super Buzz</div>
	                        <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
	                    </div>

	                    <div class="boxstory__content">
	                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                        <time class="boxstory__date">11:07 - Agustus 2017</time>

	                        <div class="boxstory__text">
	                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                        </div>

	                        <a href="#" class="boxstory__link">Selengkapnya</a>
	                    </div>
	                </div>
	            </div> 

	            <div class="col-sm-4">
	                <div class="boxstory">
	                    <div class="boxstory__img">
	                        <img src="http://via.placeholder.com/350x250" alt="">
	                        <div class="boxstory__label">Super Buzz</div>
	                        <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
	                    </div>

	                    <div class="boxstory__content">
	                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                        <time class="boxstory__date">11:07 - Agustus 2017</time>

	                        <div class="boxstory__text">
	                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                        </div>

	                        <a href="#" class="boxstory__link">Selengkapnya</a>
	                    </div>
	                </div>
	            </div>

	            <div class="col-sm-4">
	                <div class="boxstory">
	                    <div class="boxstory__img">
	                        <img src="http://via.placeholder.com/350x250" alt="">
	                        <div class="boxstory__label">Super Buzz</div>
	                        <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
	                    </div>

	                    <div class="boxstory__content">
	                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                        <time class="boxstory__date">11:07 - Agustus 2017</time>

	                        <div class="boxstory__text">
	                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                        </div>

	                        <a href="#" class="boxstory__link">Selengkapnya</a>
	                    </div>
	                </div>
	            </div>

	            <div class="col-sm-4">
	                <div class="boxstory">
	                    <div class="boxstory__img">
	                        <img src="http://via.placeholder.com/350x250" alt="">
	                        <div class="boxstory__label">Super Buzz</div>
	                        <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
	                    </div>

	                    <div class="boxstory__content">
	                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                        <time class="boxstory__date">11:07 - Agustus 2017</time>

	                        <div class="boxstory__text">
	                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                        </div>

	                        <a href="#" class="boxstory__link">Selengkapnya</a>
	                    </div>
	                </div>
	            </div> 

	            <div class="col-sm-4">
	                <div class="boxstory">
	                    <div class="boxstory__img">
	                        <img src="http://via.placeholder.com/350x250" alt="">
	                        <div class="boxstory__label">Super Buzz</div>
	                        <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
	                    </div>

	                    <div class="boxstory__content">
	                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                        <time class="boxstory__date">11:07 - Agustus 2017</time>

	                        <div class="boxstory__text">
	                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                        </div>

	                        <a href="#" class="boxstory__link">Selengkapnya</a>
	                    </div>
	                </div>
	            </div>

	            <div class="col-sm-4">
	                <div class="boxstory">
	                    <div class="boxstory__img">
	                        <img src="http://via.placeholder.com/350x250" alt="">
	                        <div class="boxstory__label">Super Buzz</div>
	                        <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
	                    </div>

	                    <div class="boxstory__content">
	                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                        <time class="boxstory__date">11:07 - Agustus 2017</time>

	                        <div class="boxstory__text">
	                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                        </div>

	                        <a href="#" class="boxstory__link">Selengkapnya</a>
	                    </div>
	                </div>
	            </div>
		    </div>
		</div>
	</section>

<button onclick="topFunction()" id="scrollTop" title="Go to top"><i class="fa fa-angle-double-up"></i></button>
@@include('../Shared/footer.html', {
       
})