@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">

	<div class="container">
		<section class="block">
	        <div class="clearfix">
	            <div class="block__inner float-left">
	            	<div class="quiz"></div>
	                <div class="quiz__play">
	                	<img class="game" src="http://via.placeholder.com/800x800" alt="">
	                </div>

	                <div class="quiz__button form__button-block">
	                	<a href="#" class="button type2">Kembali</a>
	                	<a href="#" class="button">Mulai</a>
	                </div>
	            </div>

				<div class="sidebar float-right">
					<!-- IMAGE -->
	                <div class="sidebar__block">
	                    <img src="http://via.placeholder.com/300x250" alt="">
	                </div>

	                <!-- VIDEO -->
	                <div class="sidebar__block">
	                    <img src="http://via.placeholder.com/300x250" alt="">
	                </div>

			    	<!-- ADS -->
			    	<div class="sidebar__block">
			    		<img src="http://via.placeholder.com/300x250" alt="">
			    	</div>    	
			    </div>
			</div>
		</section>
	</div>

@@include('../Shared/footer.html', {
       
})