
@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper" class="additional superloud">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
			<section class="block no-margin">
				<div class="container">
					<div class="custom-slider-cont">
						<div class="custom-slider">
							<div class="custom-slider-it">
								<div class="custom-slider__img">
									<img src="http://via.placeholder.com/400x280" alt="">
								</div>

								<div class="custom-slider__content">
									<div class="custom-slider__title">Supermusic Rockin Battle</div>
									<div class="form__button-block no-margin">
										<a href="#" class="custom-slider__button button">Cek Disini</a>
									</div>
								</div>
							</div>
							<div class="custom-slider-it">
								<div class="custom-slider__img">
									<img src="http://via.placeholder.com/400x280" alt="">
								</div>

								<div class="custom-slider__content">
									<div class="custom-slider__title">Supermusic Rockin Battle</div>
									<div class="form__button-block no-margin">
										<a href="#" class="custom-slider__button button">Cek Disini</a>
									</div>
								</div>
							</div>
							<div class="custom-slider-it">
								<div class="custom-slider__img">
									<img src="http://via.placeholder.com/400x280" alt="">
								</div>

								<div class="custom-slider__content">
									<div class="custom-slider__title">Supermusic Rockin Battle</div>
									<div class="form__button-block no-margin">
										<a href="#" class="custom-slider__button button">Cek Disini</a>
									</div>
								</div>
							</div>
							<div class="custom-slider-it">
								<div class="custom-slider__img">
									<img src="http://via.placeholder.com/400x280" alt="">
								</div>

								<div class="custom-slider__content">
									<div class="custom-slider__title">Supermusic Rockin Battle</div>
									<div class="form__button-block no-margin">
										<a href="#" class="custom-slider__button button">Cek Disini</a>
									</div>
								</div>
							</div>
							<div class="custom-slider-it">
								<div class="custom-slider__img">
									<img src="http://via.placeholder.com/400x280" alt="">
								</div>

								<div class="custom-slider__content">
									<div class="custom-slider__title">Supermusic Rockin Battle</div>
									<div class="form__button-block no-margin">
										<a href="#" class="custom-slider__button button">Cek Disini</a>
									</div>
								</div>
							</div>
						</div>

						<a href="javascript:void(0)" class="custom-slider-prev"><i class="fa fa-angle-left"></i></a>
						<a href="javascript:void(0)" class="custom-slider-next"><i class="fa fa-angle-right"></i></a>
					</div>
				</div>
			</section>

@@include('../Shared/footer.html', {
       
})