@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
        <!-- HEADER -->
        @@include('../Shared/header.html', {
       
        })
        <!-- HEADER -->

        <div id="content">

	<div class="container">
		<div class="inner-slider-block">
			<div class="inner__slider">
				<div class="inner__slider-it">
					<div class="inner__slider-img">
						<img src="http://via.placeholder.com/1170x315" alt="">
					</div>

					<div class="inner__slider-title">
                        Super Quiz
                        <span>Ikuti Quiz dari SuperMusic.Id dan dapatkan pointnya</span>
                    </div>
				</div>
			</div>
		</div>

		<section class="block">
            <div class="row">
                <div class="col-sm-4">
                    <div class="boxstory boxstory--quiz">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/350x250" alt="">
                        </div>

                        <div class="boxstory__content">
                            <div class="boxstory__text">
                                <p>Kuis 1</p>
                            </div>
                            <div class="boxstory__text">
                                <p>Lengkapi Puzzle Kurt Cobain</p>
                            </div>
                            <div class="boxstory__text point">
                                <p>30 Pts</p>
                            </div>

                            <div class="form__button-block"><a href="#" class="boxstory__link button">Main Sekarang</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="boxstory boxstory--quiz">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/350x250" alt="">
                        </div>

                        <div class="boxstory__content">
                            <div class="boxstory__text">
                                <p>Kuis 1</p>
                            </div>
                            <div class="boxstory__text">
                                <p>Lengkapi Puzzle Kurt Cobain</p>
                            </div>
                            <div class="boxstory__text point">
                                <p>30 Pts</p>
                            </div>

                            <div class="form__button-block"><a href="#" class="boxstory__link button">Main Sekarang</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="boxstory boxstory--quiz">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/350x250" alt="">
                        </div>

                        <div class="boxstory__content">
                            <div class="boxstory__text">
                                <p>Kuis 1</p>
                            </div>
                            <div class="boxstory__text">
                                <p>Lengkapi Puzzle Kurt Cobain</p>
                            </div>
                            <div class="boxstory__text point">
                                <p>30 Pts</p>
                            </div>

                            <div class="form__button-block"><a href="#" class="boxstory__link button">Main Sekarang</a></div>
                        </div>

                        <div class="cover"><img src="http://via.placeholder.com/600x800" alt=""></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="boxstory boxstory--quiz">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/350x250" alt="">
                        </div>

                        <div class="boxstory__content">
                            <div class="boxstory__text">
                                <p>Kuis 1</p>
                            </div>
                            <div class="boxstory__text">
                                <p>Lengkapi Puzzle Kurt Cobain</p>
                            </div>
                            <div class="boxstory__text point">
                                <p>30 Pts</p>
                            </div>

                            <div class="form__button-block"><a href="#" class="boxstory__link button">Main Sekarang</a></div>
                        </div>

                        <div class="cover"><img src="http://via.placeholder.com/600x800" alt=""></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="boxstory boxstory--quiz">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/350x250" alt="">
                        </div>

                        <div class="boxstory__content">
                            <div class="boxstory__text">
                                <p>Kuis 1</p>
                            </div>
                            <div class="boxstory__text">
                                <p>Lengkapi Puzzle Kurt Cobain</p>
                            </div>
                            <div class="boxstory__text point">
                                <p>30 Pts</p>
                            </div>

                            <div class="form__button-block"><a href="#" class="boxstory__link button">Main Sekarang</a></div>
                        </div>

                        <div class="cover"><img src="http://via.placeholder.com/600x800" alt=""></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="boxstory boxstory--quiz">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/350x250" alt="">
                        </div>

                        <div class="boxstory__content">
                            <div class="boxstory__text">
                                <p>Kuis 1</p>
                            </div>
                            <div class="boxstory__text">
                                <p>Lengkapi Puzzle Kurt Cobain</p>
                            </div>
                            <div class="boxstory__text point">
                                <p>30 Pts</p>
                            </div>

                            <div class="form__button-block"><a href="#" class="boxstory__link button">Main Sekarang</a></div>
                        </div>

                        <div class="cover"><img src="http://via.placeholder.com/600x800" alt=""></div>
                    </div>
                </div>
            </div>

	        <div class="load-more"><a href="#">Load More</a></div>
		</section>
	</div>

@@include('../Shared/footer.html', {
       
})