@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">

	<div class="container">
		<div class="inner-slider-block">
			<div class="inner__slider">
				<div class="inner__slider-it">
					<div class="inner__slider-img">
						<img src="http://via.placeholder.com/1170x315" alt="">
					</div>

					<div class="inner__slider-title">Indies Heart, Death Metal Blood</div>
				</div>

				<div class="inner__slider-it">
					<div class="inner__slider-img">
						<img src="http://via.placeholder.com/1170x315" alt="">
					</div>

					<div class="inner__slider-title">Indies Heart, Death Metal Blood</div>
				</div>

				<div class="inner__slider-it">
					<div class="inner__slider-img">
						<img src="http://via.placeholder.com/1170x315" alt="">
					</div>

					<div class="inner__slider-title">Indies Heart, Death Metal Blood</div>
				</div>
			</div>

			<div class="inner-slider-dots"></div>
		</div>

		<section class="block">
			<div class="block__title"><h2>Super Noize</h2></div>

	        <div class="clearfix">
	            <div class="block__inner float-left">
	                <div class="row">
	                    <div class="col-sm-6">
	                        <div class="boxstory">
	                            <div class="boxstory__img">
	                                <img src="http://via.placeholder.com/350x250" alt="">
	                                <div class="boxstory__label">Super Buzz</div>
	                                <div class="boxstory__icon view"><img src="assets/img/icon-view.png" alt=""><span>666 views</span></div>
	                            </div>

	                            <div class="boxstory__content">
	                                <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                                <time class="boxstory__date">11:07 - Agustus 2017</time>

	                                <div class="boxstory__text">
	                                    <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                                </div>

	                                <a href="#" class="boxstory__link">Selengkapnya</a>
	                            </div>
	                        </div>
	                    </div>

	                    <div class="col-sm-6">
	                        <div class="boxstory">
	                            <div class="boxstory__img">
	                                <img src="http://via.placeholder.com/350x250" alt="">
	                                <div class="boxstory__label">Super Buzz</div>
	                                <div class="boxstory__icon view"><img src="assets/img/icon-view.png" alt=""><span>666 views</span></div>
	                            </div>

	                            <div class="boxstory__content">
	                                <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                                <time class="boxstory__date">11:07 - Agustus 2017</time>

	                                <div class="boxstory__text">
	                                    <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                                </div>

	                                <a href="#" class="boxstory__link">Selengkapnya</a>
	                            </div>
	                        </div>
	                    </div>

	                    <div class="col-sm-6">
	                        <div class="boxstory">
	                            <div class="boxstory__img">
	                                <img src="http://via.placeholder.com/350x250" alt="">
	                                <div class="boxstory__label">Super Buzz</div>
	                                <div class="boxstory__icon view"><img src="assets/img/icon-view.png" alt=""><span>666 views</span></div>
	                            </div>

	                            <div class="boxstory__content">
	                                <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                                <time class="boxstory__date">11:07 - Agustus 2017</time>

	                                <div class="boxstory__text">
	                                    <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                                </div>

	                                <a href="#" class="boxstory__link">Selengkapnya</a>
	                            </div>
	                        </div>
	                    </div>

	                    <div class="col-sm-6">
	                        <div class="boxstory">
	                            <div class="boxstory__img">
	                                <img src="http://via.placeholder.com/350x250" alt="">
	                                <div class="boxstory__label">Super Buzz</div>
	                                <div class="boxstory__icon view"><img src="assets/img/icon-view.png" alt=""><span>666 views</span></div>
	                            </div>

	                            <div class="boxstory__content">
	                                <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                                <time class="boxstory__date">11:07 - Agustus 2017</time>

	                                <div class="boxstory__text">
	                                    <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                                </div>

	                                <a href="#" class="boxstory__link">Selengkapnya</a>
	                            </div>
	                        </div>
	                    </div>

	                    <div class="col-sm-6">
	                        <div class="boxstory">
	                            <div class="boxstory__img">
	                                <img src="http://via.placeholder.com/350x250" alt="">
	                                <div class="boxstory__label">Super Buzz</div>
	                                <div class="boxstory__icon view"><img src="assets/img/icon-view.png" alt=""><span>666 views</span></div>
	                            </div>

	                            <div class="boxstory__content">
	                                <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                                <time class="boxstory__date">11:07 - Agustus 2017</time>

	                                <div class="boxstory__text">
	                                    <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                                </div>

	                                <a href="#" class="boxstory__link">Selengkapnya</a>
	                            </div>
	                        </div>
	                    </div>

	                    <div class="col-sm-6">
	                        <div class="boxstory">
	                            <div class="boxstory__img">
	                                <img src="http://via.placeholder.com/350x250" alt="">
	                                <div class="boxstory__label">Super Buzz</div>
	                                <div class="boxstory__icon view"><img src="assets/img/icon-view.png" alt=""><span>666 views</span></div>
	                            </div>

	                            <div class="boxstory__content">
	                                <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                                <time class="boxstory__date">11:07 - Agustus 2017</time>

	                                <div class="boxstory__text">
	                                    <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                                </div>

	                                <a href="#" class="boxstory__link">Selengkapnya</a>
	                            </div>
	                        </div>
	                    </div>
	                </div>

			        <div class="load-more"><a href="#">Load More</a></div>
	            </div>

				<div class="sidebar float-right">
					<!-- IMAGE -->
	                <div class="sidebar__block">
	                    <img src="http://via.placeholder.com/300x250" alt="">
	                </div>

	                <!-- VIDEO -->
	                <div class="sidebar__block">
	                    <img src="http://via.placeholder.com/300x250" alt="">
	                </div>

			    	<!-- ADS -->
			    	<div class="sidebar__block">
			    		<img src="http://via.placeholder.com/300x250" alt="">
			    	</div>

			    	<!-- SIDEBAR LIST -->
			    	<div class="sidebar__block">
			    		<div class="sidebar__list-block">
			    			<ul class="sidebar__list">
			    				<li>
			    					<div class="sidebar__block-head"><h2>Latest News</h2></div>
			    				</li>
			    				<li>
			    					<div class="sidebar__list-it">
			    						<div class="sidebar__list-num">1</div>
			    						
			    						<div class="sidebar__list-content">
				    						<h3 class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</h3>

				    						<div class="sidebar__list-text">
				    							<p>1. Images and Worlds...</p>
				    						</div>
			    						</div>
			    					</div>
			    				</li>
			    				<li>
			    					<div class="sidebar__list-it">
			    						<div class="sidebar__list-num">2</div>
			    						
			    						<div class="sidebar__list-content">
				    						<h3 class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</h3>

				    						<div class="sidebar__list-text">
				    							<p>1. Images and Worlds...</p>
				    						</div>
			    						</div>
			    					</div>
			    				</li>
			    				<li>
			    					<div class="sidebar__list-it">
			    						<div class="sidebar__list-num">3</div>
			    						
			    						<div class="sidebar__list-content">
				    						<h3 class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</h3>

				    						<div class="sidebar__list-text">
				    							<p>1. Images and Worlds...</p>
				    						</div>
			    						</div>
			    					</div>
			    				</li>
			    				<li>
			    					<div class="sidebar__list-it">
			    						<div class="sidebar__list-num">4</div>
			    						
			    						<div class="sidebar__list-content">
				    						<h3 class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</h3>

				    						<div class="sidebar__list-text">
				    							<p>1. Images and Worlds...</p>
				    						</div>
			    						</div>
			    					</div>
			    				</li>
			    				<li>
			    					<div class="sidebar__list-it">
			    						<div class="sidebar__list-num">5</div>
			    						
			    						<div class="sidebar__list-content">
				    						<h3 class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</h3>

				    						<div class="sidebar__list-text">
				    							<p>1. Images and Worlds...</p>
				    						</div>
			    						</div>
			    					</div>
			    				</li>
			    			</ul>   			
			    		</div>
			    	</div>	    	
			    </div>
			</div>
		</section>
	</div>

@@include('../Shared/footer.html', {
       
})