@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
        <!-- HEADER -->
        @@include('../Shared/header.html', {
       
        })
        <!-- HEADER -->

        <div id="content">

    <div class="inner-slider-block">
        <div class="inner__slider">
            <div class="inner__slider-it">
                <div class="inner__slider-img">
                    <img src="http://via.placeholder.com/1170x315" alt="">
                </div>

                <div class="inner__slider-title">Super Band</div>
            </div>
        </div>
    </div>
    
	<div class="container">
		<section class="block band-head">
			<div class="breadcrumbs">
				<a href="#" class="breadcrumbs__link">Home</a>
				<a href="#" class="breadcrumbs__link">Supernews</a>
				<a href="#" class="breadcrumbs__link active">Super Band</a>
			</div>
			<div class="band-text"><span>666</span> Band available</div>

			<div class="show">
				<ul>
					<li>Show By:</li>
					<li><a href="#" class="active">View</a></li>
					<li><a href="#">Name</a></li>
				</ul>
			</div>
		</section>

		<section class="block">
            <div class="row">
                <div class="col-sm-6">
                    <div class="boxstory boxstory--cover">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/800x250" alt="">
                        </div>

                        <div class="cover-link"><a href="#">Atlantis</a></div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="boxstory boxstory--cover">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/800x250" alt="">
                        </div>

                        <div class="cover-link"><a href="#">Bhigonia</a></div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="boxstory boxstory--cover">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/800x250" alt="">
                        </div>

                        <div class="cover-link"><a href="#">Brisk</a></div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="boxstory boxstory--cover">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/800x250" alt="">
                        </div>

                        <div class="cover-link"><a href="#">Coff</a></div>
                    </div>
                </div>
            </div>

	        <div class="load-more">
                <a href="#">
                    Load More
                    <i class="fa fa-angle-double-down"></i> 
                </a>
            </div>
		</section>
	</div>

@@include('../Shared/footer.html', {
       
})