@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">

	<div class="article container">
		<article>
			<div class="article__media">
				<img src="http://via.placeholder.com/1170x320" alt="">
			</div>

			<div class="article__head">
				<h1 class="article__title">10 LAGU TERBAIK DITO & MAMET 'BAREFOOD'</h1>

				<div class="share">
					<a href="#" class="share-button">Like</a>
					<a href="#" class="share-button fb">Share</a>
					<a href="#" class="share-button tw">Share</a>
				</div>

				<div class="breadcrumbs">
					<a href="#" class="breadcrumbs__link">Home</a>
					<a href="#" class="breadcrumbs__link">Supernews</a>
					<a href="#" class="breadcrumbs__link active">Super Tapes</a>
				</div>

				<div class="article__misc">
					<ul class="article__misc-list">
						<li>By: NTP</li>
						<li>11:07 - Agustus 2017</li>
						<li>666 View</li>
						<li>666 Likes</li>
					</ul>
				</div>
			</div>

			<div class="article__body">
				<div class="clearfix">
					<div class="article__main float-left">
						<h2>Neque porro quisquam est qui dolorem</h2>

						<h3>Neque porro quisquam est qui dolorem</h3>

						<h4>Neque porro quisquam est qui dolorem</h4>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor. Maecenas luctus ante odio, et consectetur tortor rutrum in. Sed tincidunt, leo in maximus efficitur, justo nisi eleifend enim, in elementum ex tellus et lacus. Morbi sodales placerat nibh sed condimentum. Praesent ornare at urna ac ultrices. Aenean ac tempor eros. Cras placerat massa eget feugiat blandit. Quisque malesuada diam elementum nisl fringilla, porttitor laoreet nibh fermentum. Mauris sit amet imperdiet neque, et ultrices lacus.</p>

						<div class="tapes-cont">
							<div class="tapes">
								<div class="tapes__slide">
									<div class="tapes__it">
										<div class="tapes__img" tapes="1"><img src="http://via.placeholder.com/155x155" alt=""></div>

										<div class="tapes__content">
											<div class="tapes__title">Ahmad Band - Sudah</div>

											<div class="tapes__text">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor.</p>
											</div>
										</div>
									</div>

									<div class="tapes__it">
										<div class="tapes__img" tapes="2"><img src="http://via.placeholder.com/155x155" alt=""></div>

										<div class="tapes__content">
											<div class="tapes__title">Ahmad Band - Sudah</div>

											<div class="tapes__text">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor.</p>
											</div>
										</div>
									</div>

									<div class="tapes__it">
										<div class="tapes__img" tapes="3"><img src="http://via.placeholder.com/155x155" alt=""></div>

										<div class="tapes__content">
											<div class="tapes__title">Ahmad Band - Sudah</div>

											<div class="tapes__text">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor.</p>
											</div>
										</div>
									</div>

									<div class="tapes__it">
										<div class="tapes__img" tapes="4"><img src="http://via.placeholder.com/155x155" alt=""></div>

										<div class="tapes__content">
											<div class="tapes__title">Ahmad Band - Sudah</div>

											<div class="tapes__text">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor.</p>
											</div>
										</div>
									</div>

									<div class="tapes__it">
										<div class="tapes__img" tapes="5"><img src="http://via.placeholder.com/155x155" alt=""></div>

										<div class="tapes__content">
											<div class="tapes__title">Ahmad Band - Sudah</div>

											<div class="tapes__text">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor.</p>
											</div>
										</div>
									</div>
								</div>

								<div class="tapes__slide">
									<div class="tapes__it">
										<div class="tapes__img" tapes="6"><img src="http://via.placeholder.com/155x155" alt=""></div>

										<div class="tapes__content">
											<div class="tapes__title">Ahmad Band - Sudah</div>

											<div class="tapes__text">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor.</p>
											</div>
										</div>
									</div>

									<div class="tapes__it">
										<div class="tapes__img" tapes="7"><img src="http://via.placeholder.com/155x155" alt=""></div>

										<div class="tapes__content">
											<div class="tapes__title">Ahmad Band - Sudah</div>

											<div class="tapes__text">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor.</p>
											</div>
										</div>
									</div>

									<div class="tapes__it">
										<div class="tapes__img" tapes="8"><img src="http://via.placeholder.com/155x155" alt=""></div>

										<div class="tapes__content">
											<div class="tapes__title">Ahmad Band - Sudah</div>

											<div class="tapes__text">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor.</p>
											</div>
										</div>
									</div>

									<div class="tapes__it">
										<div class="tapes__img" tapes="9"><img src="http://via.placeholder.com/155x155" alt=""></div>

										<div class="tapes__content">
											<div class="tapes__title">Ahmad Band - Sudah</div>

											<div class="tapes__text">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor.</p>
											</div>
										</div>
									</div>

									<div class="tapes__it">
										<div class="tapes__img" tapes="10"><img src="http://via.placeholder.com/155x155" alt=""></div>

										<div class="tapes__content">
											<div class="tapes__title">Ahmad Band - Sudah</div>

											<div class="tapes__text">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor.</p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tapes__nav">
								<a href="#" class="prev tapes___nav-prev"></a>
								<a href="#" class="next tapes___nav-next"></a>
							</div>
						</div>
					</div>

					<!-- SIDEBAR -->
				    <div class="sidebar float-right">
				    	<!-- IMAGE -->
						<div class="sidebar__block"><img src="http://via.placeholder.com/300x250" alt=""></div>

				    	<!-- VIDEO -->
				    	<div class="sidebar__block"><img src="http://via.placeholder.com/300x250" alt=""></div>

				    	<!-- ADS -->
				    	<div class="sidebar__block"><img src="http://via.placeholder.com/300x90" alt=""></div>

				    	<!-- SIDEBAR LIST -->
				    	<div class="sidebar__block">
				    		<div class="sidebar__list-block">
				    			<ul class="sidebar__list">
				    				<li>
				    					<div class="sidebar__block-head"><h2>Latest News</h2></div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">1</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds...</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">2</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds adadsad adas dada ad.asdadada</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">3</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds...</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">4</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds...</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">5</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds...</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    			</ul>   			
				    		</div>
				    	</div>

				    	<!-- SIDEBAR TWEET -->
				    	<div class="sidebar__block">
				    		<div class="sidebar__block-head"><h2>Latest Tweet</h2></div>

				    		<div class="sidebar__tweet"></div>
				    	</div>
				    </div>
			    </div>
			</div>
		</article>
	</div>
	
	<!-- COMMENTBOX -->
	<div class="comment">
		<div class="container">
			<div class="comment__head">
				<div class="button__block">
					<a href="#" class="button">Log In to Comment</a>
				</div>

				<div class="comment__head-title">666 COMMENTS</div>
			</div>

			<div class="comment__body">
				<ul class="comment__list">
					<li>
						<div class="comment__it">
							<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

							<div class="comment__content">
								<div class="comment__name">
									Budi Ojan
									<time>5 hours ago</time>
								</div>

								<div class="comment__text">
									<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="comment__it">
							<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

							<div class="comment__content">
								<div class="comment__name">
									Ningsih
									<time>5 hours ago</time>
								</div>

								<div class="comment__text">
									<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- SECTION -->
	<section class="block">
		<div class="container">
		    <div class="block__title"><h2>Related News</h2></div>

		    <div class="row">
		    	<div class="col-sm-4">
	                <div class="boxstory">
	                    <div class="boxstory__img">
	                        <img src="http://via.placeholder.com/350x250" alt="">
	                        <div class="boxstory__label">Super Buzz</div>
	                        <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
	                    </div>

	                    <div class="boxstory__content">
	                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                        <time class="boxstory__date">11:07 - Agustus 2017</time>

	                        <div class="boxstory__text">
	                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                        </div>

	                        <a href="#" class="boxstory__link">Selengkapnya</a>
	                    </div>
	                </div>
	            </div> 

	            <div class="col-sm-4">
	                <div class="boxstory">
	                    <div class="boxstory__img">
	                        <img src="http://via.placeholder.com/350x250" alt="">
	                        <div class="boxstory__label">Super Buzz</div>
	                        <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
	                    </div>

	                    <div class="boxstory__content">
	                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                        <time class="boxstory__date">11:07 - Agustus 2017</time>

	                        <div class="boxstory__text">
	                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                        </div>

	                        <a href="#" class="boxstory__link">Selengkapnya</a>
	                    </div>
	                </div>
	            </div>

	            <div class="col-sm-4">
	                <div class="boxstory">
	                    <div class="boxstory__img">
	                        <img src="http://via.placeholder.com/350x250" alt="">
	                        <div class="boxstory__label">Super Buzz</div>
	                        <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
	                    </div>

	                    <div class="boxstory__content">
	                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                        <time class="boxstory__date">11:07 - Agustus 2017</time>

	                        <div class="boxstory__text">
	                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                        </div>

	                        <a href="#" class="boxstory__link">Selengkapnya</a>
	                    </div>
	                </div>
	            </div>

	            <div class="col-sm-4">
	                <div class="boxstory">
	                    <div class="boxstory__img">
	                        <img src="http://via.placeholder.com/350x250" alt="">
	                        <div class="boxstory__label">Super Buzz</div>
	                        <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
	                    </div>

	                    <div class="boxstory__content">
	                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                        <time class="boxstory__date">11:07 - Agustus 2017</time>

	                        <div class="boxstory__text">
	                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                        </div>

	                        <a href="#" class="boxstory__link">Selengkapnya</a>
	                    </div>
	                </div>
	            </div> 

	            <div class="col-sm-4">
	                <div class="boxstory">
	                    <div class="boxstory__img">
	                        <img src="http://via.placeholder.com/350x250" alt="">
	                        <div class="boxstory__label">Super Buzz</div>
	                        <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
	                    </div>

	                    <div class="boxstory__content">
	                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                        <time class="boxstory__date">11:07 - Agustus 2017</time>

	                        <div class="boxstory__text">
	                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                        </div>

	                        <a href="#" class="boxstory__link">Selengkapnya</a>
	                    </div>
	                </div>
	            </div>

	            <div class="col-sm-4">
	                <div class="boxstory">
	                    <div class="boxstory__img">
	                        <img src="http://via.placeholder.com/350x250" alt="">
	                        <div class="boxstory__label">Super Buzz</div>
	                        <div class="boxstory__icon"><img src="assets/img/icon-hot.png" alt=""><span>Hot</span></div>
	                    </div>

	                    <div class="boxstory__content">
	                        <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

	                        <time class="boxstory__date">11:07 - Agustus 2017</time>

	                        <div class="boxstory__text">
	                            <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
	                        </div>

	                        <a href="#" class="boxstory__link">Selengkapnya</a>
	                    </div>
	                </div>
	            </div>
		    </div>
		</div>
	</section>
@@include('../Shared/footer.html', {
       
})