@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
    	<!-- HEADER -->
    	@@include('../Shared/header.html', {
       
		})
    	<!-- HEADER -->

		<div id="content">
	
	<div class="article__band-media margin-bottom-30">
		<div class="article__media no-margin">
			<img src="http://via.placeholder.com/1170x320" alt="">
		</div>

		<div class="audio-playlist">
			<div class="playlist-title">BRISK SONGS</div>
			
			
			<div class="audio-it">
				<div class="song1 equalizer"></div>
				<audio controls id="song1">
					<source src="assets/music/file.mp3" type="audio/mp3">
				</audio>
			</div>
		</div>
	</div>

	<div class="article container">
		<article>
			<div class="article__head band">
				<h1 class="article__title">BRISK</h1>

				<div class="article__band-desc">
					<div class="band-desc-it">
						<i class="fa fa-map-marker"></i> Jakarta
					</div>

					<div class="band-desc-it">
						<i class="fa fa-music"></i> Rock
					</div>
				</div>

				<div class="article__misc">
					<ul class="article__misc-list">
						<li>By: NTP</li>
						<li>11:07 - Agustus 2017</li>
						<li>666 View</li>
						<li>666 Likes</li>
					</ul>
				</div>

				<div class="form__button-block">
					<a href="javascript:void(0)" class="button" data-target="#modalContact" data-toggle="modal">Contact</a>
				</div>
				<div class="share">
					<a href="#" class="share-button like">Like</a>
					<a href="#" class="share-button">
						<span class="fa-stack">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
						Share
					</a>
					<a href="#" class="share-button">
						<span class="fa-stack">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
						Share
					</a>
				</div>

				<div class="breadcrumbs">
					<a href="#" class="breadcrumbs__link">Home</a>
					<a href="#" class="breadcrumbs__link">Superband</a>
					<a href="#" class="breadcrumbs__link active">Band Profile</a>
				</div>
			</div>

			<div class="article__body">
				<div class="clearfix">
					<div class="article__main float-left">
						<h2>Neque porro quisquam est qui dolorem</h2>

						<h3>Neque porro quisquam est qui dolorem</h3>

						<h4>Neque porro quisquam est qui dolorem</h4>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius laoreet elit sit amet pharetra. Nam varius dapibus lobortis. Nulla pretium bibendum mauris in tempor. Maecenas luctus ante odio, et consectetur tortor rutrum in. Sed tincidunt, leo in maximus efficitur, justo nisi eleifend enim, in elementum ex tellus et lacus. Morbi sodales placerat nibh sed condimentum. Praesent ornare at urna ac ultrices. Aenean ac tempor eros. Cras placerat massa eget feugiat blandit. Quisque malesuada diam elementum nisl fringilla, porttitor laoreet nibh fermentum. Mauris sit amet imperdiet neque, et ultrices lacus.</p>

						<ul>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
						</ul>

						<ol>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
							<li>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</li>
						</ol>

						<blockquote>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</blockquote>

						<p>Neque porro quisquam <a href="#">est qui dolorem ipsum quia</a> dolor sit amet</p>

						<img src="http://via.placeholder.com/600x400" alt="">

						<div class="media">
							<iframe class="youtube" width="100%" height="360" src="https://www.youtube.com/embed/tKxQQ_EqgQg" frameborder="0" allowfullscreen></iframe>
						</div>
						</table>
					</div>

					<!-- SIDEBAR -->
				    <div id="sidebar" class="sidebar float-right">
				    	<!-- IMAGE -->
						<div class="sidebar__block"><img src="http://via.placeholder.com/300x250" alt=""></div>

				    	<!-- VIDEO -->
				    	<div class="sidebar__block"><img src="http://via.placeholder.com/300x250" alt=""></div>

				    	<!-- ADS -->
				    	<div class="sidebar__block"><img src="http://via.placeholder.com/300x90" alt=""></div>

				    	<!-- SIDEBAR LIST -->
				    	<div class="sidebar__block">
				    		<div class="sidebar__list-block">
				    			<ul class="sidebar__list">
				    				<li>
				    					<div class="sidebar__block-head"><h2>Latest News</h2></div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">1</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds...</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">2</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds adadsad adas dada ad.asdadada</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">3</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds...</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">4</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds...</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    				<li>
				    					<div class="sidebar__list-it">
				    						<div class="sidebar__list-num">5</div>
				    						
				    						<div class="sidebar__list-content">
					    						<a href="#" class="sidebar__list-title">10 FAKTA TENTANG “IMAGES AND WORLDS”</a>

					    						<div class="sidebar__list-text">
					    							<p>1. Images and Worlds...</p>
					    						</div>
				    						</div>
				    					</div>
				    				</li>
				    			</ul>   			
				    		</div>
				    	</div>

				    	<!-- SIDEBAR TWEET -->
				    	<div class="sidebar__block">
				    		<div class="sidebar__block-head"><h2>Latest Tweet</h2></div>

				    		<div class="sidebar__tweet"></div>
				    	</div>
				    </div>
			    </div>
			</div>
		</article>
	</div>

	<!-- PHOTO SLIDER -->
	<section class="block">
		<div class="container">
			<div class="article__section-title"><h2>Photo Gallery</h2></div>
		</div>

		<div class="gallery">
			<div class="gallery__slider-cont">
				<div class="photo-slider">
					<div class="photo-slider-it">
						<div class="photo-slider-img"><img src="http://via.placeholder.com/300x250" alt=""></div>
					</div>
					<div class="photo-slider-it">
						<div class="photo-slider-img"><img src="http://via.placeholder.com/300x250" alt=""></div>
					</div>
					<div class="photo-slider-it">
						<div class="photo-slider-img"><img src="http://via.placeholder.com/300x250" alt=""></div>
					</div>
					<div class="photo-slider-it">
						<div class="photo-slider-img"><img src="http://via.placeholder.com/300x250" alt=""></div>
					</div>
					<div class="photo-slider-it">
						<div class="photo-slider-img"><img src="http://via.placeholder.com/300x250" alt=""></div>
					</div>
					<div class="photo-slider-it">
						<div class="photo-slider-img"><img src="http://via.placeholder.com/300x250" alt=""></div>
					</div>
				</div>

				<div class="gallery-slider-arrow">
					<a href="#" class="photo-slider-prev"></a>
					<a href="#" class="photo-slider-next"></a>
				</div>
			</div>
		</div>
	</section>

	<!-- VIDEO SLIDER -->
	<section class="block">
		<div class="container">
			<div class="article__section-title"><h2>Video Gallery</h2></div>
		</div>
		
		<div class="gallery">
			<div class="gallery__slider-cont">
				<div class="video-slider">
					<div class="video-slider-it">
						<div class="video-slider-iframe">
							<iframe class="youtube" width="100%" height="360" src="https://www.youtube.com/embed/tKxQQ_EqgQg" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>

					<div class="video-slider-it">
						<div class="video-slider-iframe">
							<iframe class="youtube" width="100%" height="360" src="https://www.youtube.com/embed/tKxQQ_EqgQg" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>

					<div class="video-slider-it">
						<div class="video-slider-iframe">
							<iframe class="youtube" width="100%" height="360" src="https://www.youtube.com/embed/tKxQQ_EqgQg" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="gallery-slider-arrow">
					<a href="#" class="video-slider-prev"></a>
					<a href="#" class="video-slider-next"></a>
				</div>
			</div>
		</div>
		
	</section>
	
	<!-- COMMENTBOX -->
	<div class="comment">
		<div class="container">
			<div class="comment__head">
				<div class="button__block">
					<a href="#" class="button">Log In to Comment</a>
				</div>

				<div class="comment__head-title">666 COMMENTS</div>
			</div>

			<div class="comment__body">
				<ul class="comment__list">
					<li>
						<div class="comment__it">
							<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

							<div class="comment__content">
								<div class="comment__name">
									Budi Ojan
									<time>5 hours ago</time>
								</div>

								<div class="comment__text">
									<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="comment__it">
							<div class="comment__img"><img src="http://via.placeholder.com/100x100" alt=""></div>

							<div class="comment__content">
								<div class="comment__name">
									Ningsih
									<time>5 hours ago</time>
								</div>

								<div class="comment__text">
									<p>ANJAAAAYYY, Aktor favorite eug ternyata vokalis punk euy. Edaaaankeeuun. Aseli eug gak nyangka banget kalo ternyata doi anak punk. udeh ngeband, actingnya bagus, walau kecil cabe rawit nih orang, gils gils gils</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

<button onclick="topFunction()" id="scrollTop" title="Go to top"><i class="fa fa-angle-double-up"></i></button>

<!-- MODAL CONTACT -->
<div id="modalContact" class="modal fade modal-contact" role="dialog">

    <div class="modal-dialog">

        <!-- MODAL CONTENT-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title">
                	<span>Contact information for</span>
                	BRISK
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                	<div class="col-sm-6">
                		<div class="contact-card">
                			<div class="card-name margin-bottom-30">
                				Julian Escobar
                				<span>Manager</span>
                			</div>

                			<div class="card-text">
                				<i class="fa fa-envelope-o"></i>
                				<span>Julian.Escobar@gmail.com</span>
                			</div>
                		</div>
                	</div>

                	<div class="col-sm-6">
                		<div class="contact-card">
                			<div class="card-name">
                				BRISK SOCIAL MEDIA
                			</div>

                			<div class="card-text">
                				<span><a href="#" target="_blank">https://www.twitter.com/briskjkt</a></span>
                			</div>
                			<div class="card-text">
                				<span><a href="#" target="_blank">https://www.youtube.com/channel/UCtr-lHHD_doy </a></span>
                			</div>
                			<div class="card-text">
                				<span><a href="#" target="_blank">https://www.instagram.com/briskjkt</a></span>
                			</div>
                		</div>
                	</div>
                </div>    
            </div>
        </div>
    </div>
</div>
@@include('../Shared/footer.html', {
       
})

