@@include('../Shared/head.html', {
       
})

<body>
    <div id="wrapper">
        <!-- HEADER -->
        @@include('../Shared/header.html', {
       
        })
        <!-- HEADER -->

        <div id="content">

	<div class="container">
		<section class="block writer">
			<div class="writer__img"><img src="http://via.placeholder.com/1170x320" alt=""></div>

			<div class="writer__block">
				<div class="writer__photo"><img src="http://via.placeholder.com/100x100/000000/ffffff" alt=""></div>

				<div class="writer__desc">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet volutpat velit, at suscipit tellus. Cras ac urna sed leo semper gravida. Quisque cursus urna mi, quis ultricies ligula ornare sed. In eget lectus tempor, euismod felis ac, facilisis turpis. Sed porttitor nisl tincidunt mi ornare blandit. In tempor nec nisl nec dictum. Vivamus sit amet leo purus. In et ex purus. In eget lectus tempor, euismod felis ac, facilisis turpis. Sed porttitor nisl tincidunt mi ornare blandit. In tempor nec nisl nec dictum. Vivamus sit amet leo purus. In et ex purus. In eget lectus tempor, euismod felis ac, facilisis turpis. Sed porttitor nisl tincidunt mi ornare blandit. In tempor nec nisl nec dictum. Vivamus sit amet leo purus. In et ex purus.</p>
				</div>
			</div>
		</section>

		<section class="block">
			<div class="block__title"><h2>Other Articles</h2></div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="boxstory">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/350x250" alt="">
                            <div class="boxstory__label">Super Buzz</div>
                            <div class="boxstory__icon view"><img src="assets/img/icon-view.png" alt=""><span>666 views</span></div>
                        </div>

                        <div class="boxstory__content">
                            <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                            <time class="boxstory__date">11:07 - Agustus 2017</time>

                            <div class="boxstory__text">
                                <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                            </div>

                            <a href="#" class="boxstory__link">Selengkapnya</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="boxstory">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/350x250" alt="">
                            <div class="boxstory__label">Super Buzz</div>
                            <div class="boxstory__icon view"><img src="assets/img/icon-view.png" alt=""><span>666 views</span></div>
                        </div>

                        <div class="boxstory__content">
                            <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                            <time class="boxstory__date">11:07 - Agustus 2017</time>

                            <div class="boxstory__text">
                                <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                            </div>

                            <a href="#" class="boxstory__link">Selengkapnya</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="boxstory">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/350x250" alt="">
                            <div class="boxstory__label">Super Buzz</div>
                            <div class="boxstory__icon view"><img src="assets/img/icon-view.png" alt=""><span>666 views</span></div>
                        </div>

                        <div class="boxstory__content">
                            <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                            <time class="boxstory__date">11:07 - Agustus 2017</time>

                            <div class="boxstory__text">
                                <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                            </div>

                            <a href="#" class="boxstory__link">Selengkapnya</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="boxstory">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/350x250" alt="">
                            <div class="boxstory__label">Super Buzz</div>
                            <div class="boxstory__icon view"><img src="assets/img/icon-view.png" alt=""><span>666 views</span></div>
                        </div>

                        <div class="boxstory__content">
                            <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                            <time class="boxstory__date">11:07 - Agustus 2017</time>

                            <div class="boxstory__text">
                                <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                            </div>

                            <a href="#" class="boxstory__link">Selengkapnya</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="boxstory">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/350x250" alt="">
                            <div class="boxstory__label">Super Buzz</div>
                            <div class="boxstory__icon view"><img src="assets/img/icon-view.png" alt=""><span>666 views</span></div>
                        </div>

                        <div class="boxstory__content">
                            <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                            <time class="boxstory__date">11:07 - Agustus 2017</time>

                            <div class="boxstory__text">
                                <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                            </div>

                            <a href="#" class="boxstory__link">Selengkapnya</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="boxstory">
                        <div class="boxstory__img">
                            <img src="http://via.placeholder.com/350x250" alt="">
                            <div class="boxstory__label">Super Buzz</div>
                            <div class="boxstory__icon view"><img src="assets/img/icon-view.png" alt=""><span>666 views</span></div>
                        </div>

                        <div class="boxstory__content">
                            <h3 class="boxstory__title">PEMBUKTIAN CLOSE ME CLOSET DI SINGLE TERBARU</h3>

                            <time class="boxstory__date">11:07 - Agustus 2017</time>

                            <div class="boxstory__text">
                                <p>Setelah melepaskan album ke-2 berjudul Labyrinth tahun lalu...</p>
                            </div>

                            <a href="#" class="boxstory__link">Selengkapnya</a>
                        </div>
                    </div>
                </div>
            </div>
		</section>
	</div>

@@include('../Shared/footer.html', {
       
})