#wrapper.additional {
	background: url('../img/adds-bg.jpg') no-repeat;
	background-size: cover;
	background-position: center;

	&.superloud {
		background: url('../img/superloud-bg.jpg') no-repeat;
		background-position: center;
	}

	.additional__media {
		position: relative;
		width: 100%;
		max-width: 1440px;
		margin: 0 auto 30px;
		height: 350px;
		overflow: hidden;

		img {
			position: relative;
			display: block;
			height: 100%;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
		}
	}

	.article__main {
		width: 100%;
	}


	.title {
		color: #911A1D;
		font-size: 30px;
		font-family: 'din-condensed-bold', sans-serif;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 18px;
	}

	.subtitle {
		font-size: 20px;
		font-family: 'din-pro-bold', sans-serif;
		margin-bottom: 5px;
	}

	.text {
		font-size: 16px;
		font-family: 'din-pro-regular', sans-serif;
		margin-bottom: 15px;
	}

	.form__button-block {

		.button {

		}
	}
}

#wrapper.fof {
	width: 100%;
	position: relative;
	background: #340505;

	.block {
		position: relative;
	}
	
	.fof__img {

		img {
			display: block;
			width: 100%;
		}
	}

	.fof__text {
		color: white;
		font-size: 28px;
		font-family: 'din-pro-regular', sans-serif;
		text-align: center;
		width: 100%;
		max-width: 600px;
		padding: 0 20px;
		position: absolute;
		left: 50%;
		bottom: 30%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		z-index: 1;
	}

	.form__button-block {
		position: absolute;
		left: 50%;
		bottom: 5%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		z-index: 1;

		.button {
		}
	}
}

#wrapper.maintenance {
    width: 100%;
	position: relative;
	background: #340505;

    .block {
    	position: relative;
    }

	.maintenance__img {
		display: block;

		&.mobile-only {
			display: none;
		}

	    img {
		    display: block;
		    width: 100%;
	    }
	}

	.form__button-block {
		position: absolute;
		left: 50%;
		bottom: 5%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		z-index: 1;

		.button {
		}
	}
}

.contact {

	.contact__title {
		font-size: 30px;
		font-family: 'din-pro-bold', sans-serif;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 30px;
	}

	.contact__map {
		margin-bottom: 40px;

		iframe {
			width: 100%;
			height: 250px;
		}
	}

	.contact__subtitle {
		font-size: 24px;
		font-family: 'din-pro-medium', sans-serif;
		letter-spacing: 1px;
		margin-bottom: 10px;
		padding: 0 5px;

		span {
			background-color: rgba(234, 183, 186, 0.5);
		}
	}

	.contact__text {
		font-size: 16px;
		font-family: 'din-pro-regular', sans-serif;
		padding: 0 5px;
		margin-bottom: 5px;

		span {
			background-color: rgba(234, 183, 186, 0.5);
		}
	}

	.contact__form {

		.form__block {

			.label {
				margin-bottom: 5px;
			}

			.input {

			}

			.textarea {

			}
		}

		.form__button-block {
			text-align: right;

			.button {
				padding: 0 10px;
			}
		}
	}
}

@include breakpoint(mobile) {
	#wrapper.additional {

		.additional__media {
			height: 150px;

			img {
			}
		}

		.title {
		}

		.subtitle {
			font-size: 18px;
		}

		.text {
			font-size: 14px;
		}
		
		.contact {

		}


		.form__button-block {

			.button {
				
			}
		}
	}

	#wrapper.fof {
		padding-top: 60px;
	    min-height: 400px;
	    background: #340505;
		height: 100%;

		.fof__img {

			img {
			}
		}

		.fof__text {
			font-size: 18px;
		}

		.form__button-block {
			bottom: -80px;
		}
	}

	#wrapper.maintenance {
		
		.maintenance__img {
			display: none;

			&.mobile-only {
				display: block;
			}

		    img {
		    }
		}

		.form__button-block {
			bottom: -8px;

			.button {
			}
		}
	}

	.contact {

		.contact__title {

		}

		.contact__map {

		}

		.contact__subtitle {

		}

		.contact__text {

		}

		.contact__form {

			.form__block {

				.label {

				}

				.input {

				}

				.textarea {
					
				}
			}

			.form__button-block {

				.button {

				}
			}
		}
	}
}