article {
}

	.article__band-media {
		width: 100%;
		position: relative;
	}
	
	.article__media {
		position: relative;
		width: 100%;
		max-width: 1440px;
		margin: 0 auto 30px;
		overflow: hidden;
	}

		.article__media > img {
			position: relative;
			display: block;
			width: 100%;
		}

	.article__head {
		position: relative;

		&.band {
			min-height: 130px;
			margin-bottom: 10px;

			.article__band-desc {
				margin-bottom: 10px;

				.band-desc-it {
					display: inline-block;
					vertical-align: middle;
					margin-right: 20px;
					font-size: 24px;
					font-family: 'din-medium', sans-serif;

					i {
						color: #930005;
					}
				}
			}

			.article__misc {
				margin-bottom: 10px;
			}

			.breadcrumbs {
				position: relative;
				top: 11px;
			}

			.form__button-block {
				position: absolute;
				top: 0;
				right: 0;

				.button {

				}
			}

			.share {
				top: 60px;
			}
		}
	}

		.article__title {
			font-size: 36px;
			font-family: 'din-pro-bold', sans-serif;
			padding-right: 260px;
			margin-bottom: 10px;
		}

		.share {
			position: absolute;
			top: 0;
			right: 0;
			text-align: right;
			background: white;
			z-index: 1;
		}

			.share-button {
				position: relative;
				display: inline-block;
				color: black;
				color: #3d3d3d;
				font-size: 20px;
				font-family: 'din-light', sans-serif;
				text-align: center;
				margin-left: 30px;
				

				&.like {
					padding-top: 36px;

					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 50%;
						width: 35px;
						height: 36px;
						margin-left: -17px;
						background: url('../img/icons.png') no-repeat;
						background-position: 0 -113px;
						transition: 0.2s ease;
						-webkit-transition: 0.2s ease;
						-ms-transition: 0.2s ease;
						border-radius: 50%;
					}
				}

				.fa-stack {
					position: relative;
					top: 0;
					display: block;
					margin: 0 auto;
					color: #930005;
					transition: 0.2s ease;
					-webkit-transition: 0.2s ease;
					-ms-transition: 0.2s ease;
					border-radius: 50%;
				}

				&:hover {

					.fa-stack {
						top: -5px;
					}
				}
				&.like:hover:before {
					top: -5px;
				}
			}

		.article__misc {
			color: #4a4a4a;
			font-size: 13px;
			font-family: 'din-regular', sans-serif;
			margin-bottom: 20px;

			&.photo {
				position: relative;
				padding-left: 100px;
			}
		}

			.article__misc-photo {
				position: absolute;
				top: 0;
				left: 0;
				width: 80px;
				height: 80px;
				overflow: visible;

				img {
					display: block;
					width: 100%;
					border-radius: 50%;
				}

				.photo-tooltip {
					display: none;
					position: absolute;
					top: 60px;
					left: 0;
					width: 280px;
					padding: 10px;
					border: 1px solid #cbcbca;
					color: #a7a7a7;
					background: white;
					box-shadow: 1px 1px 10px #777;
					-webkit-box-shadow: 1px 1px 10px #777;
					-moz-box-shadow: 1px 1px 10px #777;
					z-index: 2;

					&:before {
						content: " ";
						position: absolute;
						bottom: 100%;
						left: 20px;
						width: 0;
						height: 0;
						border-left: 6px solid transparent;
						border-right: 6px solid transparent;
						border-bottom: 6px solid white;
					}
				}

					.photo-tooltip__name {
						font-size: 16px;
						text-transform: uppercase;
						margin-bottom: 10px;
					}

					.photo-tooltip__text {
						font-size: 14px;
					}

					&:hover .photo-tooltip {
						display: block;
					}
			}

			.article__misc-list {
				text-align: left;
			}

				.article__misc-list > li {
					position: relative;
					display: inline-block;
					vertical-align: middle;
				    padding-right: 20px;
   					 margin-right: 10px;

					&:first-child {
						font-family: 'din-medium', sans-serif;
						padding: 0;
					}
					&:before {
						content: "|";
						position: absolute;
						top: 0;
						right: 0;
					}

					&:first-child:before, &:last-child:before {
						display: none;
					}

					&.name {
						display: block;
						color: #911a1d;
						font-size: 20px;
						letter-spacing: 1px;

						span {
							color: #545454;
							text-transform: uppercase;
							letter-spacing: 0;
						}
					}
				}

	.article__body {
	}

		.article__main {
			width: 800px;
			font-size: 18px;
			font-family: 'din-regular', sans-serif;
			margin-bottom: 20px;

			h1, h2, h3, h4, h5, h6 {
				font-weight: bold;
				margin-bottom: 14px;
			}

			p {
				margin-bottom: 14px;

				&.foot {
					font-family: 'din-medium', sans-serif;
				}
			}

			ul {
				font-size: 16px;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				padding-left: 20px;
				margin-bottom: 14px;
				list-style: disc;

				li {
					margin-bottom: 5px;
				}
			}

			.tapes-cont {
				.tapes {
					list-style: none;
					padding: 0;	
					border-top: 1px solid #959595;

					.tapes__slide {
					}

					.tapes__it {
						position: relative;
						min-height: 205px;
						padding: 25px 0;
						padding-left: 175px;
						border-bottom: 1px solid #959595;
					}

						.tapes__img	{
							position: absolute;
							top: 25px;
							left: 0;
							width: 155px;
							height: 155px;

							img {
								width: 100%;
								display: block;
							}

							&:before {
								opacity: 0;
								content: attr(tapes);
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								color: white;
								font-size: 60px;
								font-family: 'din-condensed-bold', sans-serif;
								text-align: center;
								line-height: 155px;
								background-color: rgba(146, 26, 29, 0.8);
								z-index: 1;
								transition: 0.3s ease;
								-webkit-transition: 0.3s ease;
								-ms-transition: 0.3s ease;
							}

							&:hover:before {
								opacity: 1;
							}
						}

						.tapes__content {
						}

							.tapes__title {
								color: #3f4040;
								font-size: 20px;
								font-family: 'din-condensed-bold', sans-serif;
								text-transform: uppercase;
								margin-bottom: 4px;
							}

							.tapes__text {
								font-size: 16	px;
							}
				}	

				.tapes__nav {
					display: block;
					text-align: right;
					padding-top: 20px;

					.prev, .next {
						display: inline-block;
						margin-left: 10px;
						width: 18px;
						height: 20px;
						background: #930005;
					}
					.prev {
						display: inline-block;
						width: 14px;
						height: 26px;
						background: url('../img/icons.png') no-repeat;
						background-position: 0 -266px;
					}

					.next {
						display: inline-block;
						width: 14px;
						height: 26px;
						background: url('../img/icons.png') no-repeat;
						margin-left: 30px;
						background-position: 0 -293px;
					}
				}
			}

			ol {
				font-size: 16px;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				padding-left: 20px;
				margin-bottom: 14px;
				list-style: decimal;
				
				li {
					margin-bottom: 5px;
				}
			}

			blockquote {
				font-size: 30px;
				font-style: italic;
				font-family: 'din-pro-bold', sans-serif;
				margin-bottom: 14px;
			}

			a {
				display: inline-block;
			}

			img {
				display: inline-block;
				max-width: 100%;
				margin-right: 10px;
			}

			.media {
				margin-bottom: 14px;
			}

			.caption {
				color: #999;
				font-size: 11px;
				font-style: italic;				
			}

			iframe {
				display: block;

				&.youtube {
					max-width: 640px;
					width: 100%;
				}
			}

			table {
				margin-bottom: 14px;
				border: 1px solid #ccc;
				width: 100%;
			}
				thead {
					border-bottom: 1px solid #ccc;
					background: #eee;
				}
				tbody {
				}
					tr {
					}
						th {
							padding: 2px 10px;
							font-size: 16px;
						}				
						td {
							padding: 2px 10px;
							font-size: 14px;
						}

			.article__more {
				position: relative;
				padding-top: 20px;
				padding-right: 40px;
				margin-bottom: 20px;

				&:before {
					content: " ";
					position: absolute;
					top: 0;
					right: 0;
					width: 145px;
					height: 100px;
					background: url('../img/bg-red-stripe.png') no-repeat;
				}
			}

				.article__more-content {
					position: relative;
					height: 164px;
					padding: 40px 180px 30px 20px;
					border: 2px solid #c88c8e;
					background: white;
				}

					.article__more-tag {
						color: #921a1d;
						font-size: 20px;
						font-family: 'din-pro-bold', sans-serif;
						text-transform: uppercase;
						margin-bottom: 10px;
					}

					.article__more-title {
						height: 51px;
						font-family: 'din-medium', sans-serif;
						text-transform: uppercase;
						overflow: hidden;
					}

				.article__more-img {
					position: absolute;
					top: 0;
					right: 0;
					width: 160px;
					height: 160px;

					img {
						display: block;
						width: 100%;
						margin: 0;
					}
				}
		}

			.tags {
			}

				.tags__title {
					font-size: 22px;
					font-family: 'din-condensed-bold', sans-serif;
					text-transform: uppercase;
					margin-bottom: 10px;
				}

				.tags__list {

				}

					.tags__list > li {
						display: inline-block;
					}

						.tags__link {
						    padding: 2px 8px;
						    color: white;
						    font-size: 14px;
							font-family: 'din-condensed-bold', sans-serif;
							letter-spacing: 1px;
							background: #911A1D;
							margin-bottom: 10px;
						}

/* GALLERY */
.article__section-title {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;

	&:before {
		content: " ";
	    position: absolute;
	    top: 50%;
	    right: -140px;
	    width: 100%;
	    height: 7px;
	    background: url(../img/stripe-right.png) repeat-x;
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	}

	h2 {
		color: #911a1d;
		font-size: 24px;
		font-family: 'din-condensed-bold', sans-serif;
		text-transform: uppercase;
	}
}

	.gallery__slider-cont {
		position: relative;
	}
		
		.photo-slider {
			margin-bottom: 30px;
		}

			.photo-slider-it {
				padding: 0 20px;

				.photo-slider-img {
					position: relative;
					height: 250px;
					overflow: hidden;
					margin: 0 auto;

					img {
						position: relative;
						top: 50%;
						left: 0;
						width: 100%;
						display: block;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
					}
				}
			}

		.video-slider {
			margin-bottom: 30px;

			.video-slider-it {
				width: 600px;
				padding: 0 20px;

				.video-slider-iframe {

					iframe {
						display: block;

						&.youtube {
							display: block;
							max-width: 640px;
							width: 100%;
							margin: 0 auto;
						}
					}
				}
			}
		}

		.gallery-slider-arrow {
			display: block;
			width: 100%;
			max-width: 960px;
			margin: 0 auto;
			text-align: right;
			
			.photo-slider-prev,
			.photo-slider-next,
			.video-slider-prev,
			.video-slider-next,
			.tv-slider-prev,
			.tv-slider-next {
				display: inline-block;
				width: 14px;
				height: 26px;
				background: url('../img/icons.png') no-repeat;
				background-position: 0 -266px;
			}

			.photo-slider-next,
			.video-slider-next,
			.tv-slider-next {
				margin-left: 30px;
				background-position: 0 -293px;
			}
		}

/* COMMENTBOX */
.comment {
	padding: 30px 20px 10px;
	background: #e4e3e3;
	margin-bottom: 30px;
}

	.comment__head {
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid #000;

		.button__block {
			display: inline-block;

			.button {
				display: inline-block;
				color: #4b4b4b;
				font-size: 18px;
				font-family: 'din-condensed-bold', sans-serif;
				text-transform: uppercase;
				padding: 5px 10px 3px;
				margin-right: 20px;
				border: 1px solid #911a1d;
			}
		}
	}

		.comment__head-title {
			display: inline-block;
			color: #4b4b4b;
			font-size: 18px;
			font-family: 'din-condensed-bold', sans-serif;
			text-transform: uppercase;
		    height: 35px;
		    line-height: 35px;
		}

		.comment__head-name {
			float: right;	
			color: #921A1D;
			font-size: 22px;
			font-family: 'din-condensed-bold', sans-serif;
			padding-top: 2px;
		    max-width: 140px;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;		
		}
		
	.comment__body {
	}

	.comment__area {
	    position: relative;
	    padding: 55px 0 15px 120px;

	    .select__block {
	    	position: absolute;
	    	top: 0;
	    	right: 0;
	    	width: 120px;

			select {
				display: inline-block;
			}

			&:before {
				border-top: 4px solid #911A1D;
			}
		}

		.comment__img {
			top: 40px;

			img {
			}
		}

		form {
		}

		textarea {
		}

		.form__button-block {
			text-align: right;
		}

		.button {
			text-transform: none;
			padding: 3px 10px;
			font-size: 18px;
		}
	}

	.comment__list {
	
		> li {
		}
	}

		.comment__it {
			position: relative;
			padding-left: 120px;
			margin-bottom: 20px;
		}

			.comment__img {
				position: absolute;
				width: 100px;
				height: 100px;
				top: 0;
				left: 0;
				border-radius: 50%;
				overflow: hidden;

				img {
					display: block;
					width: 100%;
				}
			}

			.comment__content {
				min-height: 100px;
				padding-bottom: 20px;
				border-bottom: 1px solid #ababaa;
			}

				.comment__name {
					color: #171716;
					font-size: 20px;
					font-family: 'din-condensed-bold', sans-serif;
					margin-bottom: 5px;

					time {
						display: inline-block;
						color: #545454;
						font-size: 16px;
						margin-left: 10px;
					}
				}

				.comment__text {
					color: #171716;
					font-size: 16px;
					font-family: 'din-medium', sans-serif;
					padding-left: 40px;
				}	

@include breakpoint(desktop) {
	article {
	}
		
		.article__media {
		}

			.article__media > img {
			}

		.article__head {

			&.band {

				.breadcrumbs {
				}
			}
		}

			.article__title {
			}

			.share {
			}

				.share-button {

					&:before {
					}
				}
				.share-button.fb {

					&:before {
					}
				}
				.share-button.tw {

					&:before {
					}
					
				}

			.article__misc {

				&.photo {
				}
			}

				.article__misc-photo {

					img {
					}

					.photo-tooltip {

						&:before {
						}
					}

						.photo-tooltip__name {
						}

						.photo-tooltip__text {
						}

						&:hover .photo-tooltip {
						}
				}

				.article__misc-list {
				}

					.article__misc-list > li {

						&:first-child {
						}
						&:before {
						}

						&:first-child:before, &:last-child:before {
						}

						&.name {

							span {
							}
						}
					}

		.article__body {
		}

			.article__main {
			    width: 600px;

				h2 {
				}

				h3 {
				}

				h4 {
				}

				p {

					&.foot {
					}
				}

				ul {
				}

				.tapes-cont {
					.tapes {

						> li {
						}

							.tapes__it {
							}

								.tapes__img	{

									img {
									}
								}

								.tapes__content {

								}

									.tapes__title {
									}

									.tapes__text {
									}
					}

					.tapes__nav {

						.prev, .next {
						}
						.prev {
						}

						.next {
						}
					}
				}		

				ol {
				}

				blockquote {
				}

				a {
				}

				img {
				}

				.media {
				}

				iframe {

					&.youtube {
					}
				}

				table {
				}
					thead {
					}
					tbody {
					}
						tr {
						}
							th {
							}				
							td {
							}

				.article__more {

					&:before {
					}
				}

					.article__more-content {
					}

						.article__more-tag {
						}

						.article__more-title {
						}

					.article__more-img {

						img {
						}
					}
			}

				.tags {
				}

					.tags__title {
					}

					.tags__list {

					}

						.tags__list > li {
						}

							.tags__link {
							}

	/* GALLERY */
	.article__section-title {

		&:before {
		}

		h2 {
		}
	}

		.gallery__slider-cont {
		}
			
			.photo-slider {
			}

				.photo-slider-it {

					.photo-slider-img {

						img {
						}
					}
				}

			.video-slider {

				.video-slider-it {

					.video-slider-iframe {

						iframe {

							&.youtube {
							}
						}
					}
				}
			}

			.gallery-slider-arrow {
				
				.photo-slider-prev,
				.photo-slider-next,
				.video-slider-prev,
				.video-slider-next {
				}

				.photo-slider-next,
				.video-slider-next {
				}
			}

	/* COMMENTBOX */
	.comment {
	}

		.comment__head {

			.button__block {

				.button {
				}
			}
		}

			.comment__head-title {
			}

			.comment__head-name {
			}
			
		.comment__body {
		}

		.comment__area {

		    .select__block {

				select {
				}

				&:before {
				}
			}

			.comment__img {

				img {
				}
			}

			form {
			}

			textarea {
			}

			.form__button-block {
			}

			.button {
			}
		}

		.comment__list {
		
			> li {
			}
		}

			.comment__it {
			}

				.comment__img {

					img {
					}
				}

				.comment__content {
				}

					.comment__name {

						time {
						}
					}

					.comment__text {
					}	
}

@include breakpoint(tablet) {
	article {
	}
		
		.article__media {
		}

		.article__band-media {

			.article__media {
				height: 350px;
			}
		}

			.article__media > img {
			}

		.article__head {

			&.band {

				.breadcrumbs {
				}
			}
		}

			.article__title {
				font-size: 26px;
			}

			.share {
			}

				.share-button {

					&:before {
					}
				}
				.share-button.fb {

					&:before {
					}
				}
				.share-button.tw {

					&:before {
					}
					
				}

			.article__misc {

				&.photo {
				}
			}

				.article__misc-photo {

					img {
					}

					.photo-tooltip {

						&:before {
						}
					}

						.photo-tooltip__name {
						}

						.photo-tooltip__text {
						}

						&:hover .photo-tooltip {
						}
				}

				.article__misc-list {
				}

					.article__misc-list > li {

						&:first-child {
						}
						&:before {
						}

						&:first-child:before, &:last-child:before {
						}

						&.name {

							span {
							}
						}
					}

		.article__body {
		}

			.article__main {
				width: 400px;
				font-size: 14px;

				h1 {
					font-size: 32px;
				}

				h2 {
					font-size: 26px;
				}

				h3 {
					font-size: 22px;
				}

				h4 {
					font-size: 16px;
				}

				p {

					&.foot {
					}
				}

				ul {
				}

				.tapes-cont {
					.tapes {

						> li {
						}

							.tapes__it {
							    padding-left: 125px;
							}

								.tapes__img	{
								    width: 105px;
								    height: 105px;

									img {
									}

									&:before {
										line-height: 105px;
									}
								}

								.tapes__content {

								}

									.tapes__title {
									}

									.tapes__text {
									}
					}

					.tapes__nav {

						.prev, .next {
						}
						.prev {
						}

						.next {
						}
					}
				}

				ol {
				}

				blockquote {
					font-size: 20px;
				}

				a {
				}

				img {
				}

				.media {
				}

				iframe {

					&.youtube {
					}
				}

				table {
				}
					thead {
					}
					tbody {
					}
						tr {
						}
							th {
							}				
							td {
							}

				.article__more {
					padding-top: 10px;
				    padding-right: 10px;

					&:before {
					    width: 125px;
					    height: 80px;
					}
				}

					.article__more-content {
					    position: relative;
					    height: 84px;
					    padding: 10px 90px 10px 10px;
					}

						.article__more-tag {
							font-size: 12px;
							margin-bottom: 2px;
						}

						.article__more-title {
							height: 42px;
							font-size: 10px;
						}

					.article__more-img {
						width: 80px;
						height: 80px;

						img {
						}
					}
			}

				.tags {
				}

					.tags__title {
					}

					.tags__list {

					}

						.tags__list > li {
						}

							.tags__link {
							}

	/* GALLERY */
	.article__section-title {

		&:before {
		}

		h2 {
		}
	}

		.gallery__slider-cont {
		}
			
			.photo-slider {
			}

				.photo-slider-it {

					.photo-slider-img {

						img {
						}
					}
				}

			.video-slider {

				.video-slider-it {

					.video-slider-iframe {

						iframe {

							&.youtube {
							}
						}
					}
				}
			}

			.gallery-slider-arrow {
				padding: 0 40px;
				
				.photo-slider-prev,
				.photo-slider-next,
				.video-slider-prev,
				.video-slider-next {
				}

				.photo-slider-next,
				.video-slider-next {
				}
			}

	/* COMMENTBOX */
	.comment {
	}

		.comment__head {

			.button__block {

				.button {
				}
			}
		}

			.comment__head-title {
			}

			.comment__head-name {
			}
			
		.comment__body {
		}

		.comment__area {

		    .select__block {

				select {
				}

				&:before {
				}
			}

			.comment__img {

				img {
				}
			}

			form {
			}

			textarea {
			}

			.form__button-block {
			}

			.button {
			}
		}

		.comment__list {
		
			> li {
			}
		}

			.comment__it {
			}

				.comment__img {

					img {
					}
				}

				.comment__content {
				}

					.comment__name {

						time {
						}
					}

					.comment__text {
					}	
}

@include breakpoint(mobile) {
	article {
	}
		
		.article__media {
			height: 150px;
		}

			.article__media > img {
				top: 0;
				left: 50%;
				width: auto;
				height: 100%;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
			}

		.article__band-media {

			.article__media {
				height: 150px;
			}
		}

		.article__head {
			min-height: auto;

			&.band {
				min-height: auto;
				.article__band-desc {

					.band-desc-it {
					    font-size: 18px;

						i {
						}
					}
				}

				.article__misc {
					margin-bottom: 20px;
				}

				.breadcrumbs {
				}

				.form__button-block {
					position: relative;

					.button {
						margin-bottom: 0;
					}
				}

				.share {
					top: auto;
				}

				.breadcrumbs {
					top: auto;
				}
			}
		}

			.article__title {
			    font-size: 18px;
				padding-right: 0;
			}

			.share {
				position: relative;
				text-align: left;
				margin-bottom: 10px;
			}

				.share-button {
					margin-left: 0;
					margin-right: 20px;

					&:before {
					}
				}
				.share-button.fb {

					&:before {
					}
				}
				.share-button.tw {

					&:before {
					}
					
				}

			.article__misc {

				&.photo {
					padding-left: 60px;
				}
			}

				.article__misc-photo {
					width: 50px;
					height: 50px;

					img {
					}

					.photo-tooltip {

						&:before {
						}
					}

						.photo-tooltip__name {
						}

						.photo-tooltip__text {
						}

						&:hover .photo-tooltip {
						}
				}

				.article__misc-list {
				}

					.article__misc-list > li {

						&:first-child {
						}
						&:before {
						}

						&:first-child:before, &:last-child:before {
						}

						&.name {
						    font-size: 16px;

							span {
							}
						}
					}

		.article__body {
		}

			.article__main {
				width: 100%;

				h1 {
					font-size: 24px;
					margin-bottom: 10px;
				}

				h2 {
					font-size: 20px;
					margin-bottom: 10px;
				}

				h3 {
					font-size: 18px;
					margin-bottom: 10px;
				}

				h4 {
					font-size: 16px;
					margin-bottom: 10px;
				}

				p {
					margin-bottom: 10px;

					&.foot {
					}
				}

				ul {
					margin-bottom: 10px;
				}

				.tapes-cont {
					.tapes {

						> li {
						}

							.tapes__it {
							    padding-left: 80px;
							}

								.tapes__img	{
								    width: 65px;
								    height: 65px;

									img {
									}

									&:before {
										font-size: 30px;
										line-height: 65px;
									}
								}

								.tapes__content {

								}

									.tapes__title {
									}

									.tapes__text {
									}
					}

					.tapes__nav {

						.prev, .next {
						}
						.prev {
						}

						.next {
						}
					}
				}

				ol {
					margin-bottom: 10px;
				}

				blockquote {
					font-size: 16px;
					margin-bottom: 10px;
				}

				a {
				}

				img {
				}

				.media {
					margin-bottom: 10px;
				}

				iframe {

					&.youtube {
						height: 160px;
					}
				}

				table {
				}
					thead {
					}
					tbody {
					}
						tr {
						}
							th {
							}				
							td {
							}

				.article__more {

					&:before {
					}
				}

					.article__more-content {
					}

						.article__more-tag {
						}

						.article__more-title {
						}

					.article__more-img {

						img {
						}
					}
			}

				.tags {
				}

					.tags__title {
					}

					.tags__list {

					}

						.tags__list > li {
						}

							.tags__link {
							}

	/* GALLERY */
	.article__section-title {

		&:before {
		}

		h2 {
		}
	}

		.gallery__slider-cont {
		}
			
			.photo-slider {
			}

				.photo-slider-it {

					.photo-slider-img {

						img {
						}
					}
				}

			.video-slider {

				.video-slider-it {
					width: 100%;

					.video-slider-iframe {

						iframe {

							&.youtube {
								height: 160px;
							}
						}
					}
				}
			}

			.gallery-slider-arrow {
				
				.photo-slider-prev,
				.photo-slider-next,
				.video-slider-prev,
				.video-slider-next {
				}

				.photo-slider-next,
				.video-slider-next {
				}
			}

	/* COMMENTBOX */
	.comment {
		padding: 30px 0 10px;
	}

		.comment__head {

			.button__block {

				.button {
				}
			}
		}

			.comment__head-title {
			}

			.comment__head-name {
			}
			
		.comment__body {
		}

		.comment__area {
			padding: 55px 0 15px 50px;

		    .select__block {

				select {
				}

				&:before {
				}
			}

			.comment__img {
			    top: 60px;

				img {
				}
			}

			form {
			}

			textarea {
			}

			.form__button-block {
			}

			.button {
				font-size: 14px;
			}
		}

		.comment__list {
		
			> li {
			}
		}

			.comment__it {
				padding-left: 50px;
			}

				.comment__img {
				    width: 40px;
				    height: 40px;

					img {
					}
				}

				.comment__content {
				}

					.comment__name {
						font-size: 18px;

						time {
						}
					}

					.comment__text {
						font-size: 12px;
						padding-left: 0;
					}	
}