
#wrapper {
    width: 100%;
    min-height: 100%;
    background: white;
}

	#content {
		padding-bottom: 140px;
		border-top: 60px solid transparent;
	}

@include breakpoint(wide) {
	#content {
		border-top: 120px solid transparent;
	}
}

@include breakpoint(mobile) {
	#content {
		border-top: 60px solid transparent;
	}
}