@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
	color: #3F4040;
	line-height: 1.3;
}


/* SECTION */
.block {
	margin-bottom: 20px;
}

	.block__title {
		position: relative;
		text-align: center;
		margin-bottom: 20px;
		overflow: hidden;
	}

		.block__title h2 {
			position: relative;
			display: inline-block;
			color: #911A1D;
			font-size: 36px;
			font-family: 'din-condensed-bold', sans-serif;
			letter-spacing: 3px;
			text-align: center;
			text-transform: uppercase;
			padding: 0 20px;
			background: white;
			z-index: 1;
		}

		.block__title:before {
			content: " ";
			position: absolute;
			top: 50%;
			left: -23px;
			width: 456px;
			height: 7px;
			background: url('../img/stripe-left.png') no-repeat;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
		}

		.block__title:after {
			content: " ";
			position: absolute;
			top: 50%;
			right: -23px;
			width: 456px;
			height: 7px;
			background: url('../img/stripe-right.png') no-repeat;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
		}

	.block__inner {
		max-width: 800px;
		width: 100%;
	}

/* SIDEBAR */
.sidebar {
	width: 300px;
}

	.sidebar__block {
		margin-bottom: 20px;

		img {
			width: 100%;
			display: block;
		}
	}

		.sidebar__block-head {
			text-align: center;
			margin-bottom: 10px;

		    h2 {
			    display: inline-block;
			    color: #911A1D;
			    font-size: 36px;
			    font-family: 'din-condensed-bold', sans-serif;
			    letter-spacing: 3px;
			    text-align: center;
			    text-transform: uppercase;
			    padding: 0 20px;
		    }
		}

		.sidebar__list-block {
			position: relative;
			padding: 20px 0;

			&:before,
			&:after {
				content: " ";
				position: absolute;
				top: 0;
				right: 0;
				width: 210px;
				height: 20px;
				background: #921a1d;
			}

			&:after {
				right: auto;
				left: 0;
				top: auto;
				bottom: 0;
			}
		}

			.sidebar__list {
				color: #0c0c0c;
				padding: 0 10px;
				padding: 30px 20px 10px;
				border: 1px solid #cbcbca;
			}

			.sidebar__list > li {
			}

				.sidebar__list-it {
					position: relative;
					margin-bottom: 20px;
				}

					.sidebar__list-num {
						position: absolute;
						top: 0;
						left: 0;
						font-size: 30px;
						font-family: 'din-medium', sans-serif;
						text-align: right;
						padding-left: 10px;
						border-bottom: 1px solid #911a1d;
					}

					.sidebar__list-content {
						padding-left: 50px;
					}

						.sidebar__list-title {
							display: block;
							color: #0c0c0c;
							font-size: 16px;
							font-family: 'din-regular', sans-serif;
							line-height: 1;
							margin-bottom: 4px;

							&:hover {
								color: #0c0c0c;
							}
						}

						.sidebar__list-text {
							font-size: 14px;

							p {
								white-space: nowrap;
								overflow: hidden;
								-o-text-overflow: ellipsis;
								text-overflow: ellipsis;
							}
						}

/* BOXSTORY */
.boxstory {
	border: 2px solid #CBCBCA;
	margin-bottom: 20px;
	font-family: 'din-condensed-bold', sans-serif;
	box-shadow: 1px 1px 10px #ccc;

	&.boxstory--cover {
		position: relative;
		height: 250px;
		overflow: hidden;

		.boxstory__img {
			height: 100%;
			width: 100%;

			img {
				position: relative;
			    display: block;
			    height: 100%;
			    width: auto;
			    left: 50%;
			    top: 0;
			    transform: translateX(-50%);
			    -webkit-transform: translateX(-50%);
			    -moz-transform: translateX(-50%);
			}
		}

		.cover-link {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;

			a {
				position: absolute;
				top: 50%;
				left: 50%;
				color: white;
				font-size: 36px;
				font-family: 'din-condensed-bold', sans-serif;
				text-transform: uppercase;
				text-shadow: 1px 1px 8px #333;
				border-bottom: 2px solid white;
				letter-spacing: 1px;
				line-height: 1;
				padding: 0 10px;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				cursor: pointer;
			}
		}
	}

	&.boxstory--quiz {
		position: relative;
		overflow: hidden;

		.boxstory__content {
			padding: 10px 10px 46px;
		}

			.boxstory__text {
				color: #3f4040;
				font-size: 18px;
				font-family: 'din-condensed-bold', sans-serif;
				text-transform: uppercase;
				margin-bottom: 4px;
				height: 36px;
				line-height: 1;

				&.point {
					color: #911a1d;
					font-size: 30px;
				}

				&:first-child {
					height: auto;
				}
			}

		.form__button-block {

			.button {
				font-size: 16px;
				text-transform: none;
				padding: 4px 10px;

				&:hover {
					color: white;
				}
			}
		}

		.cover {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;

			img {
				width: 100%;
				display: block;
			}
		}
	}
}

	.boxstory__img {
		position: relative;
		height: 250px;
		overflow: hidden;
	}

		.boxstory__img > img {
			display: block;
			width: 100%;

			position: absolute;
	    top: 50%;
	    left: initial;
	    right: initial;
	    transform: translate(0, -50%);
		}

		.boxstory__label {
			position: absolute;
			top: -2px;
			left: -2px;
			height: 40px;
			color: white;
			font-size: 16px;
			line-height: 42px;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 0 20px;
			background: #911A1D;
		}

			.boxstory__label:before {
				content: " ";
				position: absolute;
				top: 0;
				left: 96%;
				width: 0;
				height: 0;
				border-bottom: 40px solid #911A1D;
				border-left: 10px solid #911A1D;
				border-right: 40px solid transparent;
			}

		.boxstory__icon {
			position: absolute;
			top: -2px;
			right: -2px;
			height: 40px;
			color: white;
			font-size: 16px;
			text-align: center;
			text-transform: uppercase;
			padding: 4px 20px;
			background: #911A1D;

			img {
				display: block;
				width: 18px;
				max-width: 100%;
				margin: 0 auto 4px;
				margin-bottom: 2px;
			}

			span {
			    display: block;
			    width: 100%;
			    height: 10px;
		        font-size: 8px;
    			font-family: 'avenir', sans-serif;
    			font-weight: bold;
			    line-height: 1.3;
			    text-align: center;
			}

			&.view {
				padding: 2px 20px;
				img {
					width: 20px;
					margin-bottom: 6px;
				}
			}

			&.play {
				top: 50%;
				left: 50%;
				right: auto;
				width: 60px;
				height: 60px;
				margin-top: -30px;
				margin-left: -30px;
				padding: 0;
				background: none;

				img {
					width: auto;
					height: auto;
					margin: 0;
					background: none;
				}
			}
		}


			.boxstory__icon:before {
				content: " ";
				position: absolute;
				top: 0;
				right: 96%;
				width: 0;
				height: 0;
				border-top: 40px solid #911A1D;
				border-right: 10px solid #911A1D;
				border-left: 40px solid transparent;
			}
			.boxstory__icon.play:before {
				display: none;
			}

	.boxstory__content {
		position: relative;
		padding: 10px 10px 30px;
		background: white;

		a:hover {
			color: #911A1D;
		}
	}

		.boxstory__title {
			height: 50px;
			font-size: 24px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			margin-bottom: 8px;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 2;
		}

		.boxstory__date {
		    display: block;
			font-size: 13px;
			font-family: 'din-regular', sans-serif;
			margin-bottom: 6px;
		}

		.boxstory__text {
			font-size: 16px;
			font-family: 'din-regular', sans-serif;
			height: 45px;
			overflow: hidden;
		}

		.boxstory__link {
			position: absolute;
			bottom: 8px;
			right: 10px;
			color: #911A1D;
			font-size: 14px;
			letter-spacing: 1px;
		}
		.boxstory__link:hover {
			color: #911A1D;
		}

/* ADS */
.ads__block {
	text-align: center;
	margin-bottom: 20px;
}

	.ads__block img {
		display: inline-block;
		width: 100%;
	}

	.ads__block iframe {
		display: inline-block;
	}

/* LOAD MORE */
.load-more {
	text-align: center;
	margin-bottom: 30px;
}

	.load-more > a {
		position: relative;
		display: inline-block;
		color: #930005;
		font-size: 18px;
		font-family: 'din-regular', sans-serif;

		i {
			display: block;
			font-size: 50px;
		}
	}

/* BREADCRUMBS */
.breadcrumbs {
	position: relative;
	margin-bottom: 2px;
	overflow: hidden;

	&:before {
		content: " ";
    	position: absolute;
	    top: 50%;
	    right: -300px;
	    width: 100%;
	    height: 7px;
	    background: url('../img/stripe-right.png') repeat-x;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	}
}

	.breadcrumbs__link {
		position: relative;
		color: black;
		font-size: 20px;
		font-family: 'din-condensed-bold', sans-serif;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding-left: 10px;
		margin-right: 2px;

		&:before {
			content: "/";
			position: absolute;
			left: 0;
			top: 0;
			line-height: 1.2;
		}

		&:first-child {
			padding-left: 0;

			&:before {
				display: none;
			}
		}

		&:hover {
			color: #911a1d;
		}
	}
	.breadcrumbs__link.active {
		color: #911a1d;
	}

/* WRITER */
.writer {
	position: relative;
}

	.writer__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 0;

		img {
			width: 100%;
			display: block;
		}
	}

	.writer__block {
		position: relative;
		padding: 90px 80px 0;
		z-index: 1;
	}

		.writer__photo {
			position: absolute;
			width: 100px;
			height: 100px;
			top: 40px;
			left: 50%;
			margin-left: -50px;
			border-radius: 50%;
			overflow: hidden;

			img {
				display: block;
				width: 100%;
			}
		}

		.writer__desc {
			color: #5c5c5c;
			font-size: 18px;
			font-family: 'din-regular', sans-serif;
			padding: 70px  40px 60px;
			border: 1px solid #cbcbca;
			background: white;

			p {
			}
		}

/* BAND */
.block {
	&.band-head {
		position: relative;

		.band-text {
			color: #494949;
			font-size: 14px;
			font-family: 'din-medium', sans-serif;

			span {
				color: #930005;
			}
		}

		.show {
			position: absolute;
			top: 0;
			right: 0;
			background: white;
			padding-left: 20px;

			> ul {
				display: block;

				> li {
					display: inline-block;
					color: #494949;
					font-size: 18px;
					font-family: 'din-medium', sans-serif;
					text-transform: uppercase;
					margin-left: 6px;

					a {
						display: block;
						color: #930005;
						font-size: 18px;
						font-family: inherit;

						&.active {
							color: #959595;
						}
					}

					&:last-child {
						padding-left: 10px;
						border-left: 1px solid #767676;
					}
				}
			}
		}
	}
}

/* QUIZ */
.quiz {
}

	.quiz__play {
		margin-bottom: 20px;

		.game {
			width: 100%;
			display: block;
		}
	}

	.quiz__button {
		text-align: center;

		.button {
			margin: 0 20px;

			&.type2 {
				color: #911A1D;
				border: 2px solid #911A1D;
			}
		}
	}

@include breakpoint(desktop) {

	/* SECTION */
	.block__inner {
	    max-width: 600px;
	}
}

@include breakpoint(tablet) {

/* SECTION */
	.block__inner {
	    max-width: 400px;
	}

	.block__title h2 {
		font-size: 30px;
		letter-spacing: 1px;
	}

	.block__title:before {
		left: 50%;
	}

	.block__title:after {
		right: 50%;
	}

	/* BOXSTORY */
	.boxstory__label {
		height: 30px;
		font-size: 12px;
		line-height: 30px;
		padding: 0 10px;

		&:before {
			border-bottom: 30px solid #911A1D;
			border-right: 30px solid transparent;
		}
	}

	.boxstory__icon {
		height: 30px;
		padding: 0 10px;

		i {
			display: none;
			height: 100%;
		    line-height: 28px;
		}

		&.view {
			padding: 0 10px;
		}

		img {
			display: none;
		}

		span {
			line-height: 30px;
		}

		&:before {
			border-top: 30px solid #911A1D;
		    border-left: 30px solid transparent;
		}

		&.play {

			img {
				display: block;
			}
		}
	}
}

@include breakpoint(mobile) {

	/* SECTION */
	.block__inner {
		max-width: 100%;
	}

	.block__title h2 {

	}

	/* SIDEBAR */
	.sidebar {
		width: 100%;
	}

	/* BOXSTORY */
	.boxstory {

		&.boxstory--cover {

			.boxstory__img {
			}

			.cover-link {

				a {
				}
			}
		}

		&.boxstory--quiz {

			.boxstory__content {
			}

				.boxstory__text {

					&.point {
					}

					&:first-child {
					}
				}

			.form__button-block {

				.button {

					&:hover {
					}
				}
			}

			.cover {

				img {
				}
			}
		}
	}

		.boxstory__img {
		}

			.boxstory__img > img {
			}

			.boxstory__label {
			}

				.boxstory__label:before {
				}

			.boxstory__icon {

				img {
				}

				span {
				}

				&.view {

					img {
					}
				}

				&.play {

					img {
					}
				}
			}


				.boxstory__icon:before {
				}
				.boxstory__icon.play:before {
				}

		.boxstory__content {
		}

			.boxstory__title {
			}

			.boxstory__date {
			}

			.boxstory__text {
			}

			.boxstory__link {
			}
			.boxstory__link:hover {
			}

	/* BREADCRUMBS */
	.breadcrumbs {
		margin-bottom: 10px;

		&:before {
			display: none;
		}
	}

		.breadcrumbs__link {
			font-size: 16px;

			&:before {
			}

			&:first-child {

				&:before {
				}
			}

			&:hover {
			}
		}
		.breadcrumbs__link.active {
		}

	/* WRITER */
	.writer {
	}

		.writer__img {

			img {
			}
		}

		.writer__block {
		    padding: 90px 0 0;
		}

			.writer__photo {
			    width: 60px;
			    height: 60px;
			    top: 50px;
			    margin-left: -30px;

				img {
				}
			}

			.writer__desc {
				font-size: 16px;
				padding: 30px  20px;

				p {
				}
			}

	/* BAND */
	.block {
		&.band-head {

			.band-text {
				margin-bottom: 6px;

				span {
				}
			}

			.show {
				position: relative;
				top: auto;
				right: auto;
				padding-left: 0;

				> ul {

					> li {
						margin-left: 0;
						margin-right: 10px;
						font-size: 14px;

						a {
							font-size: 14px;

							&.active {
							}
						}

						&:last-child {
						}
					}
				}
			}
		}
	}
	/* QUIZ */
	.quiz {
	}

		.quiz__play {

			.game {
			}
		}

		.quiz__button {

			.button {
				margin-bottom: 20px;

				&.type2 {
				}
			}
		}
}
