footer {
    position: relative;
    clear: both;
    height: 140px;
    margin-top: -140px;
    padding: 24px 20px 18px;
    background: #921A1D;
}

	.footer__block {
		margin-bottom: 10px;
	}

		.footer__list {
			display: block;
			text-align: center;
		}

			.footer__list > li {
				display: inline-block;
			}

				.footer__list .social {
					position: relative;
					display: block;
					color: white;
					font-size: 20px;
					margin: 0 20px;

					.fa-inverse {
						color: #921A1D;
					}
				}

				.footer__list .link {
					color: white;
					font-size: 16px;
					font-family: 'din-condensed-bold', sans-serif;
					letter-spacing: 1px;
					text-transform: uppercase;
					margin: 0 20px;				
				}

		.copyright {
			display: block;
			color: white;
			font-size: 13px;
			font-family: 'din-light', sans-serif;
			text-align: center;
		}

@include breakpoint(mobile) {
	footer {
		padding: 20px 10px 20px;
		height: auto;
	}

		.footer__block {

		}

			.footer__list {

				> li {

					.link {
						font-size: 12px;
						margin: 0 10px;
					}
				}
			}
}