header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: #222;
}
	
	.header__block {
	}

	.navbar {
		margin-bottom: 0;
		border-radius: 0;
		border: none;

		.container-fluid {
			padding-left: 0;
			padding-right: 0;

			> .navbar-header {
				margin: 0;
			}

			> .navbar-collapse {
				margin: 0;
			    padding: 0;
			}
		}
	}

	.navbar-toggle {
	    margin-top: 13px;
	    margin-bottom: 13px;
	}

		.logo {
			margin: 0 !important;
			padding: 0;
			height: 60px;
		}

			.logo > img {
				display: block;
				height: 100%;
			}

		.menu {
		}

			.nav {

				&.navbar-right {
					padding-right: 144px; 
					margin-right: 0;
				}

				&.navLogin {
					position: absolute;
					top: 0;
					right: 0;

					a {
						padding: 20px 10px;
					}
				}

				> li {
				
					&.dropdown {

						> a:hover {
							color: #CE2332 !important;
						}

						&.open > a,
						&.open > a:focus {
							color: #CE2332 !important;
						}

						.dropdown-menu {
							top: 100%;
							left: 50%;
							transform: translateX(-50%);
							background: #1C1C1C;
							margin: 0;
							padding: 0;
							border-radius: 0;

							> li {
								padding: 0 20px;

								> a {
									color: #727272;
									font-size: 18px;
									font-family: 'din-condensed-bold', sans-serif;
									text-align: center;
									text-transform: uppercase;
									padding: 4px 0 2px ;
									border-bottom: 1px solid #727272;

									&:hover,
									&:focus {
										color: #CE2332;
										background: none;
										border-radius: 0;	
									}
								}

								&:last-child > a {
									border-bottom: none;
								}
							}
						}
					}
				}

					.menu-link {
						display: block;
						height: 100%;
						padding: 20px;
						color: #BCBBBB;
						font-size: 18px;
						font-family: 'din-condensed-bold', sans-serif;
						letter-spacing: 1px;
						text-transform: uppercase;
					}
					.menu-link:hover {
						color: #CE2332 !important;
					}
					.menu-link:focus {
						color: #BCBBBB !important;
					}
					.menu-link.active {
						color: #CE2332;
					}
					.menu-link.regis {
						position: relative;
						padding-left: 14px;
					}

							.menu-link.regis:before {
								content: " ";
								position: absolute;
								top: 50%;
								left: 0;
								width: 1px;
								height: 24px;
								margin-top: -12px;
								padding-left: 1px;
								border-left: 1px solid #BBBABA;
								background: #BBBABA;
							}

					.menu-link.search {
						position: relative;
						text-indent: -9999px;
						width: 37px;
					}

						.menu-link.search:before {
							content: " ";
							position: absolute;
							top: 50%;
							left: 50%;
							width: 17px;
							height: 17px;
							margin-left: -8px;
							margin-top: -8px;
							background: url('../img/icons.png') no-repeat;
							background-position: 0 0;
						}

					.menu-link.prof-pic {
						width: 60px;
					    height: 60px;
					    padding: 6px;

						img {
							width: 100%;
							display: block;
							border-radius: 50%;
						}
					}

					.menu-link.prof-name {
						max-width: 84px;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						text-transform: none;
					}
			}

		.menu-toggle {

		}

@include breakpoint(desktop) {
	.nav {

		.menu-link {
		    padding: 20px 8px;
		}
	}
}

@include breakpoint(tablet) {
	
	.nav {
		text-align: center;

		&.navbar-right {
			width: 100%;
			padding-right: 0;
			margin: 0;
		}

		> li {
			float: none;
			display: inline-block;
		}

		.menu-link {
			padding: 20px 12px;
		}
	}
}

@include breakpoint(mobile) {

	.nav {
		text-align: left;

		> li {
			display: block;

			&.dropdown {

				.dropdown-menu {
					left: 0;
					transform: none;

					> li {
						padding: 5px 12px;

						> a {
							text-align: left;
							border: none;
						}
					}
				}
			}
		}

		&.navLogin {
			position: relative;
			top: auto;
			left: auto;
			margin: 0;
		}
		.menu-link {
			padding: 14px 12px;

			&.regis:before {
				display: none;
			}
		}
	}
}