.member {
	position: relative;
	overflow: hidden;
}
	
	.member-toggle {
		display: none;
	}

	.member__sidebar {
		position: relative;
		width: 100%;
		max-width: 320px;
		background: #1c1c1c;
		z-index: 1;
	}
		
		.member__sidebar-head {
			position: relative;
			padding: 30px 10px;
			text-align: center;
			background: url('../img/member-head-bg.jpg') no-repeat;
			background-size: cover;
			background-position: center;

			.member__sidebar-close {
				display: none;
			}
		}

			.member__setting {
				position: absolute;
				top: 10px;
				right: 15px;

				a {
					display: block;
					color: #930005;
					font-size: 26px;
					line-height: 1;
				}
			}
			
			.member__photo {
				position: relative;
				padding: 10px;
				border: 2px solid #930005;
				border-radius: 50%;	
				width: 160px;
				height: 160px;
				margin: 0 auto 30px;		

				img {
					display: block;
					max-width: 100%;
					border-radius: 50%;
				}
			}

				.member__photo-icon {
					position: absolute;
					bottom: -20px;
					left: 50%;
					width: 40px;
					height: 40px;
					margin-left: -20px;
					padding-top: 8px;
					border: 2px solid #931A1D;
					border-radius: 50%;
					background: #1C1C1C;

					a {
						display: block;
						color: white;
						font-size: 18px;
					}
				}

			.member__name {
				color: #212121;
				font-size: 18px;
				font-family: 'din-medium', sans-serif;
				margin-bottom: 4px;
			}

			.member__loc {
				position: relative;
				color: #212121;
				font-family: 'din-medium', sans-serif;
			}

		.member__sidebar-body {
		}

			.member__menu {
				padding: 20px;
				margin-bottom: 30px;
			}

				.member__menu-list {
				}

					.member__menu-list > li {

						.member__menu-link {
							display: block;
							padding: 15px 0 10px;
							border-bottom: 1px solid #525252;
							color: #bbb;
							font-size: 20px;
							font-family: 'din-condensed-bold', sans-serif;
							text-align: center;

							&.active {
								color: #ce2532;
							}
						}						
					}

			.member__social {
				text-align: center;
				padding-bottom: 40px;

				.social {
					position: relative;
					display: inline-block;
					margin: 0 20px;
					color: white;
					font-size: 20px;

					.fa-inverse {
						color: #1c1c1c;
					}
				}
			}

	.member__main {
		position: relative;
		max-width: none;
		width: calc(100% - 320px);
		padding: 0 30px;

		&:before {
			content: " ";
			position: absolute;
			top: 0;
			right: 100%;
			width: 100%;
			height: 100%;
			background: #1c1c1c;
			z-index: 0;
		}
	}

		.member__point-block {
			width: 100%;
			max-width: 575px;
			padding: 40px 0 10px;
			margin: 0 auto 30px;
			border-bottom: 1px solid #bfbfbf;
		}

			.member__point {
				position: relative;
				display: block;
				width: 160px;
				height: 160px;
				color: white;
				font-size: 52px;
				font-family: 'din-condensed-bold', sans-serif;
				text-align: center;
				line-height: 1;
				letter-spacing: 1px;
				padding: 44px 20px 20px;
				margin: 0 auto 30px;
				border-radius: 50%;
				background: url('../img/point-bg.png') no-repeat;
				background-size: cover;
				z-index: 1;

				&:before {
					content: " ";
					position: absolute;
					width: 134px;
					height: 134px;
					border-radius: 50%;
					top: 13px;
					left: 13px;
					box-shadow: 0 0 60px #930005;
					z-index: 0;
				}

				span {
					display: block;
					font-size: 24px;
				}
			}

		.member__point-button {
			text-align: center;
			margin-bottom: 10px;

			&.form__button-block {

				.button {
					font-size: 18px;
					padding: 2px 10px;
				}
			}
		}

		.member__point-text {
			color: #636363;
			font-size: 16px;
			font-family: 'din-regular', sans-serif;
			text-align: center;
		}

		.form.form__member {
			padding: 20px;
			max-width: 60%;
			margin: 0;


			.form__button-block {
				text-align: right;

				.button {
					margin-left: 20px;
				}
				.button.type2 {
					color: #911A1D;
				    border: 2px solid #911A1D;
				}
			}
		}

/* LIBRARY */
.library {
	padding: 0 20px;
}

	.library__title {
		position: relative;
		margin-bottom: 10px;

		h2 {
			position: relative;
			display: inline-block;
			color: #7e7e7e;
			font-size: 16px;
			font-family: 'din-light', sans-serif;
			letter-spacing: 1px;
			background: white;
			padding-right: 10px;
			z-index: 1;
		}

		&:before {
			content: " ";
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			padding-top: 1px;
			border-top: 1px solid #bfbfbf;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
		}
	}

	.library__redeem-head {
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid #bfbfbf;
	}

		.redeem__point {
			color: #474646;
			font-size: 26px;
			font-family: 'din-condensed-bold', sans-serif;
			letter-spacing: 1px;

			span {
				color: #930005;
			}
		}

		.redeem__sort {

			.select__block {
				position: relative;

				select {
					color: #5c5c5c;
					font-size: 16px;
					font-family: 'din-regular', sans-serif;
					width: 200px;
					height: 38px;
					padding: 4px 20px;
					border: 1px solid #ccc;
					background: #f9f7f7;
				}

				&:before {
					content: " ";
					position: absolute;
					top: 50%;
					right: 15px;
					margin-top: -2px;
					border-right: 4px solid transparent;
					border-left: 4px solid transparent;
					border-top: 4px solid #2d2d2d;;
				}
			}
		}

	.library__slider-cont {

		.gallery-slider-arrow {
			display: block;
			width: 100%;
			max-width: 960px;
			margin: 0 auto;
			text-align: right;

			.library-watch-prev,
			.library-watch-next,
			.library-bmark-prev,
			.library-bmark-next,
			.library-redeem-prev,
			.library-redeem-next {
				display: inline-block;
				width: 14px;
				height: 26px;
				background: url('../img/icons.png') no-repeat;
				background-position: 0 -266px;
			}

			.library-watch-next,
			.library-bmark-next,
			.library-redeem-next {
				margin-left: 30px;
				background-position: 0 -293px;
			}
		}
	}

		.library__slider {

			.boxstory {

				.boxstory__img {
					img {
					}
	
					.boxstory__icon {
						height: 30px;
						padding: 4px 11px;

						img {
						}

						&:before {
							top: 100%;
							right: 0;
						    border-top: 14px solid #911A1D;
						    border-left: 20px solid transparent;
						}

						&:after {
							content: " ";
							position: absolute;
							top: 100%;
							left: 0;
							border-top: 14px solid #911A1D;
						    border-right: 20px solid transparent;
						}
					}
				}

				.boxstory__content {

					.boxstory__title {
						height: 39px;
						font-size: 18px;
					}

					.boxstory__date {
					}

					.boxstory__text {
					}

					.boxstory__link {
						font-size: 10px;
						font-family: 'din-pro-bold', sans-serif;
						letter-spacing: 0;
					}
				}

				&.redeem {
					.boxstory__img {
						img {
						}
					}

					.boxstory__content {
						padding: 10px 70px 10px 10px;
						border-top: 1px solid #eee;

						.boxstory__title {
							text-transform: none;
						}

						.boxstory__date {
						}

						.boxstory__text {
							height: auto;
							font-family: 'din-condensed-bold', sans-serif;
						}

						.boxstory__link {
							top: 50%;
							margin-top: -9px;
							bottom: auto;
							color: white;
							font-size: 12px;
							font-family: 'din-condensed-bold', sans-serif;
							padding: 0 6px;
							background: #930005;							
						}
					}
				}
			}
		}

			.library__it {
				padding: 0 10px;
			}

/* MEMBER OTHERS */
.member__others-head {
	position: relative;
	padding: 40px 100px 20px 0;
	border-bottom: 1px solid #bfbfbf;
	margin-bottom: 30px;

	.others__head-content {
		font-family: 'din-medium', sans-serif;

		.name {
			color: #000;
			font-size: 30px;
			font-family: 'din-condensed-bold', sans-serif;
			margin-bottom: 2px;
		}

		.text1 {
			color: #6b6b6b;
			margin-bottom: 2px;
		}

		.text2 {
			color: #a8a8a8;
			font-size: 16px;
		    word-wrap: break-word;
		}
	}

	.others__head-point {
		position: absolute;
		top: 40px;
		right: 0;
		display: block;
		width: 70px;
		height: 70px;
		color: white;
		font-size: 26px;
		font-family: 'din-condensed-bold', sans-serif;
		text-align: center;
		line-height: 1;
		letter-spacing: 1px;
		padding: 15px 10px 10px;
		margin: 0 auto 30px;
		border-radius: 50%;
		background: url('../img/point-bg.png') no-repeat;
		background-size: cover;
		z-index: 1;

		&:before {
			content: " ";
			position: absolute;
			width: 58px;
			height: 58px;
			border-radius: 50%;
			top: 6px;
			left: 6px;
			box-shadow: 0 0 60px #930005;
			z-index: 0;
		}

		span {
			display: block;
			font-size: 16px;
		}
	}
}

.member__others-body {

	.others__profile {
		display: block;
		max-width: 50%;

		> li {
		}

			.others__profile-it {
				color: #a8a8a8;
				font-size: 16px;
				font-family: 'din-medium', sans-serif;
				padding-bottom: 10px;
				border-bottom: 1px solid #bfbfbf;
				margin-bottom: 40px;
			}

				.others__profile-label {
					float: left;
					width: 40%;
				}

				.others__profile-text {
					float: left;
					width: 60%;
					padding-left: 10px;
				}
	}
}

/* HISTORY */
.timeline {

}

	.timeline__head {
		padding-bottom: 10px;
		border-bottom: 1px solid #9E9E9E;

		.select__block {
			width: 140px;
			margin: 0 auto;

			select {
				border: 1px solid #C0BFBF;
			}

			&:before {
				width: 34px;
				height: 34px;
				top: 0;
				right: 0;
				margin-top: 0;
				border: none;
				background: #C0BFBF;
				z-index: 1;
			}

			&:after {
				content: " ";
				position: absolute;
				top: 12px;
				right: 8px;
				width: 18px;
				height: 10px;
				background: url('../img/icons.png') no-repeat;
				background-position: 0 -542px;	
				z-index: 2;	
				pointer-events: none;
				cursor: pointer;		
			}
		}
	}

	.timeline__body {
		padding: 0 10px;
		position: relative;

		&:before {
			content: " ";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100px;
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 40%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 40%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			z-index: 1;
		}

		.timeline__it {
			position: relative;
			padding: 30px 0;
			overflow: hidden;

			.timeline__icon {
				position: absolute;
				top: 20px;
				left: 50%;
				width: 44px;
				height: 44px;
				margin-left: -22px;
				border-radius: 50%;
				border: 1px solid #9E9E9E;
				background: white;

				img {
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
				}
			}

			.timeline__date {
				float: left;
				width: 50%;
				text-align: right;
				padding-right: 40px;

				time {
					color: #4A4A4A;
					font-size: 16px;
					font-family: 'din-light', sans-serif;
				}
			}

			.timeline__content {
				float: right;
				width: 50%;
				padding-left: 40px;

				.title {
					color: #4A4A4A;
					font-size: 16px;
					font-family: 'din-medium', sans-serif;
					margin-bottom: 10px;
				}

				.text {
					color: #4A4A4A;
					font-size: 16px;
					font-family: 'din-light', sans-serif;


					a {
						display: inline-block;
						color: #931A1D;
						font-family: 'din-pro-bold', sans-serif;
						text-decoration: underline;
					}
				}
			}

			&:before {
				content: " ";
				position: absolute;
				top: 0;
				left: 50%;
				width: 1px;
				padding-top: 100%;
				border-left: 1px solid #9E9E9E;
			}
		}
	}

/* HISTORY TABLE */
.member__table {
	margin-bottom: 30px;

	.member__table-title {
		font-family: 'din-medium', sans-serif;
		font-size: 18px;
		margin-bottom: 10px;
	}

	.table-cont {
		table {
			margin-bottom: 14px;
			border: 1px solid #ccc;
			width: 100%;
		}
			thead {
				border-bottom: 1px solid #ccc;
				background: #eee;
			}
			tbody {
			}
				tr {
				}
					th {
						font-family: 'din-medium', sans-serif;
						padding: 5px 10px;
						font-size: 16px;
						text-align: center;
					}				
					td {
						padding: 5px 10px;
						font-size: 14px;
						text-align: center;
					}
	}

	.button {
		font-size: 16px;
		height: 34px;
		width: 100px;
		min-width: 100%;
		padding: 0 10px;
	}
}

/* TABLET */
@include breakpoint(tablet) {
	.form.form__member {
		max-width: 100%;
	}
}

/* MOBILE */
@include breakpoint(mobile) {
	.member {
		padding: 0;
	}

		.member-toggle {
			display: block;
		    color: #bbb;
		    font-size: 24px;
		    font-family: 'din-condensed-bold', sans-serif;
		    text-align: center;
		    padding: 6px;
		    text-transform: uppercase;
		    letter-spacing: 2px;
	        background: #1c1c1c;
		}

		.member__sidebar {
			position: fixed;
			top: 0;
			bottom: 0;
			right: 100%;
			max-width: 100%;
			transition: 0.5s ease;
			-webkit-transition: 0.5s ease;
			-ms-transition: 0.5s ease;
			z-index: 101;
			overflow-y: scroll;
			overflow-x: hidden;
		}
			
			.member__sidebar-head {

				.member__sidebar-close {
					display: block;
					color: #930005;
					font-size: 30px;
				    position: absolute;
				    top: 0px;
				    left: 10px;

				}
			}

				.member__setting {

					a {
					}
				}
				
				.member__photo {

					img {
					}
				}

					.member__photo-icon {

						a {
						}
					}

				.member__name {
				}

				.member__loc {
				}

			.member__sidebar-body {
			}

				.member__menu {
				}

					.member__menu-list {
					}

						.member__menu-list > li {

							.member__menu-link {

								&.active {
								}
							}						
						}

				.member__social {

					.social {
					}
					.social.tw {
					}
					.social.ig {

					}

				}

		.member__main {
			width: 100%;
			padding: 20px;			
		}

			.member__point-block {
			}

				.member__point {

					&:before {
					}

					span {
					}
				}

			.member__point-button {

				&.form__button-block {

					.button {
					}
				}
			}

			.member__point-text {
			}

			.form.form__member {
				padding: 0;


				.form__button-block {

					.button {
					}
					.button.type2 {
					}
				}
			}

	/* LIBRARY */
	.library {
		padding: 0;
	}

		.library__title {

			h2 {
			}

			&:before {
			}
		}

		.library__redeem-head {
		}

			.redeem__point {

				span {
				}
			}

			.redeem__sort {

				.select__block {

					select {
					}

					&:before {
					}
				}
			}

		.library__slider-cont {

			.gallery-slider-arrow {

				
			}
		}

			.library__slider {
			}

				.library__it {
				}

					.boxstory {

						.boxstory__img {
							img {
							}

							.boxstory__icon {

								img {
								}

								&:before {
								}

								&:after {
								}
							}
						}

						.boxstory__content {

							.boxstory__title {
							}

							.boxstory__date {
							}

							.boxstory__text {
							}

							.boxstory__link {
							}
						}

						&.redeem {
							.boxstory__img {
								img {
								}
							}

							.boxstory__content {

								.boxstory__title {
								}

								.boxstory__date {
								}

								.boxstory__text {
								}

								.boxstory__link {
								}
							}
						}
					}

	/* MEMBER OTHERS */
	.member__others-head {

		.others__head-content {

			.name {
			}

			.text1 {
			}

			.text2 {
			}
		}

		.others__head-point {

			span {
			}
		}
	}

	.member__others-body {

		.others__profile {
			max-width: 100%;

			> li {
			}

				.others__profile-it {
				}

					.others__profile-label {
					}

					.others__profile-text {
					}
		}
	}

	/* HISTORY */
	.timeline {
	}

		.timeline__head {

			.select__block {

				select {
				}

				&:before {
				}

				&:after {
				}
			}
		}

		.timeline__body {
			padding: 0;

			.timeline__it {
				padding: 20px 0;
				border-bottom: 1px solid #9E9E9E;

				.timeline__icon {
					position: relative;
					margin-bottom: 10px;
					top: auto;
					left: auto;
					margin: 0 auto 10px;

					img {
					}
				}

				.timeline__date {
					width: 100%;
					text-align: center;
					padding-right: 0;
					margin-bottom: 5px;

					time {
					}
				}

				.timeline__content {
					width: 100%;
					padding-left: 0;

					.title {
					}

					.text {

						a {
						}
					}
				}

				&:before {
					display: none;
				}
			}
		}

	/* HISTORY TABLE */
	.member__table {

		.member__table-title {
		}

		.table-cont {
			width: 100%;
			overflow-x: scroll;
			table {
			}
				thead {
				}
				tbody {
				}
					tr {
					}
						th {
						    padding: 5px 30px;
						}				
						td {
						}
		}
	
		.form__button-block {
			margin-top: 30px;
			.button {
			}
		}
	}
}