.sales {
	
	.sales__img {
		position: relative;
		text-align: center;

		.sales__img-it {
			position: relative;
			display: inline-block;
			padding: 0 10px;
			z-index: 1;

			img {
				display: block;
				max-width: 100%;
			}
		}
	}
	
	.select__block {

		select {
			padding: 10px 5px;
		}
	}
	.button {
		width: 100%;
		min-width: 100%;
	}

	.sales__detail {

		.head {
			position: relative;
			margin-bottom: 50px;

			.photo {
				width: 160px;
				height: 160px;
				margin: 0 auto;
				border-radius: 50%;
				overflow: hidden;
				padding: 10px;
				border: 2px solid #930005;

				img {
					display: block;
					width: 100%;
					border-radius: 50%;
				}
			}

			.point {
				position: absolute;
				bottom: -20px;
			    left: 50%;
				width: 278px;
				height: 57px;
				padding-top: 2px;
				color: #fff;
				font-size: 24px;
				font-family: 'din-condensed-bold', sans-serif;
				background: url('../img/ribbon.png') no-repeat;
				background-size: cover;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
			}
		}

		.body {

			
			.name {
				color: #000;
				font-size: 28px;
				font-family: 'din-condensed-bold', sans-serif;
			}

			.loc {
				color: #000;
				font-size: 20px;
				font-family: 'din-condensed-bold', sans-serif;
				margin-bottom: 20px;
			}

			.text {
				font-size: 18px;
				font-family: 'din-pro-bold', sans-serif;
			}

			.text2 {
				color: #a4a4a4;
				font-size: 16px;
				font-family: 'din-pro-bold', sans-serif;
			}
		}
	}
}