/* HOME SLIDER */
.home-slider-block {
	position: relative;
	margin-bottom: 30px;
}

	.home__slider {
		max-width: 1680px;
		margin: 0 auto;
	}

		.home__slider-it {
			position: relative;
		}

			.home__slider-img {
			    margin: 0 auto;
		        overflow: hidden;
			}

				.home__slider-img > img {
				    display: block;
				    width: 100%;
				}

			.home__slider-content {
				position: absolute;
				top: 40%;
				left: 0;
				width: 100%;
				text-align: center;
			}

				.home__slider-title {
					width: 100%;
					color: white;
					font-size: 36px;
					font-family: 'din-condensed-bold', sans-serif;
					text-transform: uppercase;
					text-shadow: 2px 2px 10px #333;
					margin: 0 auto 30px;
					max-width: 600px;
					padding: 0 20px;
					height: 79px;
					overflow: hidden;
				}

				.home__slider-button {
					color: white;
					font-size: 20px;
					font-family: 'din-condensed-bold', sans-serif;
					text-transform: uppercase;
					padding: 10px 60px;
					background: #911A1D;
					cursor: pointer;

					&:hover {
						color: white;
					}
				}

	.home-slider-dots {
		position: absolute;
		height: 15px;
		left: 50%;
		bottom: 30px;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);

		.slick-dots {
			position: relative;
			display: block;
			bottom: auto;
			height: 15px;

			li {
				display: inline-block;
				width: 15px;
				height: 15px;

				button {
					display: block;
				    width: 100%;
				    height: 100%;
				    border: 2px solid white;
				    border-radius: 50%;
				    padding: 0;

				    &:before {
						display: none;
					}
				}

				&.slick-active {

					button {
						background: white;
					}
				}
			}
		}
	}

/* INNER SLIDER */
.inner-slider-block {
	position: relative;
	margin-bottom: 20px;
}

	.inner__slider {
		max-width: 1680px;
		margin: 0 auto;
	}

		.inner__slider-it {
			position: relative;

			&.smtv {

				.inner__slider-content {
					position: absolute;
					top: 0;
					left: 50%;
					width: 100%;
					height: 100%;
					padding: 20px 0 50px;
					transform: translateX(-50%);
					-webkit-transform: translateX(-50%);
					-moz-transform: translateX(-50%);

					.inner__slider-icon {
						width: 140px;
					    margin: 0 auto 20px;

						img {
							display: block;
							width: 100%;
						}
					}

					.inner__slider-title {
						position: relative;
						top: auto;
						left: auto;
						font-size: 22px;
						font-family: 'din-pro-regular', sans-serif;
						text-transform: none;
						max-height: 57px;
					}
				}
			}
		}

			.inner__slider-img {
			    margin: 0 auto;
		        overflow: hidden;
			}

				.inner__slider-img > img {
					display: block;
					width: 100%;
				}

			.inner__slider-title {
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				text-align: center;
				color: white;
				font-size: 40px;
				font-family: 'din-condensed-bold', sans-serif;
				text-shadow: 2px 2px 5px #333;
				text-transform: uppercase;
				margin-bottom: 20px;
			    line-height: 1.3;
			    max-height: 105px;
			    overflow: hidden;
			    padding: 0px 100px;

				span {
					display: block;
					font-size: 28px;
					text-transform: none;
				}
			}

	.inner-slider-dots {
		position: absolute;
		height: 15px;
		left: 50%;
		bottom: 30px;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);

		.slick-dots {
			position: relative;
			display: block;
			bottom: auto;
			height: 15px;

			li {
				display: inline-block;
				width: 15px;
				height: 15px;

				button {
					display: block;
				    width: 100%;
				    height: 100%;
				    border: 2px solid white;
				    border-radius: 50%;
				    padding: 0;

				    &:before {
						display: none;
					}
				}

				&.slick-active {

					button {
						background: white;
					}
				}
			}
		}
	}

/* CUSTOM SLIDER */
.custom-slider-cont {
	position: relative;
	padding: 80px 30px 0;
	margin: 0 auto;

	.custom-slider {

		.custom-slider-it {
			position: relative;
			width: 300px;
			text-align: center;
			margin: 0 -20px;
			transform: scale(0.8);
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			transition: 0.3s ease;
			-webkit-transition: 0.3s ease;
			-ms-transition: 0.3s ease;

			.custom-slider__img {
			    height: 175px;
			    overflow: hidden;

				img {
					display: block;
					width: 100%;
				}
			}

			.custom-slider__content {
				padding: 20px;
				background: white;

				.custom-slider__title {
					color: #921A1D;
					font-size: 24px;
					font-family: 'din-condensed-bold', sans-serif;
					text-transform: uppercase;
					line-height: 1;
					letter-spacing: 1px;
					margin-bottom: 20px;
				}

				.custom-slider__button {					
				}
			}

			&:before {
				content: " ";
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba(0,0,0,0.3);
			}
		}

		.slick-center {
			box-shadow: 0 0 40px #140004;
			z-index: 2;
			transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);

			&:before {
				display: none;
			}
		}
	}

	.custom-slider-prev,
	.custom-slider-next {
		position: absolute;
		display: block;
		top: 50%;
		left: 0;
		margin-top: -30px;
		color: #FBE580;
		font-size: 60px;
		cursor: pointer;
	}

	.custom-slider-next {
		left: auto;
		right: 0;
	}
}
@include breakpoint(desktop) {
	.home__slider-img {
	}

	.home__slider-title {
		font-size: 34px;
		height: 76px;
		margin: 0 auto 20px;
	}

	.home__slider-button {
	    padding: 5px 40px;
	    font-size: 18px;
	}

	/* INNER SLIDER */
	.inner-slider-block {
	}

		.inner__slider {
		}

			.inner__slider-it {

				&.smtv {

					.inner__slider-content {

						.inner__slider-icon {

							img {
							}
						}

						.inner__slider-title {
						}
					}
				}
			}

				.inner__slider-img {
				}

					.inner__slider-img > img {
					}

				.inner__slider-title {
					font-size: 30px;
					max-height: 79px;

					span {
					}
				}

		.inner-slider-dots {

			.slick-dots {

				li {

					button {
					}

					&.slick-active {

						button {
						}
					}
				}
			}
		}
}

@include breakpoint(tablet) {
	.home__slider-img {
	}

	.home__slider-title {
	    font-size: 26px;
	    height: 62px;
	    line-height: 1.2;
	}

	.home__slider-button {
	    padding: 2px 30px;
	    font-size: 16px;
	}

	.home-slider-dots .slick-dots li {
	    width: 10px;
	    height: 10px;
	}

	.home-slider-dots {
		bottom: 15px;
	}

	/* INNER SLIDER */
	.inner-slider-block {
	}

		.inner__slider {
		}

			.inner__slider-it {

				&.smtv {

					.inner__slider-content {

						.inner__slider-icon {
						    width: 110px;
						    margin: 0 auto 10px;


							img {
							}
						}

						.inner__slider-title {
						}
					}
				}
			}

				.inner__slider-img {
				}

					.inner__slider-img > img {
					}

				.inner__slider-title {

					span {
					}
				}

		.inner-slider-dots {
			 bottom: 20px;

			.slick-dots {

				li {

					button {
					}

					&.slick-active {

						button {
						}
					}
				}
			}
		}

	/* CUSTOM SLIDER */
	.custom-slider-cont {
		max-width: 400px;

		.custom-slider {

			.custom-slider-it {

				.custom-slider__img {

					img {
					}
				}

				.custom-slider__content {

					.custom-slider__title {
					}

					.custom-slider__button {					
					}
				}

				&:before {
				}
			}

			.slick-center {
				&:before {
				}
			}
		}

		.custom-slider-prev {
			left: -20px;
		}

		.custom-slider-next {
			right: -20px;
		}
	}
}

@include breakpoint(mobile) {
	.home__slider-block {
	    margin-bottom: 40px;
	}

	.home__slider-img {
    	height: 150px;

    	img {
    		width: auto;
    		height: 100%;
    		position: relative;
    		left: 50%;
    		transform: translateX(-50%);
    	}
    }

	.home__slider-content {
	}

	.home__slider-title {
		font-size: 16px;
		height: 38px;
		margin: 0 auto 10px;
	}	

	.home__slider-button {
	    padding: 2px 20px;
	    font-size: 10px;
	    letter-spacing: 1px;
	}

	.home-slider-dots {
	    bottom: -15px;

	    .slick-dots {

	    	li {

	    		button {
	    			border: 1px solid #3F4040;
	    		}

	    		&.slick-active {

	    			button {
	    				background: #3F4040;
	    			}
	    		}
	    	}
	    }
	}

	/* INNER SLIDER */
	.inner-slider-block {
		margin-bottom: 40px;
	}

		.inner__slider {
		}

			.inner__slider-it {

				&.smtv {

					.inner__slider-content {

						.inner__slider-icon {
							width: 80px;

							img {
							}
						}

						.inner__slider-title {
							font-size: 18px;
							max-height: 61px;
						}
					}
				}
			}

				.inner__slider-img {
					height: 150px;

			    	img {
			    		width: auto;
			    		height: 100%;
			    		position: relative;
			    		left: 50%;
			    		transform: translateX(-50%);
			    	}
			    }

				.inner__slider-title {
				    margin-bottom: 0;
				    padding: 10px 20px 0;
				    max-height: 62px;
				    font-size: 20px;

					span {
					}
				}

		.inner-slider-dots {
			bottom: -15px;

			.slick-dots {

				li {
					width: 10px;
					height: 10px;

					button {
						border: 1px solid #3F4040;
					}

					&.slick-active {

						button {
							background: #3F4040;
						}
					}
				}
			}
		}

	/* CUSTOM SLIDER */
	.custom-slider-cont {
		padding: 30px;

		.custom-slider-prev {
			left: 0;
		}
		.custom-slider-next {
			right: 0;		
		}
	}
}