/* TV */
.tv {
	
	padding: 0;

	.comment {
		padding: 30px;
		margin: 0;
	}
}

	.tv__main-gallery-cont {
		
		.tv__main-gallery {
			margin-bottom: 10px;
			
			.tv__main-gallery-it {
				padding: 0 20px;

				.boxstory {

					.boxstory__content {
						padding: 10px 100px 10px 10px;

						.boxstory__title {
						    height: 58px;
							font-size: 18px;
							font-family: 'din-condensed-bold', sans-serif;
						}

						.boxstory__date {
						}

						.boxstory__link {
						    top: 50%;
						    bottom: auto;
						    margin-top: -12px;
						    padding: 4px 5px;
						    color: white;
						    font-size: 10px;
						    text-transform: uppercase;
						    background: #911A1D;
						}
					}
				}
			}
		}

		.gallery-slider-arrow {
			padding: 0;
			max-width: 100%;

			.tv-slider-trip-prev,
			.tv-slider-trip-next,
			.tv-slider-cor-prev,
			.tv-slider-cor-next,
			.tv-slider-factoid-prev,
			.tv-slider-factoid-next {
				display: inline-block;
				width: 14px;
				height: 26px;
				background: url('../img/icons.png') no-repeat;
				background-position: 0 -266px;
			}

			.tv-slider-trip-next,
			.tv-slider-cor-next,
			.tv-slider-factoid-next {
				margin-left: 30px;
				background-position: 0 -293px;
			}
		}
	}

	.tv__banner {
		position: relative;
	}

		.tv__banner-img {

			img {
				width: 100%;
				display: block;
			}
		}

		.tv__banner-content {
			position: absolute;
			top: 50%;
			left: 40px;
			width: 100%;
			max-width: 380px;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
		}

			.tv__banner-logo {
				display: block;
				text-align: center;
				margin-bottom: 10px;

				img {
					display: inline-block;
				    width: 100%;
				    max-width: 180px;
				}
			}

			.tv__banner-title {
				color: #cbc4c6;
				font-size: 36px;
				font-family: 'din-pro-bold', sans-serif;
				text-align: center;
				margin-bottom: 6px;
			    max-height: 82px;
			    overflow: hidden;
			}

			.tv__banner-text {
				color: white;
				font-size: 20px;
				font-family: 'din-regular', sans-serif;
				margin-bottom: 10px;
				text-align: center;
				max-height: 85px;
				overflow: hidden;
			}

			.tv__banner-button {

				&.form__button-block {
				}

				.button.type2 {
				}
			}

	.tv__player {
	}

		.tv__player-video {

			iframe {
				display: block;

				&.youtube {
					width: 100%;
				}
			}
		}

		.tv__player-body {
			position: relative;
			padding: 20px 30px 40px;
			border-top: 2px solid #454546;
			background: #000;

			.share {
				top: 20px;
				right: 30px;
				background: transparent;

				.share-button {
					color: white;
				}
			}
		}

			.tv__player-content {
				position: relative;
				padding-right: 240px;
			}

				.tv__player-title {
					color: #c2c2c2;
					font-size: 26px;
					font-family: 'din-pro-bold', sans-serif;
					letter-spacing: 1px;
					display: block;
					margin-bottom: 10px;
				}

				.tv__player-desc {
					display: block;
					margin-bottom: 20px;

					> li {
						color: white;
						font-size: 12px;
						font-family: 'din-regular', sans-serif;
						display: inline-block;
						padding: 0 10px;
						border-right: 1px solid #fff;

						&:first-child {
							padding-left: 0;
						}
					}
				}

				.tv__player-misc {

					.tv__player-misc-button {
						display: inline-block;
						margin-right: 20px;
						vertical-align: middle;

						a {
							display: block;
							color: white;
							font-size: 16px;
							font-family: 'din-regular', sans-serif;
							letter-spacing: 1px;

							.fa-inverse {
								color: #000;
							}
						}
					}
				}

		.tv__player-subcontent {
			padding: 10px 30px 40px;
			background: #000;

			.tv__player-subcontent-title {
				color: #fff;
				font-size: 24px;
				font-family: 'din-medium', sans-serif;
				margin-bottom: 10px;
				text-transform: uppercase;

				span {
					color: #930005;
				}
			}
			.tv__player-subcontent-subtitle {
				color: #fff;
				font-size: 22px;
				font-family: 'din-medium', sans-serif;
				margin-bottom: 10px;
			}
			.tv__player-subcontent-text {
				color: #fff;
				font-size: 18px;
				font-family: 'din-light', sans-serif;
			}
		}

	.tv__label {
		padding: 20px 20px 10px;
		background: #930005;
	}

		.tv__label-title {
			color: #f0cf83;
			font-size: 18px;
			font-family: 'din-condensed-bold', sans-serif;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		.tv__label-list {

			> li {
				display: inline-block;
				margin-right: 20px;

				.tv__label-link {
					display: block;
					color: white;
					font-size: 18px;
					font-family: 'din-condensed-bold', sans-serif;
					text-transform: uppercase;
					padding: 2px 10px;
					letter-spacing: 2px;

					&.active {
						border-bottom: 3px solid #000;
					}
				}
			}
		}

	.sidebar__list-video {
		background: #F4F2F2;
		padding: 20px;
		max-height: 416px;
		overflow-y: auto;

		> li {
			margin-bottom: 20px;
		}

		> li:last-child {
			margin-bottom: 0;
		}

		.sidebar__list-video-it {
			position: relative;
			padding-left: 80px;
			min-height: 70px;

			.sidebar__list-video-img {
				width: 70px;
				height: 70px;
				position: absolute;
				top: 0;
				left: 0;

				img {
					display: block;
					width: 100%;
				}
			}

			.sidebar__list-video-content {

				.sidebar__list-video-title {
					font-family: 'din-pro-bold', sans-serif;
					max-height: 39px;
					overflow: hidden;
					margin-bottom: 5px;
				}

				.sidebar__list-video-text {
					font-size: 12px;
					height: 35px;
					overflow: hidden;
				}

				.sidebar__list-video-small {
					font-size: 10px;
					padding-top: 4px;

					span {
						display: block;
						padding-top: 3px;
					}
				}
			}

			&.type2 {
				padding-left: 140px;
				min-height: 120px;

				.sidebar__list-video-img {
					width: 120px;
					height: 120px;

					.sidebar__list-video-icon {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);

						img {
							display: block;
							width: 40px;
						}
					}
				}

				.sidebar__list-video-title {
					color: #930005;
				}

				.sidebar__list-video-text {
					font-family: 'din-medium', sans-serif;
				}
			}
		}
	}

@include breakpoint(desktop) {
	/* TV */
	.tv {

		.comment {
		}
	}

		.tv__banner {
		}

			.tv__banner-img {

				img {
				}
			}

			.tv__banner-content {
			}

				.tv__banner-logo {

					img {
					    max-width: 140px;
					}
				}

				.tv__banner-title {
				    font-size: 26px;
				    max-height: 57px;
				}

				.tv__banner-text {
					font-size: 18px;
					max-height: 76px;
				}

				.tv__banner-button {

					&.form__button-block {
					}

					.button.type2 {
					}
				}

		.tv__player {
		}

			.tv__player-video {

				iframe {

					&.youtube {
					}
				}
			}

			.tv__player-body {

				.share {

					.share-button {
					}
				}
			}

				.tv__player-content {
				}

					.tv__player-title {
					}

					.tv__player-desc {

						> li {

							&:first-child {
							}
						}
					}

		.tv__label {
		}

			.tv__label-title {
			}

			.tv__label-list {

				> li {

					.tv__label-link {

						&.active {
						}
					}
				}
			}

	.sidebar__list-video {

		.sidebar__list-video-img {

			img {

			}
		}

		.sidebar__list-video-content {

			.sidebar__list-video-title {

			}

			.sidebar__list-video-text {
				
			}
		}
	}
}

@include breakpoint(tablet) {
	/* TV */
	.tv {

		.comment {
		}
	}
		
		.tv__main-gallery-cont {
			
			.tv__main-gallery {
				
				.tv__main-gallery-it {

					.boxstory {

						.boxstory__content {

							.boxstory__title {

							}

							.boxstory__date {

							}

							.boxstory__link {

							}
						}
					}
				}
			}

			.gallery-slider-arrow {

				.tv-slider-trip-prev,
				.tv-slider-trip-next,
				.tv-slider-cor-prev,
				.tv-slider-cor-next,
				.tv-slider-factoid-prev,
				.tv-slider-factoid-next {
				}

				.tv-slider-trip-next,
				.tv-slider-cor-next,
				.tv-slider-factoid-next {
				}
			}
		}

		.tv__banner {
		}

			.tv__banner-img {

				img {
				}
			}

			.tv__banner-content {
				 max-width: 280px;
			}

				.tv__banner-logo {

					img {
					    max-width: 80px;
					}
				}

				.tv__banner-title {
					font-size: 20px;
					max-height: 45px;
				}

				.tv__banner-text {
					font-size: 16px;
					max-height: 66px;
				}

				.tv__banner-button {

					&.form__button-block {
					}

					.button.type2 {
					}
				}

		.tv__player {
		}

			.tv__player-video {

				iframe {

					&.youtube {
						height: 360px;
					}
				}
			}

			.tv__player-body {

				.share {

					.share-button {
					}
				}
			}

				.tv__player-content {
				}

					.tv__player-title {
					}

					.tv__player-desc {

						> li {

							&:first-child {
							}
						}
					}

		.tv__label {
		}

			.tv__label-title {
			}

			.tv__label-list {

				> li {

					.tv__label-link {

						&.active {
						}
					}
				}
			}

	.sidebar__list-video {

		.sidebar__list-video-img {

			img {

			}
		}

		.sidebar__list-video-content {

			.sidebar__list-video-title {

			}

			.sidebar__list-video-text {
				
			}
		}
	}
}

@include breakpoint(mobile) {
	/* TV */
	.tv {

		.comment {
		}
	}

		.tv__main-gallery-cont {
			
			.tv__main-gallery {
				
				.tv__main-gallery-it {

					.boxstory {

						.boxstory__content {

							.boxstory__title {

							}

							.boxstory__date {

							}

							.boxstory__link {

							}
						}
					}
				}
			}

			.gallery-slider-arrow {

				.tv-slider-trip-prev,
				.tv-slider-trip-next,
				.tv-slider-cor-prev,
				.tv-slider-cor-next,
				.tv-slider-factoid-prev,
				.tv-slider-factoid-next {
				}

				.tv-slider-trip-next,
				.tv-slider-cor-next,
				.tv-slider-factoid-next {
				}
			}
		}


		.tv__banner {
		    height: 300px;
		}

			.tv__banner-img {
				height: 100%;
				overflow: hidden;

				img {
					position: relative;
					top: 50%;
					left: 50%;
					width: auto;
					height: 100%;
					transform: translate(-50%, -50%);
				}
			}

			.tv__banner-content {
				left: 50%;
				width: 280px;
				margin-left: -140px;
				padding: 0 20px;
			}

				.tv__banner-logo {

					img {
					}
				}

				.tv__banner-title {
					font-size: 18px;
				}

				.tv__banner-text {
				}

				.tv__banner-button {

					&.form__button-block {
					}

					.button.type2 {
					}
				}

		.tv__player {
		}

			.tv__player-video {
				padding-bottom: 72px;

				iframe {

					&.youtube {
						height: 160px;
					}
				}
			}

			.tv__player-body {
				padding: 10px 20px;

				.share {
					position: relative;
					top: auto;
					right: auto;

					.share-button {
					}
				}
			}

				.tv__player-content {
					padding: 0;
				}

					.tv__player-title {
					}

					.tv__player-desc {
						margin-bottom: 20px;

						> li {
							font-size: 11px;

							&:first-child {
							}
						}
					}

					.tv__player-misc {
						 margin-bottom: 20px;

						.tv__player-misc-button {

							a {
								font-size: 14px;

								.fa-inverse {
								}
							}
						}
					}

		.tv__player-subcontent {
			padding: 10px 20px 30px;

			.tv__player-subcontent-title {
				span {
				}
			}
			.tv__player-subcontent-subtitle {
			}
			.tv__player-subcontent-text {
			}
		}
		
		.tv__label {
		}

			.tv__label-title {
			}

			.tv__label-list {

				> li {

					.tv__label-link {

						&.active {
						}
					}
				}
			}

	.sidebar__list-video {

		.sidebar__list-video-img {

			img {

			}
		}

		.sidebar__list-video-content {

			.sidebar__list-video-title {

			}

			.sidebar__list-video-text {
				
			}
		}
	}
}