// FONT FAMILY
$font_idx: 1;
$font_default: Helvetica, Arial, sans-serif !default;

// Font Family Ex. (name, 'fonts/path')
$font_family: (
    avenir: 'fonts/avenir-roman',
    din-alternate-Bold: 'fonts/din-alternate-bold',
    din-condensed-Bold: 'fonts/din-condensed-bold',
    din-light: 'fonts/din-light',
    din-medium: 'fonts/din-medium',
    din-pro-bold: 'fonts/din-pro-bold',
    din-pro-regular: 'fonts/din-pro-regular',
    din-regular: 'fonts/din-regular',    
); 

// BUTTONS
// Default Button Ex. (button-class, background-code, font-color)
$buttons:
    ('btn-red', #D9534F, #FFFFFF),
    ('btn-blue', #337AB7, #FFFFFF),
    ('btn-green', #5CB85C, #FFFFFF);

// text-align
$align: left center right;

// vertical-align
$vertical-align: top middle bottom;

// float
$float: left right;

// position
$position: top right bottom left;

// media-query
$media-query:
    (laptop, (min-width: 1366px)),
    (desktop, (max-width: 1199px)),
    (wide, (max-width: 991px)),
    (tablet, (min-width: 768px) and (max-width: 991px)),
    (mobile, (max-width: 767px)),
    (small-mobile, (max-width: 360px));