@import "bourbon";

/* ABSTRACTS */
@import
    '../Abstracts/variables',
    '../Abstracts/functions',
    '../Abstracts/mixins'; 


.home {
}

	.home-video-block {
		padding: 30px 20px 20px;
		background: url('../img/home-video-bg.jpg') no-repeat;
		background-size: cover;

		.boxstory {
			box-shadow: none;
			border: none;

			.boxstory__content {
				background: transparent;

				.boxstory__title {
					color: white;
				}
				.boxstory__date {
					color: white;					
				}
				.boxstory__text {
					color: white;					
				}
				.boxstory__link {
					color: white;					
				}
			}
		}
	}
