
        </div>
        <!-- CONTAINER -->
    </div>
    <!-- WRAPPER -->

    <!-- FOOTER -->
    <footer>
        <div class="footer__block">
            <ul class="footer__list">
                <li><a href="#" class="social">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a></li>
                <li><a href="#" class="social">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a></li>
                <li><a href="#" class="social">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a></li>
            </ul>
        </div>

        <div class="footer__block">
            <ul class="footer__list">
                <li><a href="#" class="link">About Us</a></li>
                <li><a href="#" class="link">TERMS AND CONDITIONS</a></li>
                <li><a href="#" class="link">Contact</a></li>
            </ul>
        </div>

        <div class="footer__block">
            <small class="copyright">&copy; Copyright Supermusic ID. All rights reserved Supermusic ID is part of Djarum Super</small>
        </div>
    </footer>
    <!-- FOOTER -->

    <!-- MODALS -->
    <!-- MODAL LOGIN -->
    <div id="modalLogin" class="modal fade" role="dialog">

        <div class="modal-dialog">

            <!-- MODAL CONTENT-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title form__title">Log in</h4>
                </div>
                <div class="modal-body">
                    <form action="" class="form">
                        <div class="form__text">Daftar jadi member SuperMusic.id, dan dapatkan banyak keuntungan</div>
                        
                        <div class="form__block">
                            <label for="" class="label">Email</label>

                            <input type="text" class="input">
                        </div>

                         <div class="form__block margin-bottom-5">
                            <label for="" class="label">Password</label>

                            <input type="password" class="input">
                        </div>

                        <div class="form__block clearfix">
                            <input id="remember" type="checkbox" class="cb">

                            <label for="remember" class="label small cb-dummy float-left">Remember me</label>

                            <a href="#" class="form__link float-right">Forgot Password?</a>
                        </div>

                        <div class="form__button-block form-button">
                            <button class="button">Log In</button>
                            <button class="button type2">Sign Up</button>
                        </div>

                        <div class="form__text-small">If you have not created an account yet, then please sign up first. Or you can sign up using third party accounts.</div>
                    </form>              
                </div>

                <div class="modal-footer">
                    <div class="form__social-block">
                        <a href="#" class="social-link"></a>
                        <a href="#" class="social-link tw"></a>
                        <a href="#" class="social-link gp"></a>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL REGIS 1 -->
    <div id="modalRegis1" class="modal fade" role="dialog">

        <div class="modal-dialog">

            <!-- MODAL CONTENT-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title form__title">Registrasi</h4>
                    <div class="modal-step">Step <span>1</span>/2</div>
                </div>
                <div class="modal-body">
                    <form action="" class="form">
                        <div class="form__text">Daftar jadi member SuperMusic.id, dan dapatkan banyak keuntungan</div>
                        
                        <div class="form__block">
                            <label for="" class="label">Nama lengkap <span>*</span></label>

                            <input type="text" class="input">
                        </div>

                        <div class="form__block">
                            <label for="" class="label">Email <span>*</span></label>

                            <input type="email" class="input">
                        </div>

                        <div class="form__block clearfix">
                            <label for="" class="label">Jenis Kelamin <span>*</span></label>

                            <input id="pria" type="radio" class="rb" name="gender">

                            <label for="pria" class="label small rb-dummy float-left margin-right-20">Pria</label>

                            <input id="wanita" type="radio" class="rb" name="gender">

                            <label for="wanita" class="label small rb-dummy float-left">Wanita</label>
                        </div>

                        <div class="form__block">
                            <label for="" class="label">Tanggal lahir <span>*</span></label>

                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="select__block">
                                        <select name="" id="">
                                            <option value="">Year</option>
                                            <option value="">1990</option>
                                            <option value="">1991</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="select__block">
                                        <select name="" id="">
                                            <option value="">Month</option>
                                            <option value="">September</option>
                                            <option value="">Oktober</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="select__block">
                                        <select name="" id="">
                                            <option value="">Day</option>
                                            <option value="">23</option>
                                            <option value="">24</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form__block">
                            <label for="" class="label">Music Genre</label>

                            <input type="text" class="input">
                        </div>

                        <div class="form__button-block form-button">
                            <button class="button">Next</button>
                        </div>
                    </form>              
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL REGIS 2 -->
    <div id="modalRegis2" class="modal fade" role="dialog">

        <div class="modal-dialog">

            <!-- MODAL CONTENT-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title form__title">Registrasi</h4>
                    <div class="modal-step">Step 1/<span>2</span></div>
                </div>
                <div class="modal-body">
                    <form action="" class="form">
                        <div class="form__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
                        
                        <div class="form__block">
                            <label for="" class="label">Kota <span>*</span></label>

                            <div class="select__block">
                                <select name="" id="">
                                    <option value="">--------</option>
                                    <option value="">Jakarta</option>
                                    <option value="">Bandung</option>
                                </select>
                            </div>
                        </div>

                        <div class="form__block">
                            <label for="" class="label">Nomor handphone <span>*</span></label>

                            <input type="text" class="input">
                        </div>

                        <div class="form__block">
                            <label for="" class="label">Password <span>*</span></label>

                            <input type="password" class="input">
                        </div>

                        <div class="form__block">
                            <label for="" class="label">Confirm Password <span>*</span></label>

                            <input type="password" class="input">
                        </div>

                        <div class="form__block clearfix">
                            <input id="terms" type="checkbox" class="cb" name="gender">

                            <label for="terms" class="label small cb-dummy float-left margin-right-20">I agree to the <a href="#" class="form__link">Term and Conditions*</a></label>
                        </div>

                        <div class="form__block clearfix">         
                            <input id="robot" type="checkbox" class="cb" name="gender">

                            <label for="robot" class="label small cb-dummy float-left">I’m not a Robot</label>
                        </div>

                        <div class="form__button-block form-button">
                            <button class="button">Submit</button>
                        </div>
                    </form>              
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL REGIS SUCCESS -->
    <div id="success" class="modal fade" role="dialog">

        <div class="modal-dialog">

            <!-- MODAL CONTENT-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title form__title">Registrasi</h4>
                </div>
                <div class="modal-body">
                    <form action="" class="form">
                        <div class="form__text">Daftar jadi member SuperMusic.id, dan dapatkan banyak keuntungan</div>
                        
                        <div class="form__block">
                            <label for="" class="label">Nama lengkap <span>*</span></label>

                            <input type="text" class="input" value="Jonathan Doe" disabled>
                        </div>

                        <div class="form__block">
                            <label for="" class="label">Email <span>*</span></label>

                            <input type="email" class="input" value="Jonathan@gmail.com" disabled>
                        </div>

                        <div class="form__block clearfix">
                            <label for="" class="label">Jenis Kelamin <span>*</span></label>

                            <input id="pria" type="text" class="input" name="gender" value="Pria" disabled>
                        </div>

                        <div class="form__block">
                            <label for="" class="label">Tanggal lahir <span>*</span></label>

                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="select__block">
                                        <select name="" id="">
                                            <option value="">Year</option>
                                            <option value="">1990</option>
                                            <option value="">1991</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="select__block">
                                        <select name="" id="">
                                            <option value="">Month</option>
                                            <option value="">September</option>
                                            <option value="">Oktober</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="select__block">
                                        <select name="" id="">
                                            <option value="">Day</option>
                                            <option value="">23</option>
                                            <option value="">24</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form__block">
                            <label for="" class="label">Kota <span>*</span></label>

                            <input type="text" class="input" value="Jakarta, Jakarta Selatan" disabled>
                        </div>

                        <div class="form__block">
                            <label for="" class="label">Nomor handphone <span>*</span></label>

                            <input type="text" class="input" value="085210009101" disabled>
                        </div>

                        <div class="form__block">
                            <label for="" class="label">Share this link to <span style="color: #090909; font-family: DIN-Medium, sans-serif;">get 100 point</span></label>

                            <div class="share-link">
                                <span>https://Supermusic.id.link</span>
                                <a href="#">Share link</a>
                            </div>
                        </div>

                        <div class="form__button-block form-button">
                            <button class="button">Check Profile</button>
                        </div>
                    </form>              
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/vendor.min.js" ></script>
    <script src="assets/js/plugins.min.js" ></script>
    <script src="assets/js/app.min.js" ></script>
    
    @@if (context.script) {
      @@for(var i=0;i<script.length;i++) {
        <script src="`+script[i]+`" ></script>
      }
    }
  </body>
</html>