<!-- HEADER -->
<header>
    <div class="header__block clearfix">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                    </button>
                    <i class="fa fa-search search-trigger search-button-mobile"></i>

                    <a class="navbar-brand logo" href="#"><img src="assets/img/logo.png" alt=""></a>

                    <div class="search-bar">
                        <form action="" class="search-form">
                            <input type="text" class="form-control search-input" placeholder="Search...">
                            <i class="fa fa-close search-close"></i>
                        </form>
                    </div>
                </div>
                <div class="collapse navbar-collapse menu" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class="menu-link active">HOME</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle menu-link" data-toggle="dropdown" href="#">SUPER NEWS
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Super Buzz</a></li>
                                <li><a href="#">Super Icon</a></li>
                                <li><a href="#">Super GEars</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="menu-link">SUPER EXCLUSIVE</a></li>
                        <li><a href="#" class="menu-link">SUPER LOUD</a></li>
                        <li><a href="#" class="menu-link">SUPER BAND</a></li>

                        <li><a href="#" class="menu-link">SMTV</a></li>
                        <li><a href="#" class="menu-link">SUPER QUIZ</a></li>
                        <li><a href="#" class="menu-link search search-button search-trigger">Search</a></li>
                    </ul>
                    <!-- BEFORE LOGIN -->
                    <ul class="nav navbar-nav navLogin" style="display: block;">
                        <li><a href="#" class="menu-link">Login</a></li>
                        <li><a href="#" class="menu-link regis">Register</a></li>
                    </ul>
                    <!-- AFTER LOGIN -->
                    <ul class="nav navbar-nav navLogin" style="display: none;">
                        <li><a href="#" class="menu-link prof-pic"><img src="http://via.placeholder.com/250x250" alt=""></a></li>
                        <li><a href="#" class="menu-link prof-name active">John Doe</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- HEADER -->